.opel-page{
    .top-block{ background-image: url(../images/opelbg.jpg);
        .bot{ justify-content: flex-end;}
        .brand-wrap{ margin-left: 20px;}
        .dropdown{ width: 200px; border:none; left: auto; top: 50%; right: 50%; transform:translateY(-50%);
            a{ color: #8f8f8f; white-space: nowrap; padding: 10px 0;
                &:hover{ background-color: #eb7073; color: #fff;}
            }
            li:last-child a{ padding-bottom: 15px;}
            li:first-child a{ padding-top: 15px;}
        }
    }
    .top-block-mobile{background-image: url(../images/opelbg.jpg);}
    .tabs{
        .content{ padding-top: 43px;}
        .tabs-nav{ display: flex; justify-content:center;}
        .tab-but{ width: 290px; height: 80px; display: flex; justify-content: center; align-items: center;  font-weight: 600; font-size: 30px; cursor: pointer; color: #8f8f8f; position: relative;
            &:before{content: ''; display: block; width: 100%; height: 1px; background-color: #e6e6e6; position: absolute; left: 0; bottom: 0;}
            &:hover{  color: #eb7073;}
            &.active{  color: #eb7073;
                &:before{ height: 3px; background-color: #eb7073;}
            }
        }
        .tab-content{ padding-top: 50px;}
        .one-tab{ display: none;
            &.active{ display: block;}
        }
        .tab-wrap{ min-height: 780px; position: relative;
            &.one{ background-image: url(../images/tab1.jpg); background-position: 50%; background-size:cover; padding-bottom: 40px;
                .imgs{ position: absolute; right: calc(100% + 48px); display: flex; flex-direction: column; justify-content: space-between; top: 234px;
                    img{max-width: none; margin-top:20px;}
                }
                .content-taba{ position: relative; padding-top: 66px;}
                .ramka{ position: absolute; top: 94px; left: 0; width: 100%; height: calc(100% - 26px); display: block; pointer-events: none;
                    &:before{content: ''; width: 5px; height: 100%; display: block; position: absolute; right: -290px;
                        background: #eb7073; /* Old browsers */
                        background: -moz-linear-gradient(top,  #eb7073 0%, #7b5999 100%); /* FF3.6-15 */
                        background: -webkit-linear-gradient(top,  #eb7073 0%,#7b5999 100%); /* Chrome10-25,Safari5.1-6 */
                        background: linear-gradient(to bottom,  #eb7073 0%,#7b5999 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eb7073', endColorstr='#7b5999',GradientType=0 ); /* IE6-9 */
                    }

                    &:after{content: ''; width: 2000%; height: 5px; display: block; position: absolute; bottom: 0; right: -290px; background-color: #7b5999;}
                    .rrr{width: 534px; height: 5px; display: block; position: absolute; top: 0; right: -290px; background-color: #eb7073;}
                }
            }
            .mbox{max-width: 1170px;}
        }

        .services-tab{ width: 100%; max-width: 1745px; margin: 0 auto;
            .services-wrap{display: flex;  justify-content: space-around;margin: 0 auto; align-items: center; flex-wrap: wrap; align-content: center; padding: 60px 0;
                .service-item{width: 260px; height: 160px; display: flex; flex-wrap: wrap; 
                    .image-wrap{width: 100%; text-align: center;padding-top: 20px;
                        a{text-decoration: none; color: #4f4f4f;
                            img:nth-child(2){display: none;

                            } 
                        }
                        &:hover{box-shadow: 0 0 30px 0 rgba(0,0,0,0.3); cursor: pointer;
                            a{
                                img:nth-child(1){display:none;
                                    }   
                                img:nth-child(2){display: inline;
                                    }  
                            } 
                        }        
                    } 
                }
            }
        }

        .title{ padding: 0 0 32px;
            h3{ max-width: 876px; font-size: 48px; font-weight: 900; color: #eb7073; margin: 0;
                p{ margin: 0;}
            }
        }
        .text{ padding-left: 145px;     font-weight: 300; color: #d0d0d0; font-size: 16px; line-height: 30px;
            h5{ color: #fff; font-weight: 600; font-size: 30px; margin: 0 0 23px;}
            p{ margin: 0;}
            .phone{font-size: 48px; font-weight: 900; color: #eb7073; padding:26px 0 0;
                h6{ margin: 0 0 22px;font-size: 24px; font-weight: 700; color: #eb7073;}
            }
            ul{ margin: 0;}
        }
        form{
            .wrapper-for-form{ width: 100%; display: flex;justify-content: space-between;}
            .column-f{ width: 840px; margin-right: 30px;}
            .column-r{ width:260px; }
            .row{ justify-content: flex-start; flex-wrap: wrap; margin-bottom: 20px;}
            .item{ width: 260px; margin-bottom: 30px; margin-right: 30px;
                &:last-child{ margin-right: 0;}
            }
            .jq-selectbox__trigger{border: none;}
            .jq-selectbox__trigger-arrow{border-top: 8px solid #ff0400;border-right: 8px solid transparent; border-left: 8px solid transparent; top: 23px; right: 30px;}
            .jq-selectbox__select{ width: 100%; height: 100%; background: #fff;  border-radius: 5px; box-shadow: none; font-family: 'ProximaNova'; font-size: 16px; font-weight:400; color:#595959; text-shadow: none; line-height: 60px;padding: 0 45px 0 30px;}
            .jq-selectbox{ width: 100%;height: 60px;}
            input{ width: 100%; height: 60px; background-color: #fff; border:none;border-radius: 5px; padding-left: 30px;}
            .row-title{ font-size: 20px; font-weight: 700; color: #fff; text-transform: uppercase;}
            .button{ width: 100%; border-radius: 5px; background-color: #eb7073; border:none; height: 60px;}
        }
        

    }
    .titles{ text-align: center;
        h2{  font-size: 48px; font-weight: 900; color: #eb7073; margin: 0;}
    }
    .choise-wrap{ padding-top: 20px;
        .content{}
        .list{
            ul{ padding: 30px 0; list-style-type:none; display: flex; justify-content: flex-start;flex-wrap: wrap; margin: 0 auto;}
            li{ width: 260px; height: 180px; position: relative; margin-bottom: 20px;
                &:hover{ box-shadow: 0px 0px 37.5px 12.5px rgba(44, 43, 40, 0.08); z-index: 160;
                    a{color: #eb7073;}
                }
                .img{ height: 125px; width: 100%; display: flex; align-items: center; justify-content: center;}
            }
            a{ color: #8f8f8f; text-transform: uppercase; font-size: 16px; font-weight: 16px; position: relative; width: 100%; height: 100%; display: block; text-decoration: none; text-align: center;}
        }
        .ttl{ font-weight: 900; font-size: 36px; color: #4f4f4f; border-bottom: 1px solid #f2f2f2; padding-top: 34px;
            .bound{ display: flex; justify-content: flex-start; align-items: center; height: 70px;
                img{ margin-right: 15px;}
            }
        }
    }
    .oil-wrap{min-height: 655px; background-image: url(../images/sale01.jpg); background-size:cover; background-position: left 50%; background-color: #000;
        .oil{ padding-top: 55px;}
        .ttl{font-weight: 600; color: #fff; font-size: 60px; margin-bottom: 10px;}
        .price{ color: #eb7073; line-height: 85px;
            span{ font-size: 120px; font-weight: 900;}
            b{ font-size:30px; font-weight: 400;}
        }
        .wrks{ font-size: 20px; color: #fff; text-transform: uppercase; font-weight: 400; margin-bottom: 33px;}
        .bonus{ height: 70px; position: relative; border-radius: 35px; border:2px solid #eb7073;  color: #fff; font-size: 24px; display: flex; justify-content: center; align-items: center; width: 490px; padding-left: 45px; margin-bottom: 70px;
            &:before{ height: 70px; width: 70px; content: ''; display: block; position: absolute; top: -2px; left: -2px; background-image: url(../images/wheelww.png);}
        }
        .zakaz{ margin-bottom: 21px;
            a{ color: #fff; font-weight: 700; font-size: 24px; display: flex; justify-content: center; align-items: center; border:5px solid #eb7073; height: 80px; width: 244px; text-decoration: none; cursor: pointer;
                &:hover{ background-color: #eb7073; color: #fff;}
            }
        }
        .sub{ font-size: 24px; color: #fff;
            b{ font-size: 30px; font-weight: 600;}
        }
    }
    .autosalon-wrap{
        .mbox{max-width: 1820px; background-image: url(../images/opopop.jpg); background-size:cover; background-position: left 50%; background-color: #000; min-height: 960px; overflow: hidden;}
        .content{ position: relative; width: 100%;padding: 62px 0 0 80px;
            .ramka{ position: absolute; top: 94px; left: 0; width: 100%; height: calc(100% - 26px); display: block; pointer-events: none;
                &:before{content: ''; width: 5px; height: 100%; display: block; position: absolute; right: 90px;
                    background: #eb7073; /* Old browsers */
                    background: -moz-linear-gradient(top,  #eb7073 0%, #7b5999 100%); /* FF3.6-15 */
                    background: -webkit-linear-gradient(top,  #eb7073 0%,#7b5999 100%); /* Chrome10-25,Safari5.1-6 */
                    background: linear-gradient(to bottom,  #eb7073 0%,#7b5999 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eb7073', endColorstr='#7b5999',GradientType=0 ); /* IE6-9 */
                }

                &:after{content: ''; width: 2000%; height: 5px; display: block; position: absolute; bottom: 0; right: 90px; background-color: #7b5999;}
                .rrr{width: 534px; height: 5px; display: block; position: absolute; top: 0; right: 90px; background-color: #eb7073;}
            }
        }
        .text-wrap{ width: 100%; max-width: 670px;}
        .ttl{ margin-bottom: 18px;
            h3{ margin: 0;font-size: 48px; font-weight: 900; color: #eb7073;}
        }
        .sub{ font-size: 28px; font-weight: 300; line-height: 40px; margin-bottom: 45px;
            p{ margin: 0; color: #eb7073;
            &:last-child{ color: #fff; font-size: 30px; font-weight: 700;}
            }
        }
        .base{ background-color: #402728;border-left: 5px solid #eb7073; font-size:24px; font-weight: 600;color: #eb7073; width: 545px; height: 80px; display: flex; justify-content: flex-start; align-items: center; padding-left: 43px; margin-bottom: 70px;
            img{ margin-right: 31px;}
        }
        ul{ list-style-type: none; padding: 0; margin: 0;
            li{ width: 615px; height: 80px; position: relative; margin-bottom: 10px;}
            a{ position: relative; width: 100%; height: 100%; display: block; text-decoration: none;background-color: rgba(235, 112, 115, 0.1); border-radius: 40px; color: #fff; font-weight: 400; font-size: 20px; cursor: pointer; text-align: center; padding-top: 28px;
                &:hover{ text-decoration: underline; background-color: rgba(235, 112, 115, 0.8);}
                &:before{ content: ''; display: block; width: 8px; height: 8px; background-color: #fff; border-radius: 50%; position: absolute; left: 36px; top: 36px;}
            }
        }
    }
}
@media screen and (max-width: 1600px) {
    .opel-page .tabs .services-tab{max-width: 1036px;}
}
@media screen and (max-width: 1160px) {
    .opel-page .tabs .tab-wrap.one .ramka{ display: none;}
    .opel-page .choise-wrap .list ul{ justify-content: space-around;}
}

@media screen and (max-width: 1024px) {
    .opel-page .tabs form .wrapper-for-form{ justify-content: space-around;}
    .opel-page .tabs form .column-f{ width: 260px;}
    .opel-page .tabs form .item{ margin-right: 0;}
}
@media screen and (max-width: 992px) {
    .opel-page .tabs .text{ padding-left: 0;}
    .opel-page .tabs .tab-content{ padding-top: 0;}
}
@media screen and (max-width: 666px) {
    .opel-page .tabs form .wrapper-for-form{flex-wrap: wrap;}
    .opel-page .tabs form .column-f{ margin-right: 0;}
    .opel-page .oil-wrap .ttl{ font-size: 40px;}
    .opel-page .oil-wrap .price span{ font-size: 80px;}
    .opel-page .oil-wrap .bonus{ width: 100%; padding: 10px; display: block; text-align: center; height: auto;}
    .opel-page .oil-wrap .bonus:before{ display: none;}
    .opel-page .oil-wrap .sub{ font-size: 16px;}
    .opel-page .oil-wrap .sub b{ font-size: 20px;}
    .opel-page .oil-wrap .zakaz a{ margin: 0 auto;}
}
@media screen and (max-width: 480px) {
    .opel-page .tabs .tab-but{ font-size: 16px; width: 100px;}
    .opel-page .tabs .text .phone,
    .opel-page .tabs .title h3{ font-size: 24px;}
    .opel-page .tabs .text .phone h6,
    .opel-page .tabs .title h3{ font-size: 20px;}
}


