@media screen and (max-width: 1920px) {
}
@media screen and (max-width: 1600px) {

  /* item-map-info-main -------------------------------------------------------------- */

  /* item-map-garanty */

  .item-map-garanty {

	.item-map-garanty-bottom {
	  .item-map-garanty-img {
		&:before { width: 23.9%; }
		&:after { left: 23.9%; }
	  }
	}

  }

  /* /item-map-garanty */

  /* /item-map-info-main -------------------------------------------------------------- */

}
@media screen and (max-width: 1366px) {

  /* about -------------------------------------------------------------- */

  /* about-top */

  .about-top {

	.about-logo { width: 400px;
	  h2 { font-size: 52px; line-height: 56px; }
	  p { font-size: 18px; }
	  .about-logo-bottom {
		p { font-size: 22px; letter-spacing: 12px; }
	  }
	}

	.about-top-brends { width: calc(100% - 425px); }

  }

  /* /about-top */

  /* about-circles */

  .about-circles-wrap {

	.about-circles-row {
	  .about-circles-items { padding: 50px 35px 0 35px;
		.about-circles-item {
		  .about-circle-img { width: 175px; height: 175px; }
		}
	  }
	}

  }

  /* about-circles */

  /* /about -------------------------------------------------------------- */

  /* item-map-info-main -------------------------------------------------------------- */

  /* item-map-uses */

  .item-map-uses {

	.item-map-uses-wrap {
	  &:before { left: 0; }

	  .item-map-section-content {
		&:after { width: 100%; }
	  }

	}

  }

  /* /item-map-uses */

  /* /item-map-info-main -------------------------------------------------------------- */

}
@media screen and (max-width: 1280px) {

  /* item-map-info-main -------------------------------------------------------------- */

  /* item-map-garanty */

  .item-map-garanty {

	.item-map-garanty-bottom {
	  .item-map-garanty-img {
		&:before { width: 23.7%; }
		&:after { left: 23.7%; }
	  }
	}

  }

  /* /item-map-garanty */

  /* item-map-video */

  	.item-map-video{
	  .item-map-section-title{
		h3{ font-size: 32px; padding-right:240px;}
	  }
	}

  /* /item-wrap-video */

  /* /item-map-info-main -------------------------------------------------------------- */

}
@media screen and (max-width: 1024px) {

  /* about -------------------------------------------------------------- */

  /* about-top */

  .about-top {

	.about-logo { width: 350px;
	  h2 { font-size: 42px; line-height: 46px; }
	  p { font-size: 16px; }
	  .about-logo-bottom {
		p { font-size: 20px; letter-spacing: 8px; }
	  }
	}

	.about-top-brends { width: calc(100% - 375px); }

  }

  /* /about-top */

  /* about-lists */

  .about-lists-wrap {
	.about-lists {
	  .about-list {
		h3 { font-size: 20px; line-height: 1.25; }
	  }
	}
  }

  /* /about-lists */

  /* /about -------------------------------------------------------------- */

  /* item-map-info-main -------------------------------------------------------------- */

  /* item-map-advantages */

  .item-map-advantages {

	.item-map-info-wrap { padding: 75px 0 50px 0; }

	.item-map-advantages-main {

	  .item-map-section-title { margin-bottom: 50px; padding: 0 0 0 90px;
		span {
		  &:after { left: calc(100% + 50px); }
		}
	  }

	  .item-map-advantages-wrap {

		.item-map-advantages-info {

		  .item-map-advantages-info-item {

			&.top-position {
			  &:after { height: 100px; }
			}

			&.bottom-position {
			  .item-map-advantages-text {
				&:after { height: 125px; }
			  }
			}

		  }

		}

	  }

	}

  }

  /* /item-map-advantages */

  /* /item-map-info-main -------------------------------------------------------------- */

}
@media screen and (max-width: 992px) {

  /* about -------------------------------------------------------------- */

  /* about-top */

  .about-top { flex-direction: column; justify-content: flex-start; align-items: center;

	.about-logo { margin-bottom: 20px; width: 100%;
	  h2 { font-size: 62px; line-height: 66px; }
	  p { font-size: 22px; }
	  .about-logo-bottom { max-width: 500px; width: 100%; margin: 0 auto;
		p { font-size: 26px; letter-spacing: 12px; }
	  }
	}

	.about-top-brends { width: 100%;
	  a { height: 125px; }
	}

  }

  /* /about-top */

  /* about-info */

  .about-info-wrap {

	.text-block {
	  p {
		b { font-size: 22px; }
	  }
	  ul {
		li { padding-left: 35px;
		  &:before { left: 15px; }
		}
	  }
	}

	.about-info-bottom {
	  h3 { font-size: 28px; }
	}

  }

  /* /about-info */

  /* about-circles */

  .about-circles-wrap {

	.about-circles-row {
	  .about-circles-items {
		.about-circles-item { width: 33.33%; }
	  }
	}

  }

  /* /about-circles */

  /* about-lists */

  .about-lists-wrap {

	.about-lists { flex-wrap: wrap; justify-content: center;
	  .about-list { width: 50%; margin-bottom: 40px; }
	}

	.about-lists-img { margin-top: -100px; }

  }

  /* /about-lists */

  /* /about -------------------------------------------------------------- */

  /* item-map-info-main -------------------------------------------------------------- */

  /* item-map-uses */

  .item-map-uses {
	.item-map-uses-wrap {
	  &:before { content: ''; display: block; min-height: 0; height: calc(100% - 110px); }

	  .item-map-section-title {
		span {
		  &:before { content: ''; display: block; position: absolute; top: calc(50% - 3px); right: calc(100% + 100px); height: 6px; width: 500px; background-color: #eb7073; }
		}
	  }

	}
  }

  /* /item-map-uses */

  /* item-map-garanty */

  .item-map-garanty {

	.item-map-garanty-top { margin-bottom: 50px;

	  .garanty-car-text { display: none; }

	}

	.item-map-garanty-bottom {

	  .item-map-garanty-text-wrap { width: 100%; padding: 0 15px;
		&:before, &:after { width: calc(100% - 30px); left: 15px; }

		.item-map-garanty-text-main { padding: 50px 30px; min-height: 0;
		  &:before { content: ''; display: block; width: 6px; height: 100%; background-color: #ea7074; position: absolute; left: 0; top: 0; }
		}

	  }

	  .item-map-garanty-img { display: none; }

	}

  }

  /* /item-map-garanty */

  /* item-map-video */

  .item-map-video{
	.item-map-section-title{
	  h3{ font-size: 22px; padding-right: 180px;
		&:before{ width: 140px;}
		&:after{ height: 165px;}
	  }
	}
  }

  /* /item-wrap-video */

  /* /item-map-info-main -------------------------------------------------------------- */

}
@media screen and (max-width: 767px) {

  /* about -------------------------------------------------------------- */

  /* about-top */

  .about-top {

	.about-top-brends { justify-content: center;
	  .about-top-brend-item { width: 50%; }
	}

  }

  /* /about-top */

  /* about-info */

  .about-info-wrap {

	.about-info-img { margin-bottom: 40px; }

	.text-block { font-size: 16px;
	  p {
		b { font-size: 20px; }
	  }
	}

	.about-info-bottom {
	  h3 { font-size: 24px; }
	}

  }

  /* /about-info */

  /* about-circles */

  .about-circles-wrap {

	.about-circles-row {
	  .about-circles-items {
		.about-circles-item { width: 50%; }
	  }
	}

  }

  /* /about-circles */

  /* about-lists */

  .about-lists-wrap {

	.about-lists {
	  .about-list { width: 100%; }
	}

  }

  /* /about-lists */

  /* /about -------------------------------------------------------------- */

  /* item-map-info-main -------------------------------------------------------------- */

  /* item-map-advantages */

  .item-map-advantages {

	.item-map-advantages-main {

	  .item-map-section-title { text-align: center; padding-left: 0; overflow: visible;
		span {
		  &:after { width: 100%; height: 3px; left: 0; top: 100%; }
		}
	  }

	  .item-map-advantages-wrap { flex-direction: column; align-items: flex-start; justify-content: flex-start;
		.item-map-advantages-motor, .item-map-advantages-info { width: 100%; }
		.item-map-advantages-motor { text-align: center; margin-bottom: 20px; }

		.item-map-advantages-info {
		  .item-map-advantages-info-item {
			&.top-position, &.center-position, &.bottom-position { flex-direction: row; align-items: center; justify-content: flex-start;
			  &:before, &:after { display: none; }

			  .item-map-advantages-text { width: calc(100% - 114px); padding-left: 25px; padding-right: 0;
				&:before, &:after { display: none; }
			  }
			}
		  }
		}

	  }

	}

  }

  /* /item-map-advantages */

  /* item-map-uses */

  .item-map-uses {
	.item-map-uses-wrap {

	  .item-map-section-title {
		span {

		  &:after { left: calc(100% + 10px); }
		  &:before { right: calc(100% + 10px); }

		}

	  }

	  .item-map-section-text {
		img { display: none; }
	  }

	}
  }

  /* /item-map-uses */

  /* /item-map-info-main -------------------------------------------------------------- */

  /* fancyboxes -------------------------------------------------------------- */

  /* uses-list-fancybox */

  .fancy-list {
	.where-uses {
	  .where-uses-wrap {
		&:after { height: calc(100% - 20px); }

		.where-uses-title {
		  span { font-size: 28px; }
		}

		.where-uses-subtitle { margin-bottom: 30px; font-size: 20px;
		  span { font-size: 20px; }
		}

		.where-uses-content { flex-direction: column; align-items: center;
		  .where-uses-col { max-width: 480px; width: 100%;

			ul {
			  li { margin-bottom: 10px;
				p { font-size: 16px; }
			  }
			}

			.where-used-button { padding: 20px 10px 0 10px; }
		  }
		}
	  }
	}
  }

  /* /uses-list-fancybox */

  /* /fancyboxes -------------------------------------------------------------- */

}
@media screen and (max-width: 666px) {

  /* item-map-info-main -------------------------------------------------------------- */

  /* item-map-advantages */

  .item-map-advantages {

	.item-map-info-wrap {

	  .item-map-advantages-img { top: 210px; left: 50%; transform: translate(-50%, 0); height: 425px; width: 100%;
		img { max-width: 100%; max-height: 100%; }
	  }

	  .item-map-advantages-main {

		.item-map-section-title { margin-bottom: 500px; overflow: hidden;
		  span { font-size: 26px;
			&:after { height: 3px; left: calc(100% + 15px); top: calc(50% - 3px); width: 1000px; }
		  }
		}

		.item-map-advantages-wrap {

		  .item-map-advantages-motor { padding: 20px;
			&:before, &:after { content: ''; display: block; position: absolute; top: 50%; left: 0; }
			&:before { height: calc(100% + 20px); width: 3px; background-color: #f5b7b9; }
			&:after { height: 3px; width: 30px; background-color: #f5b7b9; }

			span { background-color: transparent; }
		  }

		  .item-map-advantages-info {
			.item-map-advantages-info-item {

			  &.top-position, &.center-position, &.bottom-position { flex-direction: column; align-items: flex-start; justify-content: flex-start; padding: 0 20px 20px 20px;

				.item-map-advantages-item-img { margin-bottom: 20px; }
				.item-map-advantages-text { padding-left: 0; width: 100%; }

			  }

			  &.top-position {

				&:before, &:after { display: block; left: 0; right: auto; top: auto; }
				&:before { width: 100%; height: 3px; bottom: 0; }
				&:after { height: 100%; width: 3px; }

				.item-map-advantages-item-img {
				  &:before, &:after { content: ''; display: block; position: absolute; }

				  &:before { width: calc(100% - 134px); height: 3px; top: 55px; left: 134px; background: rgb(224, 179, 192); background: -moz-linear-gradient(left, rgba(224, 179, 192, 1) 0%, rgba(189, 172, 204, 1) 100%); background: -webkit-linear-gradient(left, rgba(224, 179, 192, 1) 0%, rgba(189, 172, 204, 1) 100%); background: linear-gradient(to right, rgba(224, 179, 192, 1) 0%, rgba(189, 172, 204, 1) 100%); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e0b3c0', endColorstr='#bdaccc', GradientType=1); }
				  &:after { width: 3px; height: calc(100% - 55px); right: 0; top: 55px; background-color: #bdaccc; }

				}

			  }

			  &.center-position, &.bottom-position {

				&:after { content: ''; display: block; position: absolute; left: 0; bottom: 0; right: auto; top: auto; width: calc(100% + 15px); height: 3px; background: rgb(245, 183, 185); background: -moz-linear-gradient(left, rgba(245, 183, 185, 1) 0%, rgba(192, 173, 203, 1) 100%); background: -webkit-linear-gradient(left, rgba(245, 183, 185, 1) 0%, rgba(192, 173, 203, 1) 100%); background: linear-gradient(to right, rgba(245, 183, 185, 1) 0%, rgba(192, 173, 203, 1) 100%); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5b7b9', endColorstr='#c0adcb', GradientType=1); }

				.item-map-advantages-item-img {
				  &:after, &:before { content: ''; display: block; position: absolute; top: 55px; left: 0px; }

				  &:after { width: 20px; height: 3px; background-color: #f5b7b9; }
				  &:before { width: 3px; height: calc(100% - 55px); background-color: #f5b7b9; }

				}

			  }

			}
		  }

		}

	  }

	}

  }

  /* /item-map-advantages */

  /* item-map-uses */

  .item-map-uses { padding: 0; background-position: left top; background-size: 175% 100%;

	.item-map-uses-wrap {
	  &:before { display: none; }

	  .item-map-section-title { margin-bottom: 15px; text-align: left;
		span { font-size: 30px;
		  &:before, &:after { display: none; }
		}
	  }

	  .item-map-section-text {
		p { font-size: 20px;
		  span { font-size: 20px; }
		}
	  }

	  .item-map-section-content { padding: 0 0 60px 0;
		&:before, &:after { display: none; }
	  }

	}

  }

  /* /item-map-uses */

  /* item-map-garanty */

  .item-map-garanty {

	.item-map-garanty-top { padding-top: 30px; margin-bottom: 40px;
	  .item-map-section-title { padding-left: 100px;
		span { font-size: 24px;
		  &:before { right: calc(100% + 75px); width: 3px; bottom: 50%; }
		  &:after { right: calc(100% + 15px); width: 60px; height: 3px; }
		}
	  }
	}

	.item-map-garanty-bottom {
	  .item-map-garanty-text-wrap {
		&:before, &:after { display: none; }
		.item-map-garanty-text-main { padding: 35px 0;
		  &:before, &:after { display: none; }
		}
	  }
	}

  }

  /* /item-map-garanty */

  /* item-map-video */

  .item-map-video{

	.item-map-section-title{ text-align: left;
	  h3{ font-size: 18px; padding-right: 0px; padding-left: 100px;
		&:before, &:after{right:auto;top:auto;}
		&:before{left:20px; width:60px;height:3px;bottom:10px;background: rgb(123,89,152); background: -moz-linear-gradient(left, rgba(123,89,152,1) 0%, rgba(123,89,152,1) 0%, rgba(235,112,115,1) 100%); background: -webkit-linear-gradient(left, rgba(123,89,152,1) 0%,rgba(123,89,152,1) 0%,rgba(235,112,115,1) 100%); background: linear-gradient(to right, rgba(123,89,152,1) 0%,rgba(123,89,152,1) 0%,rgba(235,112,115,1) 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7b5998', endColorstr='#eb7073',GradientType=1 );}
		&:after{left:20px; height: 70px; width:3px;top:calc(100% - 10px);}
	  }
	}

	.video-block {
	  iframe { height: 400px; }
	}

  }

  /* /item-wrap-video */

  /* /item-map-info-main -------------------------------------------------------------- */

  /* fancyboxes -------------------------------------------------------------- */

  /* uses-list-fancybox */

  .fancy-list {
	.where-uses { padding: 35px 0 35px 0;

	  .mbox {
		&:after { content: ''; display: block; position: absolute; top: 0; left: 10px; width: calc(100% - 20px); height: 6px; background: #eb7073; background: -moz-linear-gradient(left, #eb7073 0%, #7b5999 100%); background: -webkit-linear-gradient(left, #eb7073 0%, #7b5999 100%); background: -webkit-gradient(linear, left top, right top, from(#eb7073), to(#7b5999)); background: -o-linear-gradient(left, #eb7073 0%, #7b5999 100%); background: linear-gradient(to right, #eb7073 0%, #7b5999 100%); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eb7073', endColorstr='#7b5999', GradientType=1) }
	  }

	  .where-uses-wrap { padding-top: 30px;
		&:before, &:after { height: 100%; }

		.where-uses-title{
		  span{
			&:after{ display: none;}
		  }
		}

	  }
	}
  }

  /* /uses-list-fancybox */

  /* /fancyboxes -------------------------------------------------------------- */

}
@media screen and (max-width: 479px) {

  /* item-map-info-main -------------------------------------------------------------- */

  /* item-map-advantages */

  .item-map-advantages {

	.item-map-info-wrap {

	  .item-map-advantages-img { top: 150px; width: 150%; transform: translate(-20%, 0); }

	  .item-map-advantages-main {

		.item-map-section-title { text-align: left; padding: 0 20px; margin-bottom: 450px;
		  span { font-size: 18px; }
		}

		.item-map-advantages-wrap {
		  .item-map-advantages-info {
			.item-map-advantages-info-item {

			  .item-map-advantages-text { font-size: 12px;
				p {
				  b { font-size: 14px; }
				}
			  }

			}
		  }
		}

	  }

	}

  }

  /* /item-map-advantages */

  /* item-map-uses */

  .item-map-uses { background-size: 250% 100%;

	.mbox { padding: 0; }

	.item-map-uses-wrap { padding: 50px 10px 0 10px; background-position: calc(100% + 135px) 95%;

	  .item-map-section-title {
		span { font-size: 18px; }
	  }

	  .item-map-section-text {
		p { font-size: 16px; line-height: 1.5;
		  span { font-size: 16px; }
		}
		ul { margin: 0 0 10px 0;
		  li {
			p { font-size: 14px; }
		  }
		}
		a { font-size: 14px; }

	  }

	}

  }

  /* /item-map-uses */

  /* item-map-garanty */

  .item-map-garanty {

	.item-map-garanty-top { margin-bottom: 30px;
	  .item-map-section-title { padding-left: 60px;
		span { font-size: 18px;
		  &:before { right: calc(100% + 55px); }
		  &:after { width: 40px; }
		}
	  }
	}

	.item-map-garanty-bottom {
	  .item-map-garanty-text-wrap {
		.item-map-garanty-text-main { padding: 0;
		  .item-map-garanty-text {
			h3 { font-size: 16px; }
			p { font-size: 16px; line-height: 1.5; }
			ul {
			  li {
				p { font-size: 14px; }
			  }
			}
		  }
		}
	  }
	}

  }

  /* /item-map-garanty */

  /* item-map-video */

  .item-map-video{

	.item-map-section-title {
	  h3 { font-size: 16px; padding-left: 65px;
	  	&:before{ width: 40px;}
		&:after{ height:40px;}
	  }
	}

	.video-block {
	  iframe { height: 300px; }
	}

  }

  /* /item-wrap-video */

  /* /item-map-info-main -------------------------------------------------------------- */

  /* fancyboxes -------------------------------------------------------------- */

  /* uses-list-fancybox */

  .fancy-list {
	.where-uses { padding: 35px 0 35px 0;

	  .mbox {
		&:after { content: ''; display: block; position: absolute; top: 0; left: 10px; width: calc(100% - 20px); height: 6px; background: #eb7073; background: -moz-linear-gradient(left, #eb7073 0%, #7b5999 100%); background: -webkit-linear-gradient(left, #eb7073 0%, #7b5999 100%); background: -webkit-gradient(linear, left top, right top, from(#eb7073), to(#7b5999)); background: -o-linear-gradient(left, #eb7073 0%, #7b5999 100%); background: linear-gradient(to right, #eb7073 0%, #7b5999 100%); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eb7073', endColorstr='#7b5999', GradientType=1) }
	  }

	  .where-uses-wrap { padding-top: 30px;
		&:before, &:after { height: 100%; }
	  }
	}
  }

  /* /uses-list-fancybox */

  /* /fancyboxes -------------------------------------------------------------- */

}
@media screen and (max-width: 320px) {
}