@media screen and (max-width: 1900px){
	.video .video-content .title {
	    margin: 0 auto;
	    width: 70%;
	    margin-right: 0px;
	    padding-bottom: 30px;
	    position: relative;
	    &:before, &:after{
	    	left: -30%;
	    }
	}
}
@media screen and (max-width: 1600px){
	.wrap-procl .procl-content{
		padding-right: 0;
	}
	.wrap-procl .procl-title{
		font-size: 60px;
	}
	.wrap-procl .procl-content .left .price{
	    font-size: 118px;
    	margin-top: 70px;
	}
	.wrap-procl .procl-content .left .price span{
		font-size: 26px;
	}
	.wrap-procl .procl-content .left p {
	    line-height: 30px;
	    font-size: 20px;
	    margin-top: 9px;
	}
	.wrap-procl .procl-content .left .order {
	    padding: 22px 68px;
	    border: 3px solid #eb7073;
	    font-size: 23px;
	    margin-top: 25px;
	}
	.wrap-procl .procl-content .left ul{
		padding-bottom: 13px;
		padding-top: 16px;
	}
	.wrap-procl .procl-content .left ul li{
		line-height: 30px;
	}
	.wrap-procl .procl-content .left ul li a{
		font-size: 16px;
	}
	.wrap-procl .procl-content .right .bonus{
	    padding-left: 45px;
	    letter-spacing: 1px;
	    margin-bottom: 15px;
	    margin-top: -49px;
	    margin-left: 100px;
	    width: 490px;
	   	height: 70px;
	    font-size: 22px;
	}
	.wrap-procl {
	    padding: 72px 160px 150px;
	}
	.wrap-procl .procl-content .right .bonus:before{
		height: 70px;
		width: 70px;
	}
	.wrap-procl .procl-content .right .bonus:after{
		left: -49px;
	}
	.wrap-procl .procl-content .right p{
	    font-size: 24px;
	    margin-top: -69px;
	    margin-left: 112px;
		span{
			font-size: 30px;
		}
	}
	.wrap-procl .procl-content .right img{
	    height: 63%;
    	width: 100%;
	}
	.video .video-content .title {
	    padding-bottom: 24px;
	    padding-left: 70px;
	    &:before{
	    	top: 65px;
    		left: -10%;
    		width: 150px;
	    }
	    &:after{
	    	top: 65px;
    		left: -10%;
	    }
	}
	.video .video-content .title h4{
		font-size: 40px;
	}
	.video .video-content .title p{
	    font-size: 21px;
    	margin-top: 10px;
	}
	.video .video-content .video-frame{
	    width: 940px;
    	height: 467px;
	}
	.video .video-content .watch-all{
	    margin-right: 197px;
	    margin-left: auto;
	    padding-top: 25px;
	}
	.video .video-content .watch-all a {
	    font-size: 18px;
	}
	.about .content {
	    padding: 0 108px;
	    width: 1345px;
	}
	.about .content h3 {
	    font-size: 40px;
	    padding-left: 15px;
	}
	.about .content .about-content ul li {
	    line-height: 29px;
	    font-size: 16px;
	    padding-bottom: 19px;
	    padding-left: 14px;
	    &:before{
	    	left: -15px;
	    }
	}
	.about .content .about-content ul {
	    padding-top: 26px;
    	padding-bottom: 36px;
    	width: 70%;
	}
	.about .content .ramka:after{
		left: -36px;
		bottom: -5px;
		height: 3px;
	}
	.about .content .ramka .rrr {
	    width: 113px;
	    height: 3px;
	    top: -8px;
	    left: -36px;
	}
	.about .content .ramka:before {
	    width: 3px;
	    left: -36px;
	    top: -8px;
	    height: 102%;
	}
	.about .content .about-content .car {
	    width: 60%;
	    position: absolute;
	    right: -50%;
	    transform: translateX(-32%);
	}
	.socials {
	    padding: 13px 0 50px;
	}
	.socials h4{
		font-size: 39px;
		margin-bottom: 20px;
		letter-spacing: .5px;
	}
	.socials .wrap-soc .link{
		width: 18%;
	}
}
@media screen and (max-width: 1366px){
	.wrap-procl{
		padding: 58px 60px 140px;
	}
	.wrap-procl .procl-title{
		font-size: 48px;
	}
	.wrap-procl .procl-content .left .price{
		font-size: 72px;
		margin-top: -7px;
	}
	.wrap-procl .procl-content .left .price span{
		font-size: 29px;
	}
	.wrap-procl .procl-content .left p {
	    line-height: 32px;
	    font-size: 18px;
	    margin-top: 3px;
	}
	.wrap-procl .procl-content .left .order {
	    padding: 20px 66px;
	    border: 5px solid #eb7073;
	    font-size: 24px;
	    margin-top: 25px;
	}
	.wrap-procl .procl-content .right{
		padding-top: 0;
	}
	.wrap-procl .procl-content .right .bonus:before{
		height: 50px;
		width: 50px;
	}
	.wrap-procl .procl-content .right .bonus:after{
	    font-size: 54px;
    	left: -48px;
	}
	.wrap-procl .procl-content .right img {
	    height: 75%;
	    width: 90%;
	}
	.wrap-procl .procl-content .right p{
		font-size: 22px;
	    margin-top: -2px;
		margin-left: -14px;
		letter-spacing: 1px;
		span{
			font-size: 30px;
		    font-weight: 600;
		}
	}
	.wrap-procl .procl-content .left ul {
		padding-bottom: 31px;
	    padding-top: 5px;
	}
	.wrap-procl .procl-content .left ul li{
		line-height: 26px;
	}
	.wrap-procl .procl-content .left ul li a{
		font-size: 14px;
	}
	.wrap-procl .procl-content .right .bonus{
	    padding-left: 45px;
	    letter-spacing: 0px;
	    margin-bottom: 15px;
	    margin-top: 3px;
	    margin-left: -30px;
	    width: 490px;
	    height: 70px;
	    font-size: 24px;
	    &:before{
	    	width: 70px;
	    	height: 70px;
	    }
	}
	.video .video-content .title h4{
		font-size: 39px;
		font-weight: 800;
	    letter-spacing: .5px;
	}
	.video .video-content .title p{
		font-size: 21px;
		margin-top: 0;
	}
	.video .video-content .title{
	    padding-left: 25px;
	    padding-bottom: 17px;
	    &:before{
	    	top: 56px;
    		width: 100px;
	    }
	    &:after{
	    	top: 57px;
	    }
	}
	.video .video-content .video-frame{
	    width: 826px;
    	height: 434px;
	}
	.video .video-content .watch-all{
	    margin-right: 103px;
	    margin-left: auto;
	    padding-top: 10px;
	    a{
	    	font-size: 13px;
	    	span{
	    		padding-left: 25px;
	    		img{
	    			width: 70%;
	    		}
	    	}
	    }
	}
	.about .content {
		padding: 0 100px;
	    width: 1210px;
	}
	.about .content h3 {
	    font-size: 40px;
    	padding-left: 13px;
    	font-weight: 700;
	}
	.about .content .about-content ul li {
	    line-height: 30px;
	    font-size: 14px;
	    padding-bottom: 18px;
	    padding-left: 14px;
	}
	.about .content .about-content ul li:before {
		left: -12px;
	    top: 12px;
	    width: 7px;
	    height: 7px;
	}
	.about .content .about-content .car{
		width: 65%;
	}
	.about .content .about-content ul {
	    padding-top: 25px;
    	padding-bottom: 4px;
	}
	.about .content .ramka:after{
	    left: -18px;
	    bottom: -38px;
	    height: 5px;
	}
	.about .content .ramka .rrr {
	    width: 90px;
	    height: 5px;
	    top: -9px;
	    left: -17px;
	}
	.about .content .ramka:before {
	    width: 5px;
	    left: -18px;
	    top: -9px;
	    height: 109%;
	}
	.socials {
	    padding: 17px 0 0px;
	}
	.socials h4{
	    font-size: 39px;
		margin-bottom: 1px;
		letter-spacing: 1px;
		font-weight: 700;
	}
	.socials .wrap-soc .link:last-child{
		width: 16%;
		a{
			width: 100%;
			min-height: 45%;
    		display: inline-block;
    		position: relative;
    		img{
    			position: absolute;
    			height: 100%;
    		}
		}
		.shadow img{
			width: 75%;
		}
	}
}
@media screen and (max-width: 1280px){
	.wrap-procl{
		padding: 40px 40px 80px;
		background-size: 54%;
	}
	.wrap-procl .procl-title{
		font-size: 48px;
	}
	.wrap-procl .procl-content .left .price{
		font-size: 72px;
		margin-top: 8px;
	}
	.wrap-procl .procl-content .left .price span{
		font-size: 30px;
	}
	.wrap-procl .procl-content .left p {
	    line-height: 28px;
	    font-size: 18px;
	    margin-top: -7px;
	}
	.wrap-procl .procl-content .left .order {
		padding: 19px 66px;
	    border: 5px solid #eb7073;
	    font-size: 24px;
	    margin-top: 7px;
	}
	.wrap-procl .procl-content .right .bonus:before{
		height: 70px;
		width: 70px;
	}
	.wrap-procl .procl-content .right .bonus:after{
	    font-size: 57px;
    	left: -47px;
	}
	.wrap-procl .procl-content .right p{
		    font-size: 22px;
		    margin-top: -16px;
		    margin-left: 10px;
		    letter-spacing: 1px;
		span{
			font-size: 30px;
	    	font-weight: 600;
		}
	}
	.wrap-procl .procl-content .left ul {
	    padding-bottom: 27px;
    	padding-top: 8px;
    }
	.wrap-procl .procl-content .left ul li{
		line-height: 27px;
	}
	.wrap-procl .procl-content .left ul li a{
		font-size: 14px;
	}
	.wrap-procl .procl-content .right img{
	    height: 70%;
    	width: 90%;
	}
	.wrap-procl .procl-content .right .bonus{
	    padding-left: 45px;
	    letter-spacing: 0px;
	    margin-bottom: 15px;
	    margin-top: 0px;
	    margin-left: -10px;
	    width: 490px;
	    height: 70px;
	    font-size: 24px;
	}
	.video .video-content .title h4{
		font-size: 39px;
	}
	.video .video-content .title{
		padding-bottom: 19px;
	}
	.video .video-content .title:before {
	    height: 4px;
	    width: 90px;
	    top: 58px;
	}
	.video .video-content .title:after {
	    height: 130px;
	    width: 4px;
	    top: 60px;
	}
	.video .video-content .video-frame{
	    width: 826px;
    	height: 434px;
	}
	.video .video-content .watch-all{
	    margin-right: 80px;
	    margin-left: auto;
	    padding-top: 10px;
	}
	.about .content {
	    width: 1180px;
	}
	.about .content h3 {
	    font-size: 40px;
    	padding-left: 18px;
	}
	.about .content .about-content ul li {
	    line-height: 31px;
	    font-size: 14px;
	    padding-bottom: 17px;
	    padding-left: 18px;
	}
	.about .content .about-content ul li:before {
		left: -8px;
	    top: 13px;
	    width: 7px;
	    height: 7px;
	}
	.about .content .about-content ul {
	    padding-top: 24px;
    	padding-bottom: 4px;
	}
	.about .content .ramka:after{
	    left: -10px;
	    height: 5px;
	    bottom: -39px;
	}
	.about .content .ramka .rrr {
	    width: 90px;
	    height: 5px;
	    top: -9px;
	    left: -10px;
	}
	.about .content .ramka:before {
	    left: -10px;
	    top: -8px;
	    width: 5px;
	}
	.socials {
	    padding: 17px 0 50px;
	}
	.socials h4{
		margin-bottom: 3px;
	}
	.socials .wrap-soc .link{
		width: 16%;
		&:last-child{
			width: 16%;
		}
	}
	.socials .wrap-soc .link a {
	    height: 36%;
	    display: inline-block;
	}
	.socials .wrap-soc .link:last-child a {
	    min-height: 36%;
	}
	.socials .wrap-soc .link a img{
		height: 100%;
	}
	.marka-auto-popup{
		padding: 80px 80px;
	}
	.marka-auto-popup{
		width: 100%;
	}
}
@media screen and (max-width: 1200px){
	.about .content .ramka:after{
	    left: 30px;
	    height: 5px;
	    bottom: -39px;
	}
	.about .content .ramka .rrr {
	    width: 70px;
	    height: 5px;
	    top: -9px;
	    left: 30px;
	}
	.about .content .ramka:before {
	    left: 30px;
	    top: -8px;
	    width: 5px;
	}
}
@media screen and (max-width: 1024px){
	.wrap-procl{
		padding: 31px 49px 115px;
		background-size: 57%;
	}
	.wrap-procl .procl-title{
		font-size: 35px;
		letter-spacing: 0.6px;
	}
	.wrap-procl .procl-content .right{
		width: 58%;
	}
	.wrap-procl .procl-content .left {
	    width: 42%;
	}
	.wrap-procl .procl-content .left .price{
	    font-size: 71px;
    	margin-top: 19px;
	}
	.wrap-procl .procl-content .left .price span{
		font-size: 30px;
	}
	.wrap-procl .procl-content .left p {
	    line-height: 25px;
	    font-size: 18px;
	    margin-top: 1px;
	}
	.wrap-procl .procl-content .left .order {
		padding: 19px 64px;
	    font-size: 25px;
	    margin-top: 7px;
	}
	.wrap-procl .procl-content .right .bonus:before{
		height: 54px;
		width: 54px;
	}
	.wrap-procl .procl-content .right .bonus:after{
	    font-size: 35px;
    	left: -33px;
	}
	.wrap-procl .procl-content .right p{
		font-size: 18px;
	    text-align: center;
	    margin-top: -35px;
	    letter-spacing: 0;
	    margin-left: 50px;
		span{
			font-size: 26px;
		}
	}
	.wrap-procl .procl-content .left ul {
	    padding-bottom: 6px;
	    padding-top: 9px;
	}
	.wrap-procl .procl-content .left ul li{
		line-height: 26px;
	}
	.wrap-procl .procl-content .left ul li a{
		font-size: 14px;
	}
	.wrap-procl .procl-content .right img{
		height: 67%;
		width: 90%;
	}
	.wrap-procl .procl-content .right .bonus{
	    padding-left: 35px;
	    letter-spacing: 0px;
	    margin-bottom: 0;
	    margin-top: -20px;
	    margin-left: 49px;
	    width: 390px;
	    height: 54px;
	    font-size: 18px;
	}
	.video .video-content .title {
	    padding-bottom: 15px;
    	padding-left: 40px;
	}
	.video .video-content .title h4{
		font-size: 35px;
		padding-bottom: 5px;
	}
	.video .video-content .title p{
		font-size: 18px;
	}
	.video .video-content .video-frame{
	    width: 610px;
    	height: 368px;
	}
	.video .video-content .watch-all{
		margin-right: 85px;
	}
	.video .video-content .title:before {
		height: 4px;
	    width: 80px;
	    top: 53px;
	    left: -12%;
	}
	.video .video-content .title:after {
	    height: 130px;
	    width: 4px;
	    top: 53px;
	    left: -12%;
	}
	.about .content {
	    width: 990px;
	}
	.about .content h3 {
	    font-size: 36px;
    	padding-left: 11px;
	}
	.about .content .about-content ul li {
		line-height: 19px;
	    font-size: 12px;
	    padding-bottom: 19px;
	    padding-left: 11px;
	    &:first-child {
		    padding-right: 0px;
		}
	}
	.about .content .about-content ul li:before {
	    left: -16px;
	    top: 6px;
	    width: 8px;
	    height: 8px;
	}
	.about .content .about-content ul {
	    padding-top: 23px;
	    width: 75%;
	}
	.about .content .ramka:after{
	    left: 33px;
	    bottom: -25px;
	    height: 5px;
	}
	.about .content .ramka .rrr {
	    width: 52px;
	    height: 5px;
	    top: -12px;
	    left: 33px;
	}
	.about .content .ramka:before {
		width: 5px;
	    left: 33px;
	    top: -11px;
	    height: 109%;
	}
	.about .content .about-content .car{
	    transform: translateX(-24%);
	}
	.socials h4{
		font-size: 33px;
	}
	.socials .wrap-soc .link{
		width: 17%;
		a{
			height: 33%;
		}
	}
	.socials .wrap-soc{
		padding-top: 17px;
	}
}
@media screen and (max-width: 1023px){
	.about .content {
	    padding: 0;
	}
	.about .content .ramka:after{
		left: -50px;
		bottom: 3px;
		height: 4px;
	}
	.about .content .ramka .rrr {
	    width: 57px;
	    height: 3px;
	    top: -15px;
	    left: -50px;
	}
	.about .content .ramka:before {
	    width: 3px;
	    left: -50px;
	    top: -13px;
	    height: 102%;
	}
	.video .video-content .watch-all{
		margin-right: 0px;
		width: 220px;
	}
}
@media screen and (max-width: 991px){
	.wrap-procl .procl-content .right{
		text-align: left;
	}
	.wrap-procl .procl-content .right .bonus{
		margin-left: 0;
		margin-right: auto;
		margin-top: 15px;
	}
	.wrap-procl{
		padding: 65px 50px 70px;
	}
	.wrap-procl .procl-content .left p{
		font-size: 16px;
	}
	.wrap-procl .procl-content .left .order {
        padding: 15px 50px;
        border: 4px solid #eb7073;
        font-size: 22px;
        margin-top: 62px;
    }
    .wrap-procl .procl-content .right .bonus:before{
		height: 60px;
		width: 60px;
	}
	.wrap-procl .procl-content .right .bonus:after{
		font-size: 50px;
		left: -30px;
	}
	.wrap-procl .procl-content .right p{
		font-size: 16px;
		text-align: center;
	    margin-top: -16px;
		span{
			font-size: 15px;
		}
	}
	.wrap-procl .procl-content .left ul li{
		line-height: 20px;
	}
	.wrap-procl .procl-content .left ul li a{
		font-size: 16px;
	}
	.wrap-procl .procl-content .right img{
		height: 90%;
		width: 90%;
	}
	.wrap-procl .procl-content .right .bonus{
		width: 370px;
		height: 60px;
		font-size: 18px;
	    padding-left: 45px;
	    letter-spacing: 0px;
	    margin-bottom: 15px;
	}
	.wrap-procl .procl-content{
		flex-direction: column;
		.left{
			width: 100%;
		}
		.right{
			width: 100%;
			position: relative;
			img{
				position: absolute;
				right: 0;
				height: 455px;
			    width: 720px;
			    top: -350%;
			    right: -37%;
			    z-index: -1;
			}
		}
	}
	.wrap-procl .procl-content .right p{
		width: 100%;
		padding-top: 15px;
		text-align: left;
		margin-left: 10px;
	}
	.socials{
		padding: 30px 0 50px;
		h4{
			font-size: 40px;
			margin-bottom: 10px;
		}
		.wrap-soc{
		    width: 85%;
			padding-top: 24px;
		    padding-bottom: 30px;
			.link{
				width: 17%;
				a{
					transition: .3s;
					height: 36%;
					&:hover{
						opacity: .6;
						transition: .3s;
					}
				}
			}
		}
	}
	.video .video-content .video-frame{
		width: 100%;
		height: 590px;
	}
	.video .video-content .title{
		margin: 0 auto;
		width: 100%;
		padding-bottom: 30px;
		padding-left: 0;
		h4{
			font-size: 34px;
		}
		p{
			font-size: 20px;
			font-weight: 500;
		}
	}
	.video .video-content .watch-all{
		margin-right: 0;
		a{
			font-size: 13px;
			span{
				padding-left: 10px;
			}
		}
	}
	.socials .wrap-soc{
		width: 98%;
	}
	.about .content .about-content ul li {
		line-height: 25px;
		font-size: 16px;
		padding-bottom: 12px;
		&:before{
			top: 8px;
		}
	}
	.about .content {
		padding: 0 0 0 50px;
		width: 100%;
	}
	.about .content h3{
		padding-left: 70px;
    	font-size: 40px;
	}
	.about .content .ramka{
		&:before{
			left: 0;
		}
		&:after{
			left: 0;
		}
		.rrr{
			left: 0;
		}
	}
	.about .content .ramka{
		&:before{
			left: 20px;
		}
		&:after{
			left: 20px;
		}
		.rrr{
			left: 20px;
			width: 90px;
		}
	}
	.about .content .ramka{
		display: none;
	}
	.about .content .about-content{
		flex-direction: column;
		ul li span{
			display: inline-block;
		}
		ul, .car{
			width: 100%;
		}
	}
	.about .content {
		padding: 0 20px 0 20px;
	}
	.about .content .about-content .car{
		transform: translateX(20%);
		z-index: -1;
	}
	.about .content .about-content ul{
		margin-left: -80px;
	}
	.video .video-content .video-frame{
		height: 470px;
	}
	.video .video-content .title:before, .video .video-content .title:after, .video .video-content .video-frame:after, .video .video-content .video-frame:before{
		display: none;
	}
	.wrap-procl .procl-title{
		font-size: 40px;
	}
	.wrap-procl .price{
		font-size: 70px;
	}
	.wrap-procl p{
		font-size: 15px;
		width: 500px;
		margin-top: 0;
	}
	.wrap-procl{
		background-size: 85%;
	}
}
@media screen and (max-width: 920px){
	.about .content .about-content ul{
		margin-left: 0px;
	}
	.about .content .about-content .car{
		display: none;
	}
}
@media screen and (max-width: 880px){
	.wrap-procl .procl-title{
		font-size: 40px;
	}
	.wrap-procl .price{
		font-size: 60px;
	}
	.wrap-procl p{
		font-size: 15px;
		width: 500px;
		margin-top: 30px;
	}
	.wrap-procl{
		background-size: 86%;
		padding: 30px 20px 100px;
	}
	.wrap-procl .order{
		padding: 10px 25px;
	}
	.socials .wrap-soc .link, .socials .wrap-soc .link:last-child {
	    width: 26%;
	}
	.wrap-procl .procl-content .right .bonus:after{
		display: none;
	}
	.socials .wrap-soc .link:last-child a{
		width: 75%;
	}
	.socials .wrap-soc .link a{
		height: 46%;
	}
	.marka-auto-popup{
		padding: 50px 50px;
	}
	.marka-auto-popup:before{
		top: 120px;
	}
	.socials .wrap-soc .link a img {
	    height: 100%;
	    width: 100%;
	}
	.wrap-procl .procl-content .right{
		padding-top: 15px;
		img{
		    right: -50%;
		    top: -340%;
		}
	}
}
@media screen and (max-width: 767px){
	.video .video-content .video-frame{
		height: 400px;
	}
	.marka-auto-popup .marka-content form .form-field{
		width: 100%;
	}
	.wrap-procl .procl-content .right{
		img{
		    right: -65%;
		    top: -340%;
		}
	}
}
@media screen and (max-width: 666px){
	.wrap-procl .procl-title{
		font-size: 30px;
	}
	.video .video-content .title {
	    padding-left: 0px;
	}
	.wrap-procl .price{
		font-size: 45px;
	}
	.wrap-procl p{
		font-size: 15px;
		width: 100%;
		line-height: 27px;
	}
	.wrap-procl{
		background-size: 100%;
		padding: 30px 20px 60px;
	}
	.about .content .about-content ul{
		padding-bottom: 0;
	}
	.about .content .about-content ul li{
		font-size: 15px;
	}
	.socials h4{
		font-size: 43px;
	}
	.socials .wrap-soc .link {
	    width: 26%;
	}
	.socials h4 {
	    font-size: 39px;
	}
	.socials .wrap-soc .link a {
	    height: auto;
	}
	.video .video-content .video-frame{
		height: 350px;
	}
	.video .video-content .title h4{
		font-size: 39px;
	}
	.video .video-content .title p{
		font-size: 18px;
	}
	.video .video-content .watch-all a{
		font-size: 13px;
		span img{
			width: 77%;
			padding-left: 0;
		}
	}
	.marka-auto-popup{
		padding: 30px 15px;
	}
	.about .content .about-content .car{
		display: none;
	}
	.wrap-procl .procl-content .right{
		img{
		    display: none;
		}
	}
}
@media screen and (max-width: 530px){
	.socials .wrap-soc .link{
		padding-bottom: 15px;
		width: 40%;
		.shadow{
			display: none;
		}
	}
	.socials .wrap-soc .link:last-child a {
		min-height: 215%;
	}
	.socials h4{
		font-size: 38px;
	}
	.video .video-content .video-frame{
		height: 280px;
	}
	.marka-auto-popup .marka-content form .submit{
		height: 60px;
    	width: 195px;
	}
}
@media screen and (max-width: 510px){
	.socials .wrap-soc .link, .socials .wrap-soc .link:last-child{
		display: block;
		width: 250px;
		height: 80px;
		margin: 0 auto;
		text-align: center;
		img{
			width: 50%;
		}
	}
	.socials .wrap-soc .link img, .socials .wrap-soc .link:last-child img {
	    width: 100%;
	    left: 0;
	}
	.socials .wrap-soc .link:last-child a {
	    min-height: 100%;
	}
}
@media screen and (max-width: 479px){
	.wrap-procl .procl-title{
		font-size: 30px;
	}
	.wrap-procl .price{
		font-size: 40px;
		span{
			font-size: 25px;
		}
	}
	.wrap-procl p{
		font-size: 15px;
	}
	.wrap-procl{
		padding: 30px 20px 50px;
	}
	.video .video-content .video-frame{
		height: 230px;
	}
	.wrap-procl .procl-content .left .order{
		margin-top: 30px;
	}
	.wrap-procl .procl-content .right .bonus{
		width: 100%;
		margin-right: 0;
		margin-left: auto;
		text-align: center;
		font-size: 22px;
		padding-left: 0;
		&:before, &:after{
			display: none;
		}
	}
}
@media screen and (max-width: 370px){
	.wrap-procl{
		padding: 30px 20px 50px;
	}
	.wrap-procl .procl-title {
	    font-size: 24px;
	    line-height: 27px;
	    padding-bottom: 15px;
	}
	.wrap-procl p {
	    font-size: 12px;
	    line-height: 21px;
	}
	.wrap-procl .order {
	    padding: 8px 20px;
	    border: 3px solid #eb7073;
	    font-size: 16px;
	    margin-top: 25px;
	}
	.video .video-content .watch-all{
		width: 85%;
	}
	.socials h4{
		font-size: 30px;
	}
	.video .video-content .video-frame{
		height: 180px;
	}
	.video .video-content .title h4{
		font-size: 32px;
	}
	.video .video-content .title p{
		font-size: 15px;
	}
	.video .video-content .watch-all a{
		font-size: 15px;
		span img{
			width: 75%;
			padding-left: 0;
		}
	}
	.about .content h3 {
	    font-size: 36px;
	}
	.about .content .about-content ul li {
	    line-height: 21px;
	    font-size: 14px;
	}
}