@media screen and (max-width: 1920px) {
}
@media screen and (max-width: 1900px) {

  /* item-map-info-main -------------------------------------------------------------- */

  /* item-map-advantages */

  .item-map-advantages {

	.item-map-info-wrap { padding: 157px 0 107px 0;

	  .item-map-advantages-img { top: 135px; left: 998px;
		img { max-height: 820px; }
	  }

	}

	.item-map-advantages-main {

	  .item-map-section-title { padding: 0 0 0 103px; margin-bottom: 107px;
		span { font-weight: 600; letter-spacing: .5px; font-size: 40px;
		  &:after { left: calc(100% + 67px); top: calc(50% - 4px); width: 543px; }
		}
	  }

	  .item-map-advantages-wrap { justify-content: space-between;

		.item-map-advantages-motor { width: 35%;
		  span { max-width: 390px; position: relative; top: -20px; }
		}

		.item-map-advantages-info { width: 63.5%;
		  .item-map-advantages-info-item { margin-bottom: 58px;

			.item-map-advantages-item-img { width: 101px; height: 101px; }

			.item-map-advantages-text { padding-left: 22px; max-width: 450px; font-size: 14px;
			  p { line-height: 1.75;
				b { font-size: 20px; }
			  }
			}

			&.top-position {
			  &:before { width: 45%; }
			  &:after { right: 145%; height: 85px; }
			}

			&.center-position {
			  &:before { width: 76px; }

			  .item-map-advantages-text { padding-left: 40px; }
			}

			&.bottom-position { max-width: 500px; min-height: 300px;
			  &:before { left: 101px; width: calc(100% - 101px); top: 50px; }
			  &:after { height: calc(100% - 51px); top: 51px; }

			  .item-map-advantages-item-img { margin-bottom: 30px; }

			  .item-map-advantages-text {
				&:before { width: 126.5%; }
				&:after { right: 126.5%; height: 185px; }

				p { line-height: 1.85; }
			  }

			}

		  }
		}

	  }

	}
  }

  /* /item-map-advantages */

  /* item-map-uses */

  .item-map-uses { padding: 0 0 86px 0;
	.item-map-uses-wrap { max-width: 1165px; padding-left: 156px;
	  &:before { left: 101px; }

	  .item-map-section-title { margin-bottom: 28px;
		span { font-size: 40px; font-weight: 600;
		  &:after { left: calc(100% + 80px); top: calc(50% - 8px); }
		}
	  }

	  .item-map-section-content { padding: 0 20px 60px 94px; min-height: 355px;
		&:before { top: -58px; height: calc(100% + 57px); }
		&:after { width: calc(100% + 53px); }
	  }

	  .item-map-section-text {
		p { font-size: 25px; letter-spacing: .1px;
		  span { font-size: 21px; }
		}
		ul { margin: 8px 0 32px 0; padding: 0 0 0 50px;
		  li { padding-left: 27px; margin-bottom: 16px;
			&:before { top: 9px; }

			p { font-size: 16px;
			  span { font-size: 16px; }
			}
		  }
		}
		a { font-size: 16px; }
	  }

	}
  }

  /* /item-map-uses */

  /* item-map-garanty */

  .item-map-garanty { padding-bottom: 143px;

	.item-map-garanty-top { padding-top: 61px; margin-bottom: 40px;

	  .item-map-section-title { padding-left: 276px;
		span { font-size: 40px; font-weight: 600;
		  &:before { width: 3px; }
		  &:after { height: 3px; top: 50%; }
		}
	  }

	  .garanty-car-text { font-weight: 900; line-height: 94px; left: 557px; font-size: 120px; }

	}

	.item-map-garanty-bottom {

	  .item-map-garanty-text-wrap { width: 67.5%;
		&:after, &:before { height: 3px; }

		.item-map-garanty-text-main { padding: 56px 16% 50px 73px; min-height: 520px; align-items: flex-start;
		  &:after { width: 3px; }

		  .item-map-garanty-text {
			h3 { letter-spacing: -0.9px; }
			ul { margin: 13px 0 12px 0;
			  li { padding-left: 45px; margin-bottom: 19px;
				&:before { left: 23px; top: 9px; }

				p { font-size: 14px; }

			  }
			}
			p { line-height: 1.75; font-size: 16px; }
		  }

		}

	  }

	  .item-map-garanty-img { margin-top: -31px; width: 42.5%;
		&:before { height: 3px; top: 31px; width: 23.1%; }
		&:after { left: 23.1%; width: 3px; }

		.item-map-garanty-img-wrap {
		  .item-map-garanty-img-main { height: 500px; }
		}

	  }

	}

  }

  /* /item-map-garanty */

  /* item-map-video */

  .item-map-video {

	.item-map-section-title { margin-bottom: 38px;
	  h3 { font-size: 40px; margin: 0; padding-right: 206px;
		&:before { width: 155px; right: 3px; }
		&:after { right: 3px; }
	  }
	}

  }

  /* /item-map-video */

  /* item-map-service */

  .item-map-service {

	.black-part { min-height: 801px;

	  .black-part-background { bottom: -111px; }

	  .black-part-content { max-width: 633px; padding: 75px 10px 70px 10px; height: calc(100% - 87px);
		&:after { width: 317px; }

		.parts-title { margin-bottom: 128px;
		  span { font-size: 40px; top: 5px; letter-spacing: 0.75px; padding: 0 30px; }
		}

		.black-part-form {
		  .form_row { margin-bottom: 34px;

			.form_input {
			  input { max-width: 323px; padding: 21px 18px; }
			}

			&.submit {
			  .transparent-button {
				&.reverse-button { max-width: 323px; height: 64px; font-size: 16px; }
			  }
			}

		  }
		}

	  }
	}

	.white-part {

	  .white-part-content { height: calc(100% - 87px); max-width: 678px;
		.white-part-wrap { padding: 160px 20px 70px 8px;

		  .parts-title { font-size: 40px; max-width: 440px; line-height: 1.5; margin-bottom: 20px; }

		  .white-part-img { margin-bottom: 65px;
			img { max-width: 260px; }
		  }

		  .white-part-button {
			.transparent-button { height: 66px; max-width: 285px; border-width: 3px; }
		  }

		}
	  }

	}

  }

  /* /item-map-service */

  /* item-map-breath */

  .item-map-breath { padding-top: 108px;
	.txt { top: 255px; left: 52%; font-size: 40px;
	  &:before { left: calc(100% + 48px); bottom: 25px; }
	}
  }

  /* /item-map-breath */

  /* item-map-perspective */

  .item-map-perspective {

	.titlius { padding-top: 28px;
	  .txt { font-size: 40px; padding-left: 155px;
		&:before { bottom: 21px; left: -48px; }
	  }
	}

	.content {
	  .img { height: 300px;
		img { max-width: none; width: 100%; height: 100%; object-fit: cover; }
	  }
	}

	.button-wrap { padding-top: 77px;
	  .transparent-button { max-width: 280px; height: 65px; border-width: 3px;
		span { font-size: 16px; }
	  }
	}

  }

  /* /item-map-perspective */

  /* item-map-info-main -------------------------------------------------------------- */

}
@media screen and (max-width: 1599px) {

  /* item-map-info-main -------------------------------------------------------------- */

  /* item-map-advantages */

  .item-map-advantages {

	.item-map-info-wrap { padding: 157px 0 98px 0;
	  .item-map-advantages-img { left: 893px; top: 268px;
		img { max-height: 670px; }
	  }
	}

	.item-map-advantages-main {

	  .item-map-section-title { padding: 0 0 0 90px; margin-bottom: 118px;
		span { font-size: 36px;
		  &:after { left: calc(100% + 46px); width: 481px; top: calc(50% - 2px); }
		}
	  }

	  .item-map-advantages-wrap {
		.item-map-advantages-motor { width: 28%; margin-left: 1.75%;
		  span { top: -42px; }
		}
		.item-map-advantages-info { width: 67%;
		  .item-map-advantages-info-item { margin-bottom: 69px;

			.item-map-advantages-item-img { width: 91px; height: 91px; }
			.item-map-advantages-text { padding-left: 13px; }

			&.top-position {
			  &:before { width: 38%; }
			  &:after { right: 138% }
			}

			&.center-position {
			  .item-map-advantages-text { padding-left: 11px; }
			}

			&.bottom-position { min-height: 293px; padding-right: 20px;
			  &:before { left: 91px; width: calc(100% - 102px); }
			  &:after { right: 11px; }

			  .item-map-advantages-text {
				&:before { right: 11px; }
				&:after { right: 128.5%; }
			  }

			}

		  }
		}
	  }

	}

  }

  /* /item-map-advantages */

  /* item-map-uses */

  .item-map-uses { padding: 0 0 80px 0;
	.item-map-uses-wrap { max-width: 1022px; padding: 88px 0 0 0;
	  &:before { left: 89px; }

	  .item-map-section-title { margin-bottom: 34px;
		span { font-size: 36px; margin-left: -20px;
		  &:after { left: calc(100% + 51px); top: calc(50% - 4px); }
		}
	  }

	  .item-map-section-content { padding: 0 20px 60px 180px;
		&:after { width: calc(100% - 89px); }

		.item-map-section-text {
		  p { font-size: 19px; letter-spacing: .5px;
			span { font-size: 17px; }
		  }
		  ul { padding: 0 0 0 120px; margin: 5px 0 24px 0;
			li {
			  &:before { top: 7px; }

			  p { font-size: 15px; }
			}
		  }
		  a { margin-left: 71px; }
		}
	  }

	}
  }

  /* /item-map-uses */

  /* item-map-garanty */

  .item-map-garanty { padding-bottom: 80px;

	.item-map-garanty-top { padding-top: 40px;

	  .item-map-section-title { padding-left: 304px;
		span {
		  &:before { width: 6px; right: calc(100% + 196px); }
		  &:after { height: 6px; top: calc(50% - 3px); }
		}
	  }

	  .garanty-car-text { line-height: 106px; font-size: 100px; left: 587px; }

	}

	.item-map-garanty-bottom {

	  .item-map-garanty-text-wrap { width: 79%;
		.item-map-garanty-text-main { padding: 56px 30% 50px 45px; }
	  }

	  .item-map-garanty-img { width: 42.3%;
		&:before { width: 49.7%; }
		&:after { left: 49.7%; height: 469px; }
	  }

	}

  }

  /* /item-map-garanty */

  /* item-map-video */

  .item-map-video {
	.item-map-section-title { margin-bottom: 18px;
	  h3 { font-size: 36px; padding-right: 224px;
		&:before, &:after { top: calc(50% - 5px); }
		&:before { right: 21px; }
		&:after { right: 20px; }
	  }
	}
  }

  /* /item-map-video */

  /* item-map-service */

  .item-map-service {

	.black-part { min-height: 682px;
	  .black-part-content { max-width: 565px; padding: 78px 10px 70px 10px; height: calc(100% - 69px);

		.parts-title { margin-bottom: 79px;
		  &:before { bottom: calc(100% - 27px); }
		  &:after { top: 21px; }

		  span { font-size: 36px; padding: 0 21px; }
		}

		.black-part-form {
		  .form_row {

			.form_input {
			  input { max-width: 300px; }
			}

			&.submit {
			  .transparent-button {
				&.reverse-button { max-width: 300px; }
			  }
			}

		  }
		}

	  }
	}

	.white-part {
	  .white-part-content { max-width: 590px; height: calc(100% - 69px);
		.white-part-wrap { padding: 140px 20px 50px 8px;

		  .parts-title { font-size: 36px; max-width: 395px; line-height: 1.35; }

		  .white-part-img { margin-bottom: 49px;
			img { max-width: 235px; }
		  }

		  .white-part-button {
			.transparent-button { height: 59px; max-width: 260px; font-size: 14px; }
		  }

		}
	  }
	}

  }

  /* /item-map-service */

  /* item-map-breath */

  .item-map-breath { padding-top: 27px;
	.txt { top: 175px; font-size: 36px; left: 60.2%; }
  }

  /* /item-map-breath */

  /* item-map-perspective */

  .item-map-perspective {

	.titlius { padding-top: 0;
	  .txt { font-size: 36px; padding-left: 287px; top: -6px;
		&:before { left: 85px; }
	  }
	}

	.content { padding-top: 28px;
	  .img { height: 240px; }
	}

	.button-wrap { padding-top: 70px; }

  }

  /* /item-map-perspective */

  /* /item-map-info-main -------------------------------------------------------------- */

}
@media screen and (max-width: 1366px) {
}
@media screen and (max-width: 1365px) {

  /* item-map-info-main -------------------------------------------------------------- */

  /* item-map-advantages */

  .item-map-advantages {

	.item-map-info-wrap { padding: 160px 0 98px 0;
	  .item-map-advantages-img { left: 816px; top: 274px; }
	}

	.item-map-advantages-main {

	  .item-map-section-title { padding: 0 0 0 87px; margin-bottom: 116px;
		span {
		  &:after { left: calc(100% + 60px); width: 437px; }
		}
	  }

	  .item-map-advantages-wrap {

		.item-map-advantages-motor { width: 27%;
		  span { top: -54px; }
		}

		.item-map-advantages-info {

		  .item-map-advantages-info-item { margin-bottom: 74px;

			.item-map-advantages-item-img { width: 87px; height: 87px; }
			.item-map-advantages-text { padding-left: 21px; }

			&.top-position { }

			&.center-position {
			  .item-map-advantages-text { padding-left: 23px; }
			}

			&.bottom-position {

			  .item-map-advantages-item-img { margin-bottom: 25px; }

			}

		  }

		}

	  }

	}

  }

  /* /item-map-advantages */

  /* item-map-uses */

  .item-map-uses {

	.item-map-uses-wrap { max-width: 986px; padding: 91px 0 0 0;

	  .item-map-section-title { margin-bottom: 38px;
		span { font-size: 30px;
		  &:after { left: calc(100% + 61px); }
		}
	  }

	  .item-map-section-content { padding: 0 20px 60px 205px;
		&:before { top: -56px; }
	  }

	}

  }

  /* /item-map-uses */

  /* item-map-garanty */

  .item-map-garanty { padding-bottom: 86px;

	.item-map-garanty-top { padding-top: 44px; margin-bottom: 48px;

	  .item-map-section-title { padding-left: 262px;
		span { font-size: 30px;
		  &:before { right: calc(100% + 187px); }
		  &:after { right: calc(100% + 36px); }
		}
	  }

	  .garanty-car-text { font-size: 60px; left: 605px; line-height: 138px; }

	}

	.item-map-garanty-bottom {

	  .item-map-garanty-text-wrap { width: 84.5%;
		.item-map-garanty-text-main { padding: 57px 33% 50px 45px;
		  .item-map-garanty-text {
			h3 { letter-spacing: -1.05px; }
		  }
		}
	  }

	  .item-map-garanty-img {
		&:after { left: 62.8%; }
		&:before { width: 62.8%; }
	  }

	}

  }

  /* /item-map-garanty */

  /* item-map-video */

  .item-map-video {

	.item-map-section-title { margin-bottom: 23px;
	  h3 { font-size: 28px; letter-spacing: 1px; padding-right: 274px;
		&:before, &:after { right: 87px; }
	  }
	}

  }

  /* /item-map-video */

  /* item-map-service */

  .item-map-service {

	.black-part { min-height: 640px;

	  .black-part-background { bottom: -165px;
		img { max-width: 415px; }
	  }

	  .black-part-content { max-width: 525px; height: calc(100% - 52px);

		.parts-title { padding-top: 6px; margin-bottom: 68px;
		  span { font-size: 26px; padding: 0 50px; }
		}

		.black-part-form {
		  .form_row {

			.form_input {
			  input { max-width: 290px; }
			}

			&.submit {
			  .transparent-button {
				&.reverse-button { max-width: 291px; }
			  }
			}

		  }
		}

	  }

	}

	.white-part {

	  .white-part-content { max-width: 567px; height: calc(100% - 52px);
		.white-part-wrap { padding: 149px 20px 50px 8px;
		  .parts-title { font-size: 28px; max-width: 325px; margin-bottom: 28px; }
		  .white-part-img { margin-bottom: 45px; }
		  .white-part-button { margin-bottom: 48px; }
		}
	  }

	}

  }

  /* /item-map-service */

  /* item-map-breath */

  .item-map-breath { padding-top: 47px;
	.txt { top: 182px; font-size: 30px; left: 63.3%;
	  &:before { left: calc(100% + 43px); bottom: 18px; }
	}
  }

  /* /item-map-breath */

  /* item-map-perspective */

  .item-map-perspective {

	.titlius {

	  .txt { font-size: 30px; padding-left: 262px; top: 12px;
		&:before { left: 68px; bottom: 17px; }
	  }

	  .img {
		img { max-width: 381px; }
	  }

	}

	.content { padding-top: 50px; }

  }

  /* /item-map-perspective */

  /* /item-map-info-main -------------------------------------------------------------- */

}
@media screen and (max-width: 1280px) {
}
@media screen and (max-width: 1024px) {
}
@media screen and (max-width: 1023px) {

  /* item-map-info-main -------------------------------------------------------------- */

  /* item-map-advantages */

  .item-map-advantages {

	.mbox { padding: 0 12px; }

	.item-map-info-wrap { padding: 95px 0 132px 0;
	  .item-map-advantages-img { left: 476px; top: 171px;
		img { max-height: 370px; opacity: .35; }
	  }
	}

	.item-map-advantages-main {

	  .item-map-section-title { margin-bottom: 96px; padding: 0 0 0 96px;
		span { font-size: 30px; }
	  }

	  .item-map-advantages-wrap { flex-direction: column-reverse;

		.item-map-advantages-motor, .item-map-advantages-info { width: 100%; position: relative; }

		.item-map-advantages-motor { margin-left: 0; display: flex; justify-content: flex-start; width: 100%; z-index: 0; margin-top: -311px;
		  span { top: 0; width: 300px; }
		}

		.item-map-advantages-info { z-index: 1; align-items: flex-end; display: flex; flex-direction: column;
		  .item-map-advantages-info-item { margin-bottom: 58px;

			.item-map-advantages-item-img { width: 102px; height: 102px; }
			.item-map-advantages-text { padding-left: 34px; max-width: 395px; }

			&.top-position { width: 100%;
			  &:after { display: none; }
			  &:before { height: 240px; width: 1px; top: calc(100% - 2px); left: 50px; }
			}

			&.center-position { width: calc(100% - 181px); margin-bottom: 63px;
			  &:after { content: ''; position: absolute; left: -76px; top: 51px; width: 1px; height: 100px; background-color: #f5b7b9; }

			  .item-map-advantages-text { padding-left: 31px; }
			}

			&.bottom-position { width: calc(100% - 355px); min-height: 275px;
			  .item-map-advantages-item-img { margin-bottom: 13px; }
			  .item-map-advantages-text {
				&:before { width: 151.5%; }
				&:after { height: 55px; right: 154.5%; }

				p { line-height: 1.75; }
			  }
			}

		  }
		}

	  }

	}

  }

  /* /item-map-advantages */

  /* item-map-uses */

  .item-map-uses { padding: 0 0 55px 0;
	.item-map-uses-wrap { padding: 43px 0 0 0; max-width: 630px;
	  &:before { left: 36px; min-height: 150%; }

	  .item-map-section-title { margin-bottom: 14px;
		span {
		  &:after { left: calc(100% + 84px); }
		  &:before { display: none; }
		}
	  }

	  .item-map-section-content { padding: 0 20px 80px 130px;
		&:before { top: -36px; height: calc(100% + 36px); }
		&:after { width: calc(100% - 36px); }

		.item-map-section-text {
		  p { line-height: 1.5; }
		  ul { padding: 0 0 0 26px; margin: 12px 0 24px 0;
			li { margin-bottom: 11px; }
		  }
		  a { margin-left: 26px; }
		}
	  }

	}
  }

  /* /item-map-uses */

  /* item-map-garanty */

  .item-map-garanty { padding-bottom: 84px;

	.item-map-garanty-top { padding-top: 42px; margin-bottom: 0;
	  .mbox { display: flex; justify-content: flex-start; align-items: center; flex-direction: column;

		.item-map-section-title { padding-left: 0; margin-bottom: 37px;
		  span {
			&:before { right: calc(100% + 108px); }
			&:after { width: 77px; }
		  }
		}

		.garanty-car-text { position: static; font-size: 36px; line-height: 40px; }

	  }
	}

	.item-map-garanty-bottom { padding: 0 10px;

	  .item-map-garanty-img { display: none; }

	  .item-map-garanty-text-wrap { width: 100%;
		.item-map-garanty-text-main { padding: 47px 40px 50px 40px; min-height: 523px;
		  &:before { content: ''; display: block; width: 3px; height: 100%; background-color: #ea7074; position: absolute; left: 0; top: 0; }

		  .item-map-garanty-text { max-width: 630px;
			h3 { text-align: center; letter-spacing: -0.55px; }
			ul { margin: 4px 0 8px 0;
			  li { padding-left: 25px; margin-bottom: 18px;
				&:before { left: 0; top: 8px; }
			  }
			}
			p { font-size: 18px; font-weight: 600; line-height: 1.7; }
		  }

		}
	  }

	}

  }

  /* /item-map-garanty */

  /* item-map-video */

  .item-map-video {

	.mbox { padding: 0 8px; position: relative; z-index: 0; }
	.item-map-section-title { display: flex; justify-content: flex-start; margin-bottom: 22px;
	  h3 { padding-right: 0; font-size: 24px; letter-spacing: -0.01px;
		&:before { left: calc(100% + 30px); width: 63px; }
		&:after { left: calc(100% + 87px); }
	  }
	}

	.video-block { position: relative; z-index: 1;
	  iframe { height: 479px; }
	}

  }

  /* /item-map-video */

  /* item-map-service */

  .item-map-service {

	.black-part, .white-part { width: 100%; }

	.black-part { padding-left: 10px; padding-right: 10px; min-height: 531px; overflow: hidden;

	  .black-part-background { bottom: -243px; }

	  .black-part-content { padding: 62px 10px 50px 10px; max-width: none;
		&:before, &:after { display: none; }

		.parts-title { margin-bottom: 66px;
		  &:after { top: 25px; left: 91px; width: 100px; }
		  &:before { left: 91px; }

		  span { font-size: 28px; }

		}

		.black-part-form { margin: 0 auto 30px auto;
		  &:after { display: none; }
		}

	  }

	}

	.white-part {
	  .white-part-content { max-width: none;
		&:after { display: none; }

		.white-part-wrap { padding: 60px 20px 50px 20px;
		  &:before, &:after { display: none; }

		  .parts-title { margin-bottom: 35px; }
		  .white-part-img { margin-bottom: 60px; }

		}

	  }
	}

  }

  /* /item-map-service */

  /* item-map-breath */

  .item-map-breath {

	.txt { left: 43.3%; top: 71px;
	  &:before { width: 90px; left: calc(100% + 31px); }
	}

  }

  /* /item-map-breath */

  /* item-map-perspective */

  .item-map-perspective {

	.titlius { flex-direction: column; align-items: center; padding-top: 22px;
	  .txt { padding-left: 0; top: 0; margin-bottom: 39px;
		&:before { right: calc(100% + 40px); left: auto; }
	  }
	}

	.content {
	  .img { width: 33.33%; height: 200px; }
	}

	.button-wrap { padding-top: 50px; }

  }

  /* /item-map-perspective */

  /* /item-map-info-main -------------------------------------------------------------- */

}
@media screen and (max-width: 992px) {
}
@media screen and (max-width: 767px) {

  /* item-map-info-main -------------------------------------------------------------- */

  /* item-map-advantages */

  .item-map-advantages {

	.item-map-info-wrap { padding: 60px 0 50px 0;
	  .item-map-advantages-img { display: none; }
	}

	.item-map-advantages-main {
	  .item-map-section-title { margin-bottom: 30px; padding: 0; }

	  .item-map-advantages-wrap {

		.item-map-advantages-motor { display: none; }

		.item-map-advantages-info {
		  .item-map-advantages-info-item {

			&.top-position {
			  &:before { display: none; }
			}
			&.center-position { width: 100%; margin-bottom: 58px;
			  &:before { display: none; }
			}
			&.bottom-position { width: 100%; padding-right: 0; padding-bottom: 0; max-width: none; flex-direction: row; min-height: 0;
			  &:before, &:after { display: none; }

			  .item-map-advantages-text { padding-left: 31px;
				&:before, &:after { display: none; }
			  }

			}

		  }
		}

	  }

	}

  }

  /* /item-map-advantages */

  /* item-map-uses */

  .item-map-uses { padding: 0 0 50px 0;
	.item-map-uses-wrap {
	  &:before { display: none; }

	  .item-map-section-title {
		span {

		  &:after, &:before { display: none; }

		}

	  }

	  .item-map-section-text {
		img { display: none; }
	  }

	  .item-map-section-content { padding: 0 10px 0px 10px; min-height: 0;
		&:before, &:after { display: none; }
	  }

	}
  }

  /* /item-map-uses */

  /* item-map-garanty */

  .item-map-garanty {

	.item-map-garanty-top {
	  .mbox {

		.item-map-section-title { margin-bottom: 20px;
		  span {
			&:before, &:after { display: none; }
		  }
		}

		.garanty-car-text { white-space: inherit; text-align: center; }

	  }
	}

  }

  /* /item-map-garanty */

  /* item-map-video */

  .item-map-video {
	.video-block {
	  iframe { height: 400px; }
	}
  }

  /* /item-map-video */

  /* item-map-service */

  .item-map-service {

	.black-part { min-height: 0;
	  .black-part-content { padding: 40px 10px 50px 10px; height: auto;
		.parts-title { padding-top: 14px;
		  &:before, &:after { display: none; }

		  span { font-size: 26px; }

		}
	  }
	}

	.white-part {
	  .white-part-content { height: auto;
		.white-part-wrap { padding: 40px 10px 30px 10px; height: auto;
		  .parts-title { font-size: 26px; }
		  .white-part-img { margin-bottom: 40px; }
		  .white-part-button { margin-bottom: 0; }
		}
	  }
	}

  }

  /* /item-map-service */

  /* item-map-perspective */

  .item-map-perspective {
	.titlius {
	  .txt { margin-bottom: 20px;
		&:before { display: none; }
	  }
	}
  }

  /* /item-map-perspective */

  /* /item-map-info-main -------------------------------------------------------------- */

  /* fancyboxes -------------------------------------------------------------- */

  /* uses-list-fancybox */

  .fancy-list {
	.where-uses {
	  .where-uses-wrap {
		&:after { height: calc(100% - 20px); }

		.where-uses-title {
		  span { font-size: 28px; }
		}

		.where-uses-subtitle { margin-bottom: 30px; font-size: 20px;
		  span { font-size: 20px; }
		}

		.where-uses-content { flex-direction: column; align-items: center;
		  .where-uses-col { max-width: 480px; width: 100%;

			ul {
			  li { margin-bottom: 10px;
				p { font-size: 16px; }
			  }
			}

			.where-used-button { padding: 20px 10px 0 10px; }
		  }
		}
	  }
	}
  }

  /* /uses-list-fancybox */

  /* /fancyboxes -------------------------------------------------------------- */

  .item-map-breath .txt { font-size: 26px;
	&:before { display: none; }
  }

  .item-map-perspective .titlius .txt { font-size: 26px; }

}
@media screen and (max-width: 666px) {

  /* item-map-info-main -------------------------------------------------------------- */

  /* item-map-advantages */

  .item-map-advantages{
	.item-map-advantages-main {

	  .item-map-advantages-wrap {

		.item-map-advantages-info {

		  .item-map-advantages-info-item {

			&.bottom-position {
			  .item-map-advantages-text { width:calc(100% - 105px); }
			}
		  }
		}
	  }
	}
  }

  /* /item-map-advantages */

  /* item-map-uses */

  .item-map-uses { padding: 0; background-position: left top; background-size: 175% 100%;

	.item-map-uses-wrap {
	  &:before { display: none; }

	  .item-map-section-title { margin-bottom: 15px; text-align: left;
		span { font-size: 30px; margin-left: 0;
		  &:before, &:after { display: none; }
		}
	  }

	  .item-map-section-text {
		p { font-size: 20px;
		  span { font-size: 20px; }
		}
	  }

	  .item-map-section-content { padding: 0 0 60px 0;
		&:before, &:after { display: none; }
	  }

	}

  }

  /* /item-map-uses */

  /* item-map-garanty */

  .item-map-garanty { padding-bottom: 40px;

	.item-map-garanty-top { padding-top: 30px; margin-bottom: 10px;
	  .item-map-section-title { padding-left: 100px;
		span { font-size: 24px;
		  &:before { right: calc(100% + 75px); width: 3px; bottom: 50%; }
		  &:after { right: calc(100% + 15px); width: 60px; height: 3px; }
		}
	  }
	}

	.item-map-garanty-bottom {
	  .item-map-garanty-text-wrap {
		&:before, &:after { display: none; }
		.item-map-garanty-text-main { padding: 0px 0; min-height: 0;
		  &:before, &:after { display: none; }
		}
	  }
	}

  }

  /* /item-map-garanty */

  /* item-map-video */

  .item-map-video {

	.item-map-section-title { text-align: left;
	  h3 { font-size: 18px; padding-right: 0px; padding-left: 100px;
		&:before, &:after { right: auto; top: auto; }
		&:before { left: 20px; width: 60px; height: 3px; bottom: 10px; background: rgb(123, 89, 152); background: -moz-linear-gradient(left, rgba(123, 89, 152, 1) 0%, rgba(123, 89, 152, 1) 0%, rgba(235, 112, 115, 1) 100%); background: -webkit-linear-gradient(left, rgba(123, 89, 152, 1) 0%, rgba(123, 89, 152, 1) 0%, rgba(235, 112, 115, 1) 100%); background: linear-gradient(to right, rgba(123, 89, 152, 1) 0%, rgba(123, 89, 152, 1) 0%, rgba(235, 112, 115, 1) 100%); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7b5998', endColorstr='#eb7073', GradientType=1); }
		&:after { left: 20px; height: 70px; width: 3px; top: calc(100% - 10px); }
	  }
	}

	.video-block {
	  iframe { height: 400px; }
	}

  }

  /* /item-wrap-video */

  /* item-map-breath */

  .item-map-breath {
	.txt { left: 0; width: 100%; font-size: 22px; text-align: center; top: 0; }
  }

  /* /item-map-breath */

  /* item-map-perspective */

  .item-map-perspective {

	.titlius {
	  .txt { margin-bottom: 20px; }
	}

	.content { padding-top: 30px;
	  .flex-line-container {
		.img { width: 50%; height: 150px; }
	  }
	}

  }

  /* /item-map-perspective */

  /* /item-map-info-main -------------------------------------------------------------- */

  /* fancyboxes -------------------------------------------------------------- */

  /* uses-list-fancybox */

  .fancy-list {
	.where-uses { padding: 35px 0 35px 0;

	  .mbox {
		&:after { content: ''; display: block; position: absolute; top: 0; left: 10px; width: calc(100% - 20px); height: 6px; background: #eb7073; background: -moz-linear-gradient(left, #eb7073 0%, #7b5999 100%); background: -webkit-linear-gradient(left, #eb7073 0%, #7b5999 100%); background: -webkit-gradient(linear, left top, right top, from(#eb7073), to(#7b5999)); background: -o-linear-gradient(left, #eb7073 0%, #7b5999 100%); background: linear-gradient(to right, #eb7073 0%, #7b5999 100%); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eb7073', endColorstr='#7b5999', GradientType=1) }
	  }

	  .where-uses-wrap { padding-top: 30px;
		&:before, &:after { height: 100%; }

		.where-uses-title {
		  span {
			&:after { display: none; }
		  }
		}

	  }
	}
  }

  /* /uses-list-fancybox */

  /* /fancyboxes -------------------------------------------------------------- */
}
@media screen and (max-width: 479px) {

  /* item-map-info-main -------------------------------------------------------------- */

  /* item-map-advantages */

  .item-map-advantages {

	.item-map-info-wrap {

	  .item-map-advantages-img { top: 150px; width: 150%; transform: translate(-20%, 0); }

	  .item-map-advantages-main {

		.item-map-section-title { text-align: left; padding: 0 20px; margin-bottom: 30px;
		  span { font-size: 18px; }
		}

		.item-map-advantages-wrap {
		  .item-map-advantages-info {
			.item-map-advantages-info-item { margin-bottom: 30px;
			  &:last-child{ margin-bottom: 0;}

			  .item-map-advantages-text { font-size: 12px;
				p {
				  b { font-size: 14px; }
				}
			  }

			}
		  }
		}

	  }

	}

  }

  /* /item-map-advantages */

  /* item-map-uses */

  .item-map-uses { background-size: 250% 100%;

	.mbox { padding: 0; }

	.item-map-uses-wrap { padding: 50px 10px 0 10px; background-position: calc(100% + 135px) 95%;

	  .item-map-section-title {
		span { font-size: 18px; }
	  }

	  .item-map-section-text {
		p { font-size: 16px; line-height: 1.5;
		  span { font-size: 16px; }
		}
		ul { margin: 0 0 10px 0;
		  li {
			p { font-size: 14px; }
		  }
		}
		a { font-size: 14px; }

	  }

	}

  }

  /* /item-map-uses */

  /* item-map-garanty */

  .item-map-garanty {

	.item-map-garanty-top { margin-bottom: 30px;
	  .item-map-section-title { padding-left: 60px;
		span { font-size: 18px;
		  &:before { right: calc(100% + 55px); }
		  &:after { width: 40px; }
		}
	  }
	}

	.item-map-garanty-bottom {
	  .item-map-garanty-text-wrap {
		.item-map-garanty-text-main { padding: 0;
		  .item-map-garanty-text {
			h3 { font-size: 16px; }
			p { font-size: 16px; line-height: 1.5; }
			ul {
			  li {
				p { font-size: 14px; }
			  }
			}
		  }
		}
	  }
	}

  }

  /* /item-map-garanty */

  /* item-map-video */

  .item-map-video {

	.item-map-section-title {
	  h3 { font-size: 16px; padding-left: 65px;
		&:before { width: 40px; }
		&:after { height: 40px; }
	  }
	}

	.video-block {
	  iframe { height: 300px; }
	}

  }

  /* /item-map-video */

  /* item-map-service */

  .item-map-service {

	.black-part { min-height: 450px;
	  .black-part-content { padding: 20px 20px 50px 20px;
		&:after { height: 3px; }
		&:before { width: 3px; height: calc(100% - 46px); top: 43px; }

		.parts-title { margin-bottom: 40px;
		  &:before { width: 3px; bottom: calc(100% - 26px); }
		  &:after { height: 3px; top: 23px; left: -6px; width: calc(100% + 24px); }

		  span { font-size: 18px; }
		}

		.black-part-form {
		  &:after { width: 3px; }

		  .form_row {

			.form_input {
			  input { padding: 16px 10px; font-size: 12px;
				&::-webkit-input-placeholder { font-size: 12px; }
				&:-moz-placeholder { font-size: 12px; }
				&::-moz-placeholder { font-size: 12px; }
				&:-ms-input-placeholder { font-size: 12px; }
			  }
			}

			&.submit {
			  .transparent-button {
				&.reverse-button { height: 50px; font-size: 16px; }
			  }
			}

		  }

		}

	  }
	}

	.white-part {
	  .white-part-content {
		.white-part-wrap { padding: 30px 20px 40px 20px;
		  .parts-title { font-size: 18px; }
		  .white-part-img { margin-bottom: 40px; }
		  .white-part-button {
			.transparent-button { height: 65px; }
		  }
		}
	  }
	}

  }

  /* /item-map-service */

  /* item-map-perspective */

	.item-map-perspective{

	  .titlius{
		.img{
		  img{ max-width:100%;}
		}
	  }

	  .content{
		.flex-line-container{
		  .img{ width:100%;}
		}
	  }

	}

  /* /item-map-perspective */

  /* /item-map-info-main -------------------------------------------------------------- */

  /* fancyboxes -------------------------------------------------------------- */

  /* uses-list-fancybox */

  .fancy-list {
	.where-uses { padding: 35px 0 35px 0;

	  .mbox {
		&:after { content: ''; display: block; position: absolute; top: 0; left: 10px; width: calc(100% - 20px); height: 6px; background: #eb7073; background: -moz-linear-gradient(left, #eb7073 0%, #7b5999 100%); background: -webkit-linear-gradient(left, #eb7073 0%, #7b5999 100%); background: -webkit-gradient(linear, left top, right top, from(#eb7073), to(#7b5999)); background: -o-linear-gradient(left, #eb7073 0%, #7b5999 100%); background: linear-gradient(to right, #eb7073 0%, #7b5999 100%); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eb7073', endColorstr='#7b5999', GradientType=1) }
	  }

	  .where-uses-wrap { padding-top: 30px;
		&:before, &:after { height: 100%; }
	  }
	}
  }

  /* /uses-list-fancybox */

  /* /fancyboxes -------------------------------------------------------------- */

}
@media screen and (max-width: 320px) {
}