$r:#f2535a; 

//catalog-tech page
.catalog-tech{
  .mbox{ display:flex; flex-direction:column; align-items:center; }
  .row{ width:100%; margin-bottom:80px; padding-top:30px;
	&:last-child{ margin-bottom:0; }
  }
  .catalog-tech-img{ overflow:hidden;
	img{ position:relative; left:50%; transform:translateX(-50%); object-fit:cover; }
  }
  
  .row-head{ display:flex; align-items:center; margin-bottom:45px;
	.row-plashka{ background:linear-gradient(to left, #da6c79 0%, #7c5998 100%); height:5px; width:75px; }
	.row-head-title{ margin-left:45px; font-size:30px; color:$r; }
  }
  .row-body{ display:flex; flex-wrap:wrap;
	p{ margin:0; display:flex; align-items:center; width:100%; color:#9a9a9a; font-size:16px;
	  img{ margin-right:5px; }
	}
	b{ color:#595959; }
	.item{ width:23.5%; padding:2px; background:linear-gradient(135deg, #da6c79 0%, #7c5998 100%); margin-right:2%; margin-bottom:20px;
	  &:nth-child(4n){ margin-right:0; }
	}
	.item-wrap{ background-color:#fff; padding:45px 30px 17px; height:100%;
	  .item-title{ color:$r; font-weight:bold; font-size:24px; margin-bottom:37px; font-weight:900;
		b{ color:$r; font-weight:800; }
	  }
	  .item-row{ margin-bottom:28px; }
	}
  }
  
  //contacts page
  &.contacts{ background:#f1f0f0 url("../images/contacts-big-img.jpg") bottom center no-repeat; background-size:cover;
	.contacts-wrap{ padding-bottom:120px; }
	.catalog-tech-img.mobile{ display:none; }
	
	.row-head{ position:relative; margin-bottom:68px;
	  .row-plashka{ position:absolute; width:320px; bottom:-15px; left:49px; background:linear-gradient(to right, #da6c79 0%, #7c5998 100%);
		&:after{ width:5px; background-color:#da6c79; height:55px; content:''; position:absolute; left:0; top:5px; content:''; }
	  }
	  .row-head-title{ margin-left:48px; }
	}
	.row-body{ position:relative; z-index:2;
	  .item{ background:white; padding:0; box-shadow:0px 3px 7px 0px rgba(0, 0, 0, 0.35); border-radius:2px;
		.item-wrap{ height:calc(100% - 400px);
		  .item-title{ margin-bottom:33px;
			b{ color:#4f4f4f; font-weight:600 }
		  }
		  .item-row{ margin-bottom:19px; }
		}
		.item-map{ height:400px;
		  .item-map-wrap{ width:100%; height:100%; background-color:#e8e8e8; }
		  
		}
	  }
	}
  }
}
//item-map-top
.fancybox-product .fancybox-skin{ background:white; }
.item-map-top{ padding-bottom:20px;
  .search-block .content{ padding-bottom:0px; border-bottom:none; }
  .product-title{ color:#595959; font-size:24px; font-weight:400; margin-bottom:65px; position:relative;
	&:after{ position:absolute; content:''; height:1px; width:100%; background-color:#e8e8e8; bottom:-15px; }
	h2{ margin:0; font-weight:400; }
  }
  .product-item{ display:flex;
	.product-slider{ width:40.5%; display:flex; justify-content:space-between;
	  .product-logo.mobile-show{ display:none;}
	  .slick-slider{ margin-bottom:0; }
	  .slider-mini{ width:115px;
		.item{ height:110px; border:1px solid #ebebeb; cursor:pointer; position:relative;
		  &:after{ position:absolute; width:100%; height:100%; top:0; left:0; content:''; background-color:rgba(0,0,0,.6);background-image:url('../images/search-w.png');background-repeat:no-repeat;background-position:center center; opacity:0; visibility:hidden;transition:all ease .3s;}
		  img{ width:100%; height:100%; }
		  &:hover{
			&:after{ opacity:1; visibility:visible;}
		  }
		}
	  }
	  .slider-big{ width:calc(100% - 115px - 30px);
		.item{ height:550px; display:flex; align-items:center; justify-content:center;border:1px solid #ebebeb;
		  a{ display:flex; align-items:center; justify-content:center;padding:10px;}
		  img{ }
		}
	  }
	}
	.product-description{ width:36%; padding:0 30px;
	  .desc-title{ font-size:36px; color:#595959; font-weight:800; margin-bottom:20px; }
	  .desc-text{ position:relative; overflow:hidden; line-height:1.46; margin-bottom:10px;
		&.no-hidden{
		  .desc-text-show{ height:auto; }
		  .desc-text-hidden{ position:static; }
		}
		p{ margin:0; }
		.desc-text-show{ height:120px; width:100%; transition:all ease .2s; }
		.desc-text-hidden{ position:absolute; top:0; left:0; width:100%; }
	  }
	  .desc-text-button{ color:#f2535a; font-size:16px; font-weight:400;
		span{ position:relative; cursor:pointer;
		  &:after{ position:absolute; width:100%; height:1px; background-color:#f2535a; left:0; bottom:1px; content:''; }
		  &:before{ height:6px; width:6px; position:absolute; border-bottom:1.5px solid #f2535a; border-left:1.5px solid #f2535a; transform:rotate(-45deg); right:-9px; top:7px; content:''; }
		}
	  }
	  
	  .desc-price-block{ padding-top:20px;
		p{ margin:0; }
		.price-row{ margin-bottom:30px;
		  .price-title{ font-size:20px; color:#4f4f4f; margin-left:5px; font-weight:600; margin-bottom:5px; }
		  .price-items{ display:flex; border:3px solid #fdf0f1; border-radius:10px; }
		  .item{ width:50%; display:flex; align-items:center; justify-content:center; height:54px; font-size:18px; color:#8f8f8f; text-align:center;
			&:first-child{ border-right:3px solid #fdf0f1; }
			strong{ font-size:30px; font-weight:bold; }
		  }
		}
		.price-button{ display:flex;
		  .item{ width:50%; padding:0 22px 22px; display:flex; flex-direction:column; align-items:center; height:180px; justify-content:flex-end;
			.item-text{ display:flex; align-items:center; justify-content:center; height:calc(100% - 80px); text-align:center;
			  p{
				strong{ font-size:36px; font-weight:bold; }
			  }
			}
			
			&:first-child{ background-color:#fdf0f1;
			  a{ color:#fff; background-color:#f2535a; font-weight:bold; font-size:20px;
				&:hover{ color:#f2535a; background-color:#fff; }
			  }
			}
			&:last-child{
			  a{ text-transform:uppercase; }
			}
			a{ height:80px; width:100%; display:flex; align-items:center; justify-content:center; text-align:center; padding:10px 20px; text-decoration:none; border:3px solid #f2535a; color:#f2535a; transition:all ease .2s; overflow:hidden;
			  &:hover{ color:#fff; background-color:#f2535a; }
			}
		  }
		}
	  }
	  
	}
	.product-logo:not(.mobile-show){ width:23.5%; }
  }
}


//popap product
.popup-hidden{ display:none; }
.fancybox-product{
  .fancybox-close{ display:none;}
}
.fancy-product{
  .product-title{ color:#595959; font-size:24px; font-weight:400; margin-bottom:65px; position:relative;
	&:after{ position:absolute; content:''; height:1px; width:100%; background-color:#e8e8e8; bottom:-15px; }
	h2{ margin:0; font-weight:400; }
  }
  .fancy-product-wrap{ display:flex;
	.product-slider{ width:40.5%; display:flex; justify-content:space-between;
	  .slick-slider{ margin-bottom:0; }
	  .slider-mini{ width:115px;
		.item{ height:110px; border:1px solid #ebebeb; cursor:pointer;
		  img{ width:100%; height:100%; }
		}
	  }
	  .slider-big{ width:calc(100% - 115px - 30px); height:550px;
		.item{ height:550px; position:relative; overflow:hidden;border:1px solid #ebebeb;
		  img{  position:absolute; top:50%; left:50%; transform:translate(-50%, -50%); max-width:100%; max-height:100%;padding:10px; }
		}
	  }
	}
	.product-description{ width:36%; padding:0 30px;
	  .row{ margin-bottom:40px;
		&:last-child{ margin-bottom:0; }
	  }
	  .row-title{ font-size:24px; color:#4f4f4f; font-weight:600; margin-bottom:20px; }
	  .row-text{ font-size:16px; line-height:30px; color:#8f8f8f;
		p{ margin:0; margin-bottom:15px; }
	  }
	  .row-table{
		.table-row{ display:flex; width:100%; margin-bottom:30px;
		  .item{
			&:first-child{ width:185px; overflow:hidden; position:relative;
			  span{ position:relative; z-index:2; }
			  &:after{ position:absolute; width:100%; border-bottom:2px dotted #f0f0f0; content:''; bottom:5px; }
			}
			&:last-child{ width:calc(100% - 185px); padding-left:15px; }
		  }
		}
	  }
	}
	.product-logo{ width:23.5%; display:flex; flex-direction:column; align-items:center;
	  a{ height:80px; width:100%; display:flex; align-items:center; justify-content:center; text-align:center; padding:10px 20px; text-decoration:none; border:3px solid #f2535a; color:#f2535a; transition:all ease .2s; overflow:hidden; max-width:245px; margin:0 auto; width:100%; text-transform:uppercase; font-size:14px;
		&:hover{ color:#fff; background-color:#f2535a; }
	  }
	  .product-close-popup{ margin-bottom:80px; }
	  .price-button{ max-width:290px; width:100%; margin:40px auto 0; height:180px; padding:22px; background-color:#fdf0f1; display:flex; flex-direction:column; justify-content:flex-end; text-align:center; justify-content:space-between;
		.item-text{ font-size:36px; font-weight:800; height:calc(100% - 80px);
		  p{ margin:0; }
		}
		a{ background-color:#f2535a; color:white;
		  &:hover{ color:#f2535a; background:#fff }
		}
	  }
	}
  }
}


//fancybox pop-clarify


.fancybox-clarify{
  .fancybox-close{ height:45px; width:45px; border:3px solid #eb7073; background:none; top:15px; right:15px; cursor:pointer; background-color:#fff; display:none;
	&:after, &:before{ width:14px; height:2px; background-color:#eb7073; content:''; position:absolute; top:18px; left:13px; transform:rotate(45deg); transform-origin:50% 50%;}
	&:before{ transform:rotate(-45deg); left:13px; }
  }
  .fancybox-skin{ background:#fff;}
}

#pop-clarify{background-color:#fff;
  .product-title{ font-size:24px; color:#595959; margin-bottom:65px; position:relative; width:100%;max-width:985px;
	h2,h1{margin:0; font-size:24px; font-weight:normal;}
  	&:after{background: linear-gradient(to right, #da6c79 0%, #7b5999 100%);content: ''; position: absolute; width: 100%; height: 5px; bottom:-10px; right:0;}
	&:before{ background-color:#7b5999; width:5px; height:60px; content:''; position:absolute; right:0;bottom:-70px;}
  }
  .pop-clarify-wrap{ padding:60px 0px;}
  .clarify-middle{ display:flex; position:relative; z-index:2;
	.clarify-img{ display:flex; align-items:center; justify-content:center; width:calc(100% - 455px - 25%);
	  img{ max-width:550px; }
	}
	.clarify-form{ width:455px; height:550px; box-shadow:0px 0px 37.5px 12.5px rgba(0, 0, 0, 0.08);padding:47px 3% 10px; background-color:#fff; display:flex;
	  form{display: flex;flex-direction: column; width:100%;}
	  .errorText{ display:none !important;}
	  .form_row{ display:flex; flex-direction:column; margin-bottom:30px; width:100%;
		p{margin:0; font-size:16px; color:#4f4f4f; margin-bottom:12px;}
		.form_input{ width:100%; }
		input{ width:100%;border:2px solid #f2535a; padding:0px 27px; height:60px; font-size:16px;
		  &::-webkit-input-placeholder {color:#8f8f8f;}
		  &:-moz-placeholder {color:#8f8f8f;opacity:1;}
		  &::-moz-placeholder {color:#8f8f8f;opacity:1;}
		  &:-ms-input-placeholder {color:#8f8f8f;}
		  &.error{
			&::-webkit-input-placeholder {color:red;}
			&:-moz-placeholder {color:red;opacity:1;}
			&::-moz-placeholder {color:red;opacity:1;}
			&:-ms-input-placeholder {color:red;}
		  }
		}
	  }
	  .contact-submit{ width:250px; height:80px;border:none; background-color:$r; font-size:18px; color:#fff;margin:0 auto; font-weight:bold; margin-top:10px;}
	}
	.clarify-button{ width:25%; display:flex; flex-direction:column; align-items:center;
	  .transparent-button{ max-width:246px; height:80px; margin:0 auto; width:100%; margin-bottom:100px;}
	}
  }
}
.fancybox-form1{	
} 

#pop-zakaz{background-color:#fff;

	.pop-clarify-wrap{ padding:60px 40px; background-color: #fff;}

		.clarify-form{ width:450px; height:550px; padding:47px 3% 10px; background-color:#fff; display:flex;
			form{display: flex;flex-direction: column; width:100%;}
			.errorText{ display:none !important;}
			.form_row{ display:flex; flex-direction:column; margin-bottom:30px; width:100%;
				p{margin:0; font-size:16px; color:#4f4f4f; margin-bottom:12px;}
				.form_input{ width:100%; }
				input{ width:100%;border:2px solid #e8e8e8; padding:0px 27px; height:60px; font-size:16px;
					&::-webkit-input-placeholder {color:#8f8f8f;}
					&:-moz-placeholder {color:#8f8f8f;opacity:1;}
					&::-moz-placeholder {color:#8f8f8f;opacity:1;}
					&:-ms-input-placeholder {color:#8f8f8f;}
					&.error{border:2px solid red; 
						// &::-webkit-input-placeholder {color:red;}
						// &:-moz-placeholder {color:red;opacity:1;}
						// &::-moz-placeholder {color:red;opacity:1;}
						// &:-ms-input-placeholder {color:red;}
					}
				}
			}
			.form-field{
				.hiddenRecaptcha{
					&.error{border:2px solid red; 
						
					}
				}
			}
			.form-field div{ left: 50%; transform: translateX(-50%); }
			.contact-submit{ width:250px; height:80px;border:none; background-color:$r; font-size:18px; color:#fff;margin:0 auto; font-weight:bold; margin-top:10px;}
		}
		.clarify-button{ width:25%; display:flex; flex-direction:column; align-items:center;
			.transparent-button{ max-width:246px; height:80px; margin:0 auto; width:100%; margin-bottom:100px;}
		}

}


//item-map-tubs
.item-map-tubs{
  .item-map-tubs-top{ width:100%;max-width:870px; padding-bottom:50px; padding-top:60px;
	ul{ display:flex;margin:0;padding:0;list-style-type:none;
		li{ width:20%; text-align:center; border-bottom:2px solid #e6e6e6;cursor:pointer; text-transform:uppercase; font-size:18px; color:#595959;padding: 8px 5px; font-weight:600;
			&.active{border-color:$r;}
		}
	}
	
  }
  .item-map-tubs-middle{ position:relative;
  	.item{ position:absolute; left:0; width:100%; right:0; top:0; z-index:-1; visibility:hidden; opacity:0;transition:all ease .2s;
	  &.active{ z-index:2; opacity:1; visibility:visible; position:relative;}
	}
  }
}


//fancybox-nav
.fancybox-nav span{ background-image:none;}

.fancybox-next span{ transform:rotate(45deg); border-top:4px solid #f2535a; border-right:4px solid #f2535a;}
.fancybox-prev span{transform:rotate(-45deg); border-top:4px solid #f2535a; border-left:4px solid #f2535a;}

/* about -------------------------------------------------------------- */

/* about-top */

.about-top { display: flex; justify-content: space-between; align-items: flex-start;
  
  .about-logo { width: 550px; color: #eb7073; text-transform: uppercase; text-align: center;
	h2 { font-weight: 900; font-size: 82px; margin: 0; line-height: 85px; }
	p { font-weight: 300; font-size: 24px; margin: 0 0 10px 0; }
	.about-logo-bottom { background-color: #eb7073; padding: 15px 5px 15px 5px;
	  p { color: #fff; font-weight: 300; font-size: 30px; letter-spacing: 15px; margin: 0; }
	}
  }
  .about-top-brends { width: calc(100% - 575px); display: flex; justify-content: flex-end; align-items: flex-start; flex-wrap: wrap;
	.about-top-brend-item { width: 25%; max-width: 250px; height: 175px; border: 1px solid #f8f9f9; padding: 0 5px; transition: all 300ms ease;
	  &:hover { background-color: rgba(0, 0, 0, .05); }
	}
  }
  
}
/* /about-top */

/* about-info */

.about-info-wrap { background-image: url(../images/about-info-fone.png); background-repeat: no-repeat; background-size: cover; background-position: center bottom; padding-bottom: 50px;
  
  .about-info-img { margin-bottom: 85px;
	img { max-width: none; object-fit: cover; width: 100%; }
  }
  
  .text-block { margin-bottom: 50px; max-width: 1290px; width: 100%; color: #9a9a9a; font-size: 18px;
	
	p { margin: 0; line-height: 1.5;
	  b { font-weight: 800; font-size: 24px; }
	}
	
	ul { margin: 0; padding: 0; list-style: none;
	  li { position: relative; padding-left: 65px;
		&:before { content: ''; display: block; position: absolute; top: 13px; left: 30px; border-radius: 50%; width: 4px; height: 4px; background-color: #9a9a9a; }
	  }
	}
	
  }
  
  .about-info-bottom { text-align: center;
	h3 { font-size: 35px; font-weight: 900; color: #eb7073; margin: 0 0 40px 0; }
	.bout-info-img{
	  &.mobile-show{ display:none;}
	}
  }
  
}
/* /about-info */

/* about-circles */

.about-circles-wrap { padding-bottom: 75px;
  
  .about-circles-row { position: relative; border-left: 5px solid #da6c79; margin-bottom: 50px;
	&:before { content: ''; position: absolute; left: 0; top: 0; width: 125px; height: 5px; background-color: #da6c79; }
	&:after { content: ''; position: absolute; bottom: 0; left: 0; width: 100%; height: 5px; background: #d76c7a; background: -moz-linear-gradient(left, #d76c7a 0%, #7b5999 100%); background: -webkit-linear-gradient(left, #d76c7a 0%, #7b5999 100%); background: linear-gradient(to right, #d76c7a 0%, #7b5999 100%); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d76c7a', endColorstr='#7b5999', GradientType=1); }
	&:last-child { margin-bottom: 0; }
	
	.about-circles-title { padding-left: 145px; font-size: 30px; color: #da6c79; font-weight: 700; position: relative; top: -17px; }
	
	.about-circles-items { display: flex; justify-content: flex-start; align-items: flex-start; flex-wrap: wrap; padding: 50px 65px 0 65px;
	  .about-circles-item { width: 25%; padding: 0 10px; text-align: center; color: #595959; font-size: 18px; font-weight: 700; margin-bottom: 50px;
		a { text-decoration: none; color: #595959; transition: all 300ms ease;
		  &:hover { color: #eb7073; }
		}
		.about-circle-img { overflow: hidden; border-radius: 50%; width: 275px; height: 275px; margin: 0 auto 45px auto;
		  img { max-width: none; object-fit: cover; }
		}
	  }
	}
	
  }
  
}
/* /about-circles */



//discount-popup
.fancybox-form{
  .fancybox-close{ height:45px; width:45px; border:3px solid #eb7073; background:none; top:15px; right:15px; cursor:pointer; background-color:#fff;
	&:after, &:before{ width:14px; height:2px; background-color:#eb7073; content:''; position:absolute; top:18px; left:13px; transform:rotate(45deg); transform-origin:50% 50%;}
	&:before{ transform:rotate(-45deg); left:13px; }
  }
  .fancybox-skin{ background:#fff;}
}
.discount-popup{
  .discount-popup-title{ text-align:center; font-size:25px; width:100%; padding:10px 5px 15px;
  	h5{margin:0;}
  }
  .discount-popup-form{box-shadow:0px 0px 37.5px 12.5px rgba(0, 0, 0, 0.08);padding:60px 5% 10px; background-color:#fff;width:420px;
	form{display: flex;flex-direction: column; width:100%;}
	.errorText{ display:none !important;}
	.form_row{ display:flex; flex-direction:column; margin-bottom:30px; width:100%;
	  p{margin:0; font-size:16px; color:#4f4f4f; margin-bottom:12px;}
	  .form_input{ width:100%; }
	  input{ width:100%;border:2px solid #f2535a; padding:0px 27px; height:60px; font-size:16px;
		&::-webkit-input-placeholder {color:#8f8f8f;}
		&:-moz-placeholder {color:#8f8f8f;opacity:1;}
		&::-moz-placeholder {color:#8f8f8f;opacity:1;}
		&:-ms-input-placeholder {color:#8f8f8f;}
		&.error{
		  &::-webkit-input-placeholder {color:red;}
		  &:-moz-placeholder {color:red;opacity:1;}
		  &::-moz-placeholder {color:red;opacity:1;}
		  &:-ms-input-placeholder {color:red;}
		}
	  }
	}
	.contact-submit{ width:250px; height:80px;border:none; background-color:$r; font-size:18px; color:#fff;margin:0 auto; font-weight:bold; margin-top:10px;}
  }
}

/* /about -------------------------------------------------------------- */