@media screen and (max-width: 1920px) {
}
@media screen and (max-width: 1900px) {

  /* item-map-info-main -------------------------------------------------------------- */

  /* item-map-advantages */

  .item-map-advantages {

	.item-map-info-wrap { padding: 157px 0 107px 0;

	  .item-map-advantages-img { top: 135px; left: 998px;
		img { max-height: 820px; }
	  }

	}

	.item-map-advantages-main {

	  .item-map-section-title { padding: 0 0 0 103px; margin-bottom: 107px;
		span { font-weight: 600; letter-spacing: .5px; font-size: 40px;
		  &:after { left: calc(100% + 67px); top: calc(50% - 4px); width: 543px; }
		}
	  }

	  .item-map-advantages-wrap { justify-content: space-between;

		.item-map-advantages-motor { width: 35%;
		  span { max-width: 390px; position: relative; top: -20px; }
		}

		.item-map-advantages-info { width: 63.5%;
		  .item-map-advantages-info-item { margin-bottom: 58px;

			.item-map-advantages-item-img { width: 101px; height: 101px; }

			.item-map-advantages-text { padding-left: 22px; max-width: 450px; font-size: 14px;
			  p { line-height: 1.75;
				b { font-size: 20px; }
			  }
			}

			&.top-position {
			  &:before { width: 45%; }
			  &:after { right: 145%; height: 85px; }
			}

			&.center-position {
			  &:before { width: 76px; }

			  .item-map-advantages-text { padding-left: 40px; }
			}

			&.bottom-position { max-width: 500px; min-height: 300px;
			  &:before { left: 101px; width: calc(100% - 101px); top: 50px; }
			  &:after { height: calc(100% - 51px); top: 51px; }

			  .item-map-advantages-item-img { margin-bottom: 30px; }

			  .item-map-advantages-text {
				&:before { width: 126.5%; }
				&:after { right: 126.5%; height: 185px; }

				p { line-height: 1.85; }
			  }

			}

		  }
		}

	  }

	}
  }

  /* /item-map-advantages */

  /* item-map-uses */

  .item-map-uses { padding: 0 0 86px 0;
	.item-map-uses-wrap { max-width: 1165px; padding-left: 156px;
	  &:before { left: 101px; }

	  .item-map-section-title { margin-bottom: 28px;
		span { font-size: 40px; font-weight: 600;
		  &:after { left: calc(100% + 80px); top: calc(50% - 8px); }
		}
	  }

	  .item-map-section-content { padding: 0 20px 60px 94px; min-height: 355px;
		&:before { top: -58px; height: calc(100% + 57px); }
		&:after { width: calc(100% + 53px); }
	  }

	  .item-map-section-text {
		p { font-size: 25px; letter-spacing: .1px;
		  span { font-size: 21px; }
		}
		ul { margin: 8px 0 32px 0; padding: 0 0 0 50px;
		  li { padding-left: 27px; margin-bottom: 16px;
			&:before { top: 9px; }

			p { font-size: 16px;
			  span { font-size: 16px; }
			}
		  }
		}
		a { font-size: 16px; }
	  }

	}
  }

  /* /item-map-uses */

  /* item-map-garanty */

  .item-map-garanty { padding-bottom: 143px;

	.item-map-garanty-top { padding-top: 61px; margin-bottom: 40px;

	  .item-map-section-title { padding-left: 276px;
		span { font-size: 40px; font-weight: 600;
		  &:before { width: 3px; }
		  &:after { height: 3px; top: 50%; }
		}
	  }

	  .garanty-car-text { font-weight: 900; line-height: 94px; left: 557px; font-size: 120px; }

	}

	.item-map-garanty-bottom {

	  .item-map-garanty-text-wrap { width: 67.5%;
		&:after, &:before { height: 3px; }

		.item-map-garanty-text-main { padding: 56px 16% 50px 73px; min-height: 520px; align-items: flex-start;
		  &:after { width: 3px; }

		  .item-map-garanty-text {
			h3 { letter-spacing: -0.9px; }
			ul { margin: 13px 0 12px 0;
			  li { padding-left: 45px; margin-bottom: 19px;
				&:before { left: 23px; top: 9px; }

				p { font-size: 14px; }

			  }
			}
			p { line-height: 1.75; font-size: 16px; }
		  }

		}

	  }

	  .item-map-garanty-img { margin-top: -31px; width: 42.5%;
		&:before { height: 3px; top: 31px; width: 23.1%; }
		&:after { left: 23.1%; width: 3px; }

		.item-map-garanty-img-wrap {
		  .item-map-garanty-img-main { height: 500px; }
		}

	  }

	}

  }

  /* /item-map-garanty */

  /* item-map-video */

  .item-map-video {

	.item-map-section-title { margin-bottom: 38px;
	  h3 { font-size: 40px; margin: 0; padding-right: 206px;
		&:before { width: 155px; right: 3px; }
		&:after { right: 3px; }
	  }
	}

  }

  /* /item-map-video */

  /* item-map-service */

  .item-map-service {

	.black-part { min-height: 801px;

	  .black-part-background { bottom: -111px; }

	  .black-part-content { max-width: 633px; padding: 75px 10px 70px 10px; height: calc(100% - 87px);
		&:after { width: 317px; }

		.parts-title { margin-bottom: 128px;
		  span { font-size: 40px; top: 5px; letter-spacing: 0.75px; padding: 0 30px; }
		}

		.black-part-form {
		  .form_row { margin-bottom: 34px;

			.form_input {
			  input { max-width: 323px; padding: 21px 18px; }
			}

			&.submit {
			  .transparent-button {
				&.reverse-button { max-width: 323px; height: 64px; font-size: 16px; }
			  }
			}

		  }
		}

	  }
	}

	.white-part {

	  .white-part-content { height: calc(100% - 87px); max-width: 678px;
		.white-part-wrap { padding: 160px 20px 70px 8px;

		  .parts-title { font-size: 40px; max-width: 440px; line-height: 1.5; margin-bottom: 20px; }

		  .white-part-img { margin-bottom: 65px;
			img { max-width: 260px; }
		  }

		  .white-part-button {
			.transparent-button { height: 66px; max-width: 285px; border-width: 3px; }
		  }

		}
	  }

	}

  }

  /* /item-map-service */

  /* item-map-breath */

  .item-map-breath { padding-top: 108px;
	.txt { top: 255px; left: 52%; font-size: 40px;
	  &:before { left: calc(100% + 48px); bottom: 25px; }
	}
  }

  /* /item-map-breath */

  /* item-map-perspective */

  .item-map-perspective {

	.titlius { padding-top: 28px;
	  .txt { font-size: 40px; padding-left: 155px;
		&:before { bottom: 21px; left: -48px; }
	  }
	}

	.content {
	  .img { height: 300px;
		img { height: 100%; object-fit: cover; }
	  }
	}

	.button-wrap { padding-top: 77px;
	  .transparent-button { max-width: 280px; height: 65px; border-width: 3px;
		span { font-size: 16px; }
	  }
	}

  }

  /* /item-map-perspective */

  /* item-map-info-main -------------------------------------------------------------- */

}
@media screen and (max-width: 1599px) {

  /* item-map-info-main -------------------------------------------------------------- */

  /* item-map-advantages */

  .item-map-advantages {

	.item-map-info-wrap {padding:157px 0 98px 0;
	  .item-map-advantages-img { left: 893px; top: 268px;
		img { max-height: 670px; }
	  }
	}

	.item-map-advantages-main {

	  .item-map-section-title { padding: 0 0 0 90px; margin-bottom: 118px;
		span { font-size: 36px;
		  &:after { left: calc(100% + 46px); width: 481px; top: calc(50% - 2px); }
		}
	  }

	  .item-map-advantages-wrap {
		.item-map-advantages-motor { width: 28%; margin-left: 1.75%;
			span{top:-42px;}
		}
		.item-map-advantages-info { width: 67%;
		  .item-map-advantages-info-item { margin-bottom: 69px;

			.item-map-advantages-item-img { width: 91px; height: 91px; }
			.item-map-advantages-text { padding-left: 13px; }

			&.top-position{
			  &:before { width: 38%; }
			  &:after { right: 138% }
			}

			&.center-position{
			  .item-map-advantages-text{ padding-left: 11px;}
			}

			&.bottom-position{ min-height:293px; padding-right: 20px;
				&:before{left:91px; width:calc(100% - 102px);}
			  	&:after{ right:11px;}

			  .item-map-advantages-text{
				&:before{right:11px;}
				&:after{ right:128.5%;}
			  }

			}

		  }
		}
	  }

	}

  }

  /* /item-map-advantages */

  /* item-map-uses */

	.item-map-uses{padding:0 0 80px 0;
	  .item-map-uses-wrap{ max-width:1022px;padding:88px 0 0 0;
		&:before{left:89px;}

	  	.item-map-section-title{ margin-bottom: 34px;
			span{ font-size: 36px; margin-left:-20px;
				&:after{left:calc(100% + 51px);top:calc(50% - 4px);}
			}
		}

		.item-map-section-content{padding:0 20px 60px 180px;
		  &:after{ width:calc(100% - 89px);}

		  .item-map-section-text{
			p{ font-size: 19px;letter-spacing: .5px;
				span{ font-size: 17px;}
			}
			ul{padding:0 0 0 120px;margin:5px 0 24px 0;
				li{
				  &:before{top:7px;}

				  p{ font-size:15px;}
				}
			}
			a{ margin-left:71px;}
		  }
		}

	  }
	}

  /* /item-map-uses */

  /* item-map-garanty */

	.item-map-garanty{ padding-bottom: 80px;

	  .item-map-garanty-top{ padding-top: 40px;

	  	.item-map-section-title{ padding-left:304px;
			span{
			  &:before{ width:6px;right:calc(100% + 196px);}
			  &:after{ height:6px;top:calc(50% - 3px);}
			}
		}

		.garanty-car-text{ line-height: 106px; font-size: 100px;left:587px;}

	  }

	  .item-map-garanty-bottom {

		.item-map-garanty-text-wrap{ width:79%;
		  .item-map-garanty-text-main{padding:56px 16% 50px 45px;}
		}

		.item-map-garanty-img { width: 42.3%;
		  	&:before{ width:49.7%;}
			&:after{left:49.7%; height:469px;}
		}

	  }

	}

  /* /item-map-garanty */

  /* item-map-video */

	.item-map-video{
	  .item-map-section-title{ margin-bottom: 18px;
		h3{ font-size: 36px; padding-right: 224px;
		  	&:before, &:after{top:calc(50% - 5px);}
			&:before{right: 21px;}
		  	&:after{right:20px;}
		}
	  }
	}

  /* /item-map-video */

  /* item-map-service */

	.item-map-service{

	  .black-part{ min-height:682px;
	  	.black-part-content{ max-width:565px;padding:78px 10px 70px 10px; height:calc(100% - 69px);

			.parts-title{margin-bottom: 79px;
			  &:before{bottom:calc(100% - 27px);}
			  &:after{top:21px;}

			  span{ font-size: 36px;padding:0 21px;}
			}

		  	.black-part-form{
			  .form_row{

				.form_input{
				  input{ max-width:300px;}
				}

				&.submit{
				  .transparent-button{
					&.reverse-button{ max-width:300px;}
				  }
				}

			  }
			}

		}
	  }

	  .white-part{
		.white-part-content{max-width: 590px; height:calc(100% - 69px);
		  .white-part-wrap{padding:140px 20px 50px 8px;

			.parts-title{ font-size: 36px; max-width:395px; line-height: 1.35;}

			.white-part-img{ margin-bottom: 49px;
			  img{ max-width:235px;}
			}

			.white-part-button{
			  .transparent-button{ height: 59px; max-width:260px; font-size: 14px;}
			}

		  }
		}
	  }

	}

  /* /item-map-service */

  /* item-map-breath */

	.item-map-breath{ padding-top: 27px;
		.txt{top:175px; font-size: 36px;left:60.2%;}
	}

  /* /item-map-breath */

  /* item-map-perspective */

  	.item-map-perspective{

	  .titlius{ padding-top: 0;
	  	.txt{ font-size: 36px; padding-left: 287px;top:-6px;
		  &:before{left:85px;}
		}
	  }

	  .content{ padding-top: 28px;
	  	.img{ height: 240px;}
	  }

	  .button-wrap{ padding-top: 70px;}

	}

  /* /item-map-perspective */

  /* /item-map-info-main -------------------------------------------------------------- */

}
@media screen and (max-width: 1366px) {

  /* about -------------------------------------------------------------- */

  /* about-top */

  .about-top {

	.about-logo { width: 400px;
	  h2 { font-size: 52px; line-height: 56px; }
	  p { font-size: 18px; }
	  .about-logo-bottom {
		p { font-size: 22px; letter-spacing: 12px; }
	  }
	}

	.about-top-brends { width: calc(100% - 425px); }

  }

  /* /about-top */

  /* about-circles */

  .about-circles-wrap {

	.about-circles-row {
	  .about-circles-items { padding: 50px 35px 0 35px;
		.about-circles-item {
		  .about-circle-img { width: 175px; height: 175px; }
		}
	  }
	}

  }

  /* about-circles */

  /* /about -------------------------------------------------------------- */

  /* item-map-info-main -------------------------------------------------------------- */



  /* /item-map-info-main -------------------------------------------------------------- */

}
@media screen and (max-width: 1280px) {

  /* item-map-info-main -------------------------------------------------------------- */

  /* item-map-garanty */

  .item-map-garanty {

	.item-map-garanty-bottom {
	  .item-map-garanty-img {
		&:before { width: 23.7%; }
		&:after { left: 23.7%; }
	  }
	}

  }

  /* /item-map-garanty */

  /* item-map-video */

  .item-map-video {
	.item-map-section-title {
	  h3 { font-size: 32px; padding-right: 240px; }
	}
  }

  /* /item-map-video */

  /* item-map-service */

  .item-map-service {

	.black-part { padding-left: 10px;
	  .black-part-content {
		.parts-title { padding-top: 10px;
		  span { font-size: 36px; }
		}
	  }
	}

	.white-part { padding-right: 10px;
	  .white-part-content {
		.white-part-wrap {
		  .parts-title { font-size: 36px; }
		}
	  }
	}

  }

  /* /item-map-service */

  /* /item-map-info-main -------------------------------------------------------------- */

  //item-map-breath
  .item-map-breath {
	.txt { font-size: 36px;
	  &:before { bottom: 23px; }
	}
  }

  .item-map-perspective {
	.titlius .txt { font-size: 36px;
	  &:before { display: none; }
	}
  }

}
@media screen and (max-width: 1024px) {

  /* about -------------------------------------------------------------- */

  /* about-top */

  .about-top {

	.about-logo { width: 350px;
	  h2 { font-size: 42px; line-height: 46px; }
	  p { font-size: 16px; }
	  .about-logo-bottom {
		p { font-size: 20px; letter-spacing: 8px; }
	  }
	}

	.about-top-brends { width: calc(100% - 375px); }

  }

  /* /about-top */

  /* about-lists */

  .about-lists-wrap {
	.about-lists {
	  .about-list {
		h3 { font-size: 20px; line-height: 1.25; }
	  }
	}
  }

  /* /about-lists */

  /* /about -------------------------------------------------------------- */

  /* item-map-info-main -------------------------------------------------------------- */

  /* item-map-advantages */

  .item-map-advantages {

	.item-map-info-wrap { padding: 75px 0 50px 0; }

	.item-map-advantages-main {

	  .item-map-section-title { margin-bottom: 50px; padding: 0 0 0 90px;
		span {
		  &:after { left: calc(100% + 50px); }
		}
	  }

	  .item-map-advantages-wrap {

		.item-map-advantages-info {

		  .item-map-advantages-info-item {

			&.top-position {
			  &:after { height: 100px; }
			}

			&.bottom-position {
			  .item-map-advantages-text {
				&:after { height: 125px; }
			  }
			}

		  }

		}

	  }

	}

  }

  /* /item-map-advantages */

  /* /item-map-info-main -------------------------------------------------------------- */

}
@media screen and (max-width: 992px) {

  /* about -------------------------------------------------------------- */

  /* about-top */

  .about-top { flex-direction: column; justify-content: flex-start; align-items: center;

	.about-logo { margin-bottom: 20px; width: 100%;
	  h2 { font-size: 62px; line-height: 66px; }
	  p { font-size: 22px; }
	  .about-logo-bottom { max-width: 500px; width: 100%; margin: 0 auto;
		p { font-size: 26px; letter-spacing: 12px; }
	  }
	}

	.about-top-brends { width: 100%;
	  a { height: 125px; }
	}

  }

  /* /about-top */

  /* about-info */

  .about-info-wrap {

	.text-block {
	  p {
		b { font-size: 22px; }
	  }
	  ul {
		li { padding-left: 35px;
		  &:before { left: 15px; }
		}
	  }
	}

	.about-info-bottom {
	  h3 { font-size: 28px; }
	}

  }

  /* /about-info */

  /* about-circles */

  .about-circles-wrap {

	.about-circles-row {
	  .about-circles-items {
		.about-circles-item { width: 33.33%; }
	  }
	}

  }

  /* /about-circles */

  /* about-lists */

  .about-lists-wrap {

	.about-lists { flex-wrap: wrap; justify-content: center;
	  .about-list { width: 50%; margin-bottom: 40px; }
	}

	.about-lists-img { margin-top: -100px; }

  }

  /* /about-lists */

  /* /about -------------------------------------------------------------- */

  /* item-map-info-main -------------------------------------------------------------- */

  /* item-map-uses */

  .item-map-uses {
	.item-map-uses-wrap {
	  &:before { content: ''; display: block; min-height: 0; height: calc(100% - 110px); }

	  .item-map-section-title {
		span {
		  &:before { content: ''; display: block; position: absolute; top: calc(50% - 3px); right: calc(100% + 100px); height: 6px; width: 500px; background-color: #eb7073; }
		}
	  }

	}
  }

  /* /item-map-uses */

  /* item-map-garanty */

  .item-map-garanty {

	.item-map-garanty-top { margin-bottom: 50px;

	  .garanty-car-text { display: none; }

	}

	.item-map-garanty-bottom {

	  .item-map-garanty-text-wrap { width: 100%; padding: 0 15px;
		&:before, &:after { width: calc(100% - 30px); left: 15px; }

		.item-map-garanty-text-main { padding: 50px 30px; min-height: 0;
		  &:before { content: ''; display: block; width: 6px; height: 100%; background-color: #ea7074; position: absolute; left: 0; top: 0; }
		}

	  }

	  .item-map-garanty-img { display: none; }

	}

  }

  /* /item-map-garanty */

  /* item-map-video */

  .item-map-video {
	.item-map-section-title {
	  h3 { font-size: 22px; padding-right: 180px;
		&:before { width: 140px; }
		&:after { height: 165px; }
	  }
	}
  }

  /* /item-map-video */

  /* item-map-service */

  .item-map-service {

	.black-part, .white-part { width: 100%; }

	.black-part { padding-right: 10px; min-height: 620px;
	  .black-part-content { max-width: none; padding: 40px 10px 50px 10px;
		&:before { content: ''; display: block; width: 6px; height: calc(100% - 67px); background-color: #e36e76; position: absolute; top: 67px; right: 0; }

		.parts-title { margin-bottom: 60px; }

	  }
	}

	.white-part { padding-right: 0;
	  .white-part-content { max-width: none;
		&:after { display: none; }

		.white-part-wrap { padding: 60px 20px 50px 20px;
		  &:before, &:after { display: none; }
		}

	  }
	}

  }

  /* /item-map-service */

  /* /item-map-info-main -------------------------------------------------------------- */

  .item-map-breath {
	.txt { top: 40px; }

  }
  .item-map-perspective {
	.content {
	  .flex-line-container { flex-wrap: wrap; }
	  .img { width: 50%; }
	}
  }

}
@media screen and (max-width: 767px) {

  /* about -------------------------------------------------------------- */

  /* about-top */

  .about-top {

	.about-top-brends { justify-content: center;
	  .about-top-brend-item { width: 50%; }
	}

  }

  /* /about-top */

  /* about-info */

  .about-info-wrap {

	.about-info-img { margin-bottom: 40px; }

	.text-block { font-size: 16px;
	  p {
		b { font-size: 20px; }
	  }
	}

	.about-info-bottom {
	  h3 { font-size: 24px; }
	}

  }

  /* /about-info */

  /* about-circles */

  .about-circles-wrap {

	.about-circles-row {
	  .about-circles-items {
		.about-circles-item { width: 50%; }
	  }
	}

  }

  /* /about-circles */

  /* about-lists */

  .about-lists-wrap {

	.about-lists {
	  .about-list { width: 100%; }
	}

  }

  /* /about-lists */

  /* /about -------------------------------------------------------------- */

  /* item-map-info-main -------------------------------------------------------------- */

  /* item-map-advantages */

  .item-map-advantages {

	.item-map-advantages-main {

	  .item-map-section-title { text-align: center; padding-left: 0; overflow: visible;
		span {
		  &:after { width: 100%; height: 3px; left: 0; top: 100%; }
		}
	  }

	  .item-map-advantages-wrap { flex-direction: column; align-items: flex-start; justify-content: flex-start;
		.item-map-advantages-motor, .item-map-advantages-info { width: 100%; }
		.item-map-advantages-motor { text-align: center; margin-bottom: 20px; }

		.item-map-advantages-info {
		  .item-map-advantages-info-item {
			&.top-position, &.center-position, &.bottom-position { flex-direction: row; align-items: center; justify-content: flex-start;
			  &:before, &:after { display: none; }

			  .item-map-advantages-text { width: calc(100% - 114px); padding-left: 25px; padding-right: 0;
				&:before, &:after { display: none; }
			  }
			}
		  }
		}

	  }

	}

  }

  /* /item-map-advantages */

  /* item-map-uses */

  .item-map-uses {
	.item-map-uses-wrap {

	  .item-map-section-title {
		span {

		  &:after { left: calc(100% + 10px); }
		  &:before { right: calc(100% + 10px); }

		}

	  }

	  .item-map-section-text {
		img { display: none; }
	  }

	}
  }

  /* /item-map-uses */

  /* item-map-service */

  .item-map-service {

	.black-part { min-height: 550px;
	  .black-part-content {
		.parts-title { padding-top: 14px;
		  span { font-size: 26px; }
		}
	  }
	}

	.white-part {
	  .white-part-content {
		.white-part-wrap {
		  .parts-title { font-size: 26px; }
		}
	  }
	}

  }

  /* /item-map-service */

  /* /item-map-info-main -------------------------------------------------------------- */

  /* fancyboxes -------------------------------------------------------------- */

  /* uses-list-fancybox */

  .fancy-list {
	.where-uses {
	  .where-uses-wrap {
		&:after { height: calc(100% - 20px); }

		.where-uses-title {
		  span { font-size: 28px; }
		}

		.where-uses-subtitle { margin-bottom: 30px; font-size: 20px;
		  span { font-size: 20px; }
		}

		.where-uses-content { flex-direction: column; align-items: center;
		  .where-uses-col { max-width: 480px; width: 100%;

			ul {
			  li { margin-bottom: 10px;
				p { font-size: 16px; }
			  }
			}

			.where-used-button { padding: 20px 10px 0 10px; }
		  }
		}
	  }
	}
  }

  /* /uses-list-fancybox */

  /* /fancyboxes -------------------------------------------------------------- */

  .item-map-breath .txt { font-size: 26px;
	&:before { display: none; }
  }

  .item-map-perspective .titlius .txt { font-size: 26px; }

}
@media screen and (max-width: 666px) {

  /* item-map-info-main -------------------------------------------------------------- */

  /* item-map-advantages */

  .item-map-advantages {

	.item-map-info-wrap {

	  .item-map-advantages-img { top: 210px; left: 50%; transform: translate(-50%, 0); height: 425px; width: 100%;
		img { max-width: 100%; max-height: 100%; }
	  }

	  .item-map-advantages-main {

		.item-map-section-title { margin-bottom: 500px; overflow: hidden;
		  span { font-size: 26px;
			&:after { height: 3px; left: calc(100% + 15px); top: calc(50% - 3px); width: 1000px; }
		  }
		}

		.item-map-advantages-wrap {

		  .item-map-advantages-motor { padding: 20px;
			&:before, &:after { content: ''; display: block; position: absolute; top: 50%; left: 0; }
			&:before { height: calc(100% + 20px); width: 3px; background-color: #f5b7b9; }
			&:after { height: 3px; width: 30px; background-color: #f5b7b9; }

			span { background-color: transparent; }
		  }

		  .item-map-advantages-info {
			.item-map-advantages-info-item {

			  &.top-position, &.center-position, &.bottom-position { flex-direction: column; align-items: flex-start; justify-content: flex-start; padding: 0 20px 20px 20px;

				.item-map-advantages-item-img { margin-bottom: 20px; }
				.item-map-advantages-text { padding-left: 0; width: 100%; }

			  }

			  &.top-position {

				&:before, &:after { display: block; left: 0; right: auto; top: auto; }
				&:before { width: 100%; height: 3px; bottom: 0; }
				&:after { height: 100%; width: 3px; }

				.item-map-advantages-item-img {
				  &:before, &:after { content: ''; display: block; position: absolute; }

				  &:before { width: calc(100% - 134px); height: 3px; top: 55px; left: 134px; background: rgb(224, 179, 192); background: -moz-linear-gradient(left, rgba(224, 179, 192, 1) 0%, rgba(189, 172, 204, 1) 100%); background: -webkit-linear-gradient(left, rgba(224, 179, 192, 1) 0%, rgba(189, 172, 204, 1) 100%); background: linear-gradient(to right, rgba(224, 179, 192, 1) 0%, rgba(189, 172, 204, 1) 100%); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e0b3c0', endColorstr='#bdaccc', GradientType=1); }
				  &:after { width: 3px; height: calc(100% - 55px); right: 0; top: 55px; background-color: #bdaccc; }

				}

			  }

			  &.center-position, &.bottom-position {

				&:after { content: ''; display: block; position: absolute; left: 0; bottom: 0; right: auto; top: auto; width: calc(100% + 15px); height: 3px; background: rgb(245, 183, 185); background: -moz-linear-gradient(left, rgba(245, 183, 185, 1) 0%, rgba(192, 173, 203, 1) 100%); background: -webkit-linear-gradient(left, rgba(245, 183, 185, 1) 0%, rgba(192, 173, 203, 1) 100%); background: linear-gradient(to right, rgba(245, 183, 185, 1) 0%, rgba(192, 173, 203, 1) 100%); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5b7b9', endColorstr='#c0adcb', GradientType=1); }

				.item-map-advantages-item-img {
				  &:after, &:before { content: ''; display: block; position: absolute; top: 55px; left: 0px; }

				  &:after { width: 20px; height: 3px; background-color: #f5b7b9; }
				  &:before { width: 3px; height: calc(100% - 55px); background-color: #f5b7b9; }

				}

			  }

			}
		  }

		}

	  }

	}

  }

  /* /item-map-advantages */

  /* item-map-uses */

  .item-map-uses { padding: 0; background-position: left top; background-size: 175% 100%;

	.item-map-uses-wrap {
	  &:before { display: none; }

	  .item-map-section-title { margin-bottom: 15px; text-align: left;
		span { font-size: 30px;
		  &:before, &:after { display: none; }
		}
	  }

	  .item-map-section-text {
		p { font-size: 20px;
		  span { font-size: 20px; }
		}
	  }

	  .item-map-section-content { padding: 0 0 60px 0;
		&:before, &:after { display: none; }
	  }

	}

  }

  /* /item-map-uses */

  /* item-map-garanty */

  .item-map-garanty {

	.item-map-garanty-top { padding-top: 30px; margin-bottom: 40px;
	  .item-map-section-title { padding-left: 100px;
		span { font-size: 24px;
		  &:before { right: calc(100% + 75px); width: 3px; bottom: 50%; }
		  &:after { right: calc(100% + 15px); width: 60px; height: 3px; }
		}
	  }
	}

	.item-map-garanty-bottom {
	  .item-map-garanty-text-wrap {
		&:before, &:after { display: none; }
		.item-map-garanty-text-main { padding: 35px 0;
		  &:before, &:after { display: none; }
		}
	  }
	}

  }

  /* /item-map-garanty */

  /* item-map-video */

  .item-map-video {

	.item-map-section-title { text-align: left;
	  h3 { font-size: 18px; padding-right: 0px; padding-left: 100px;
		&:before, &:after { right: auto; top: auto; }
		&:before { left: 20px; width: 60px; height: 3px; bottom: 10px; background: rgb(123, 89, 152); background: -moz-linear-gradient(left, rgba(123, 89, 152, 1) 0%, rgba(123, 89, 152, 1) 0%, rgba(235, 112, 115, 1) 100%); background: -webkit-linear-gradient(left, rgba(123, 89, 152, 1) 0%, rgba(123, 89, 152, 1) 0%, rgba(235, 112, 115, 1) 100%); background: linear-gradient(to right, rgba(123, 89, 152, 1) 0%, rgba(123, 89, 152, 1) 0%, rgba(235, 112, 115, 1) 100%); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7b5998', endColorstr='#eb7073', GradientType=1); }
		&:after { left: 20px; height: 70px; width: 3px; top: calc(100% - 10px); }
	  }
	}

	.video-block {
	  iframe { height: 400px; }
	}

  }

  /* /item-wrap-video */

  /* /item-map-info-main -------------------------------------------------------------- */

  /* fancyboxes -------------------------------------------------------------- */

  /* uses-list-fancybox */

  .fancy-list {
	.where-uses { padding: 35px 0 35px 0;

	  .mbox {
		&:after { content: ''; display: block; position: absolute; top: 0; left: 10px; width: calc(100% - 20px); height: 6px; background: #eb7073; background: -moz-linear-gradient(left, #eb7073 0%, #7b5999 100%); background: -webkit-linear-gradient(left, #eb7073 0%, #7b5999 100%); background: -webkit-gradient(linear, left top, right top, from(#eb7073), to(#7b5999)); background: -o-linear-gradient(left, #eb7073 0%, #7b5999 100%); background: linear-gradient(to right, #eb7073 0%, #7b5999 100%); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eb7073', endColorstr='#7b5999', GradientType=1) }
	  }

	  .where-uses-wrap { padding-top: 30px;
		&:before, &:after { height: 100%; }

		.where-uses-title {
		  span {
			&:after { display: none; }
		  }
		}

	  }
	}
  }

  /* /uses-list-fancybox */

  /* /fancyboxes -------------------------------------------------------------- */

  .item-map-breath .txt { top: 10px; font-size: 18px; }
  .item-map-perspective .content .img { width: 100%; }

  .item-map-perspective .titlius .txt { font-size: 18px; margin: 0 10px; }
  .item-map-perspective .button-wrap .transparent-button { max-width: 280px; height: 65px; }
}
@media screen and (max-width: 479px) {

  /* item-map-info-main -------------------------------------------------------------- */

  /* item-map-advantages */

  .item-map-advantages {

	.item-map-info-wrap {

	  .item-map-advantages-img { top: 150px; width: 150%; transform: translate(-20%, 0); }

	  .item-map-advantages-main {

		.item-map-section-title { text-align: left; padding: 0 20px; margin-bottom: 450px;
		  span { font-size: 18px; }
		}

		.item-map-advantages-wrap {
		  .item-map-advantages-info {
			.item-map-advantages-info-item {

			  .item-map-advantages-text { font-size: 12px;
				p {
				  b { font-size: 14px; }
				}
			  }

			}
		  }
		}

	  }

	}

  }

  /* /item-map-advantages */

  /* item-map-uses */

  .item-map-uses { background-size: 250% 100%;

	.mbox { padding: 0; }

	.item-map-uses-wrap { padding: 50px 10px 0 10px; background-position: calc(100% + 135px) 95%;

	  .item-map-section-title {
		span { font-size: 18px; }
	  }

	  .item-map-section-text {
		p { font-size: 16px; line-height: 1.5;
		  span { font-size: 16px; }
		}
		ul { margin: 0 0 10px 0;
		  li {
			p { font-size: 14px; }
		  }
		}
		a { font-size: 14px; }

	  }

	}

  }

  /* /item-map-uses */

  /* item-map-garanty */

  .item-map-garanty {

	.item-map-garanty-top { margin-bottom: 30px;
	  .item-map-section-title { padding-left: 60px;
		span { font-size: 18px;
		  &:before { right: calc(100% + 55px); }
		  &:after { width: 40px; }
		}
	  }
	}

	.item-map-garanty-bottom {
	  .item-map-garanty-text-wrap {
		.item-map-garanty-text-main { padding: 0;
		  .item-map-garanty-text {
			h3 { font-size: 16px; }
			p { font-size: 16px; line-height: 1.5; }
			ul {
			  li {
				p { font-size: 14px; }
			  }
			}
		  }
		}
	  }
	}

  }

  /* /item-map-garanty */

  /* item-map-video */

  .item-map-video {

	.item-map-section-title {
	  h3 { font-size: 16px; padding-left: 65px;
		&:before { width: 40px; }
		&:after { height: 40px; }
	  }
	}

	.video-block {
	  iframe { height: 300px; }
	}

  }

  /* /item-map-video */

  /* item-map-service */

  .item-map-service {

	.black-part { min-height: 450px;
	  .black-part-content { padding: 20px 20px 50px 20px;
		&:after { height: 3px; }
		&:before { width: 3px; height: calc(100% - 46px); top: 43px; }

		.parts-title { margin-bottom: 40px;
		  &:before { width: 3px; bottom: calc(100% - 26px); }
		  &:after { height: 3px; top: 23px; left: -6px; width: calc(100% + 24px); }

		  span { font-size: 18px; }
		}

		.black-part-form {
		  &:after { width: 3px; }

		  .form_row {

			.form_input {
			  input { padding: 16px 10px; font-size: 12px;
				&::-webkit-input-placeholder { font-size: 12px; }
				&:-moz-placeholder { font-size: 12px; }
				&::-moz-placeholder { font-size: 12px; }
				&:-ms-input-placeholder { font-size: 12px; }
			  }
			}

			&.submit {
			  .transparent-button {
				&.reverse-button { height: 50px; font-size: 16px; }
			  }
			}

		  }

		}

	  }
	}

	.white-part {
	  .white-part-content {
		.white-part-wrap { padding: 30px 20px 40px 20px;
		  .parts-title { font-size: 18px; }
		  .white-part-img { margin-bottom: 40px; }
		  .white-part-button {
			.transparent-button { height: 65px; }
		  }
		}
	  }
	}

  }

  /* /item-map-service */

  /* /item-map-info-main -------------------------------------------------------------- */

  /* fancyboxes -------------------------------------------------------------- */

  /* uses-list-fancybox */

  .fancy-list {
	.where-uses { padding: 35px 0 35px 0;

	  .mbox {
		&:after { content: ''; display: block; position: absolute; top: 0; left: 10px; width: calc(100% - 20px); height: 6px; background: #eb7073; background: -moz-linear-gradient(left, #eb7073 0%, #7b5999 100%); background: -webkit-linear-gradient(left, #eb7073 0%, #7b5999 100%); background: -webkit-gradient(linear, left top, right top, from(#eb7073), to(#7b5999)); background: -o-linear-gradient(left, #eb7073 0%, #7b5999 100%); background: linear-gradient(to right, #eb7073 0%, #7b5999 100%); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eb7073', endColorstr='#7b5999', GradientType=1) }
	  }

	  .where-uses-wrap { padding-top: 30px;
		&:before, &:after { height: 100%; }
	  }
	}
  }

  /* /uses-list-fancybox */

  /* /fancyboxes -------------------------------------------------------------- */

}
@media screen and (max-width: 320px) {
}