@media screen and (max-width: 1920px){

}
@media screen and (max-width: 1600px){
	.wrap-procl{
		background-position-x: 170%;
	}
	.wrap-procl p{
		width: 45%;
	}
}
@media screen and (max-width: 1470px){
	.wrap-procl{
		background-position-x: 200%;
	}
	.wrap-procl p{
		width: 40%;
	}
}
@media screen and (max-width: 1366px){
	.wrap-procl{
		background-size: 80%;
	}
	.wrap-procl p{
		width: 630px;
	}
}
@media screen and (max-width: 1280px){

}
@media screen and (max-width: 1024px){

}
@media screen and (max-width: 992px){
	.wrap-procl .procl-title{
		font-size: 50px;
	}
	.wrap-procl .price{
		font-size: 90px;
	}
	.wrap-procl p{
		font-size: 17px;
		width: 500px;
	}
}
@media screen and (max-width: 767px){

}
@media screen and (max-width: 666px){

}
@media screen and (max-width: 479px){

}
@media screen and (max-width: 320px){

}