@media screen and (max-width: 1920px){

}
@media screen and (max-width: 1724px){
	.speci .main-wrapper{ 
		.speci-list .speci-items{ width: 50%;
			.speci-item{margin-bottom: 30px;}
			&:before{ }
		}
	}

}
@media screen and (max-width: 1600px){

}
@media screen and (max-width: 1366px){

}
@media screen and (max-width: 1280px){
	.speci .main-wrapper .speci-list .speci-items{}
	.speci .main-wrapper .speci-list .speci-items{width: 100%; justify-content: center;
		&:before{width: 40%;}
		.speci-item{
			&:nth-child(2){margin-right: 30px;}
		}
	}
}
@media screen and (max-width: 1024px){
	.gallery-block .main-wrapper .heading .gradient-coner{display: none;
		
	}
}
@media screen and (max-width: 992px){
	

}
@media screen and (max-width: 767px){
	.speci .main-wrapper .speci-list .speci-items{
		&:before{width: 60%;}
	}
}
@media screen and (max-width: 666px){
	.speci .main-wrapper .heading h2{font-size: 32px;}
	.speci .main-wrapper .speci-list .speci-items{
		&:before{display: none;}
		.item-name h3{ font-size: 28px; }
		.speci-item{
			&:nth-child(2){margin-right: 30px;}
		}
	}
}
@media screen and (max-width: 560px){
	
	.speci .main-wrapper .speci-list .speci-items{		
		.speci-item{
			&:nth-child(2){margin-right: 0px;}
		}
	}
}
@media screen and (max-width: 479px){
	.speci .main-wrapper .heading{padding: 0;
		h2{font-size: 26px;}
	}
	.speci .main-wrapper .speci-list .speci-items .item-name h3{ font-size: 20px;}

	.speci .main-wrapper .getConsultation-wrap button{
		width: 260px;  font-size: 18px;
	}
	.gallery-block .main-wrapper .heading h2{ font-size: 32px; }
	.gallery-block .main-wrapper .gallery .photo-wrap{margin-right: 0;}
}
@media screen and (max-width: 320px){

}