/* about -------------------------------------------------------------- */

/* about-top */

.about-top { display: flex; justify-content: space-between; align-items: flex-start;

  .about-logo { width: 550px; color: #eb7073; text-transform: uppercase; text-align: center;
	h2 { font-weight: 900; font-size: 82px; margin: 0; line-height: 85px; }
	p { font-weight: 300; font-size: 24px; margin: 0 0 10px 0; }
	.about-logo-bottom { background-color: #eb7073; padding: 15px 5px 15px 5px;
	  p { color: #fff; font-weight: 300; font-size: 30px; letter-spacing: 15px; margin: 0; }
	}
  }
  .about-top-brends { width: calc(100% - 575px); display: flex; justify-content: flex-end; align-items: flex-start; flex-wrap: wrap;
	.about-top-brend-item { width: 25%; max-width: 250px; height: 175px; border: 1px solid #f8f9f9; padding: 0 5px; transition: all 300ms ease;
	  &:hover { background-color: rgba(0, 0, 0, .05); }
	}
  }

}
/* /about-top */

/* about-info */

.about-info-wrap { background-image: url(../images/about-info-fone.png); background-repeat: no-repeat; background-size: cover; background-position: center bottom; padding-bottom: 50px;

  .about-info-img { margin-bottom: 85px;
	img { max-width: none; object-fit: cover; width: 100%; }
  }

  .text-block { margin-bottom: 50px; max-width: 1290px; width: 100%; color: #9a9a9a; font-size: 18px;

	p { margin: 0; line-height: 1.5;
	  b { font-weight: 800; font-size: 24px; }
	}

	ul { margin: 0; padding: 0; list-style: none;
	  li { position: relative; padding-left: 65px;
		&:before { content: ''; display: block; position: absolute; top: 13px; left: 30px; border-radius: 50%; width: 4px; height: 4px; background-color: #9a9a9a; }
	  }
	}

  }

  .about-info-bottom { text-align: center;
	h3 { font-size: 35px; font-weight: 900; color: #eb7073; margin: 0 0 40px 0; }
  }

}
/* /about-info */

/* about-circles */

.about-circles-wrap { padding-bottom: 75px;

  .about-circles-row { position: relative; border-left: 5px solid #da6c79; margin-bottom: 50px;
	&:before { content: ''; position: absolute; left: 0; top: 0; width: 125px; height: 5px; background-color: #da6c79; }
	&:after { content: ''; position: absolute; bottom: 0; left: 0; width: 100%; height: 5px; background: #d76c7a; background: -moz-linear-gradient(left, #d76c7a 0%, #7b5999 100%); background: -webkit-linear-gradient(left, #d76c7a 0%, #7b5999 100%); background: linear-gradient(to right, #d76c7a 0%, #7b5999 100%); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d76c7a', endColorstr='#7b5999', GradientType=1); }
	&:last-child { margin-bottom: 0; }

	.about-circles-title { padding-left: 145px; font-size: 30px; color: #da6c79; font-weight: 700; position: relative; top: -17px; }

	.about-circles-items { display: flex; justify-content: flex-start; align-items: flex-start; flex-wrap: wrap; padding: 50px 65px 0 65px;
	  .about-circles-item { width: 25%; padding: 0 10px; text-align: center; color: #595959; font-size: 18px; font-weight: 700; margin-bottom: 50px;
		a { text-decoration: none; color: #595959; transition: all 300ms ease;
		  &:hover { color: #eb7073; }
		}
		.about-circle-img { overflow: hidden; border-radius: 50%; width: 275px; height: 275px; margin: 0 auto 45px auto;
		  img { max-width: none; object-fit: cover; }
		}
	  }
	}

  }

}
/* /about-circles */

/* about-lists */

.about-lists-wrap {

  .about-lists { display: flex; justify-content: space-between; align-items: flex-start; padding-bottom: 50px; position: relative; z-index: 1;
	.about-list { width: 33.33%; max-width: 450px; padding: 0 10px; line-height: 1.5; font-size: 14px; color: #9a9a9a;
	  h3 { margin: 0 0 30px 0; color: #595959; font-weight: 700; font-size: 24px; }
	  p { margin: 0; }
	  ul { padding-left: 20px; margin: 0; }
	}
  }

  .about-lists-img { position: relative; z-index: 0; margin-top: -250px;
	img { max-width: none; width: 100%; object-fit: cover; }
  }

}
/* /about-lists */

/* about-autor */

.about-author-wrap { background-image: url(../images/autor-fone.png); background-repeat: no-repeat; background-position: center bottom; background-size: cover; padding: 75px 0 100px 0;
  .about-autor { text-align: center;
	.about-autor-img { width: 325px; height: 325px; overflow: hidden; border-radius: 50%; margin: 0 auto 30px auto; }
	.about-autor-title { font-size: 48px; font-weight: 900; color: #f2535a; line-height: 54px; margin-bottom: 20px; }
	.about-autor-text { font-size: 18px; color: #939393; margin-bottom: 20px; }
	.about-autor-tel {
	  a { display: flex; justify-content: center; align-items: center; font-weight: 900; font-size: 36px; color: #f2535a; text-decoration: none; transition: all 300ms ease;
		.tel-icon { width: 40px; height: 40px; border-radius: 50%; background-color: #f2535a; display: flex; justify-content: center; align-items: center; margin-right: 15px; transition: all 300ms ease; }

		&:hover { color: #595959;
		  .tel-icon { background-color: #595959; }
		}

	  }
	}
  }
}
/* /about-autor */

/* /about -------------------------------------------------------------- */

/* item-map-info-main -------------------------------------------------------------- */

/* item-map-advantages */

.item-map-advantages {

  .item-map-info-wrap { position: relative; padding: 150px 0 175px 0;

	.item-map-advantages-img { position: absolute; top: 50px; left: 1200px; z-index: 0;
	  img { max-width: none; }
	}

  }

  .item-map-advantages-main { max-width: 1275px; width: 100%; z-index: 1; position: relative;

	.item-map-section-title { overflow: hidden; padding: 0 0 0 145px; margin-bottom: 150px;
	  span { position: relative; font-size: 48px; text-transform: uppercase; color: #da6c79;
		&:after { content: ''; display: block; position: absolute; left: calc(100% + 100px); top: calc(50% - 2px); width: 645px; height: 5px; background: #da6c79; background: -moz-linear-gradient(left, #da6c79 0%, #7b5999 100%); background: -webkit-linear-gradient(left, #da6c79 0%, #7b5999 100%); background: linear-gradient(to right, #da6c79 0%, #7b5999 100%); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#da6c79', endColorstr='#7b5999', GradientType=1); }
	  }
	}

	.item-map-advantages-wrap { display: flex; justify-content: flex-start; align-items: center; flex-wrap: wrap;

	  .item-map-advantages-motor { width: 40%; padding:20px 15px 20px 0;position: relative; z-index:1;}

	  .item-map-advantages-info { width: 60%; position:relative; z-index:0;
		.item-map-advantages-info-item { display: flex; justify-content: flex-start; align-items: center; flex-wrap: wrap; margin-bottom: 50px;position: relative;
		  &:last-child { margin-bottom: 0; }

		  .item-map-advantages-item-img { overflow: hidden; width: 114px; height: 114px; border-radius: 4px; box-shadow: 0 0 5px 0px rgba(0, 0, 0, .35); }
		  .item-map-advantages-text { width: calc(100% - 114px); padding-left: 25px; font-size: 16px; color: #595959; line-height: 1.5;
			p { margin: 0;
			  b { font-weight: 700; font-size: 24px; }
			}
		  }

		  &.top-position{
			&:before, &:after{content:''; position: absolute;}
			&:before{width:50%; height:1px;right:100%;top:50%;background: #f5b7b9; background: -moz-linear-gradient(left, #f5b7b9 0%, #c1adca 100%); background: -webkit-linear-gradient(left, #f5b7b9 0%,#c1adca 100%); background: linear-gradient(to right, #f5b7b9 0%,#c1adca 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5b7b9', endColorstr='#c1adca',GradientType=1 );}
			&:after{top:50%;right:150%; height:70px; width:1px; background-color: #f5b7b9;}
		  }

		  &.center-position{
			&:before{content:'';display: block; position: absolute;top:50%;right:100%; width:50px; height: 1px;background: #f5b7b9; background: -moz-linear-gradient(left, #f5b7b9 0%, #c1adca 100%); background: -webkit-linear-gradient(left, #f5b7b9 0%,#c1adca 100%); background: linear-gradient(to right, #f5b7b9 0%,#c1adca 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5b7b9', endColorstr='#c1adca',GradientType=1 );}
		  }

		  &.bottom-position{flex-direction:column; align-items: flex-start; padding-bottom: 20px;
			&:before, &:after{content:''; display: block;position: absolute;}
			&:before{top:57px;left:114px; width:calc(100% - 114px); height:1px;background: #c1adca; background: -moz-linear-gradient(left, #c1adca 0%, #f5b7b9 100%); background: -webkit-linear-gradient(left, #c1adca 0%,#f5b7b9 100%); background: linear-gradient(to right, #c1adca 0%,#f5b7b9 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c1adca', endColorstr='#f5b7b9',GradientType=1 );}
			&:after{top:57px;right:0; height:calc(100% - 57px); width:1px; background-color: #f5b7b9;}

			.item-map-advantages-item-img{ margin-bottom: 10px;}
			.item-map-advantages-text{ padding-left: 0; width:100%; padding-right: 10px;
				&:before, &:after{content:'';position: absolute;}
			  	&:before{ right:0;bottom:0;height:1px; width:130%;background: #c1adca; background: -moz-linear-gradient(left, #c1adca 0%, #f5b7b9 100%); background: -webkit-linear-gradient(left, #c1adca 0%,#f5b7b9 100%); background: linear-gradient(to right, #c1adca 0%,#f5b7b9 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c1adca', endColorstr='#f5b7b9',GradientType=1 );}
			  &:after{bottom: 0;right:130%; height:95px; width:1px; background-color: #bdaccc;}
			}
		  }

		}
	  }

	}

  }

}
/* /item-map-advantages */

/* /item-map-info-main -------------------------------------------------------------- */