/* helping adds*/
$r:#f2535a;
.clear{clear:both;font-size:1px;line-height:1px;height:0;overflow:hidden;}
.cfix:after{content: '';display: block;height: 0;font-size: 1px;line-height: 1px;overflow: hidden;clear: both;}
.juster{display:inline-block;width:100%;height:0;overflow:hidden;}
.jfix-after:after{content: '';display: inline-block;width: 100%;height: 0;overflow: hidden;}
.vfix{height:100%;width:0px;display:inline-block;vertical-align:middle;}
.vfix-before:before{content: '';height: 100%;width: 0;display: inline-block;vertical-align: middle;}

.hidden-block{position:absolute;left:-99999em;top:-99999em;}

/* /helping adds*/

/* ctext */

    .ctext{
        h1, h2, h3, h4, h5, h6{line-height: 1.25;margin-bottom: 15px;font-weight: 700;}
        h1{font-size: 36px;}
        h2{font-size: 32px;}
        h3{font-size: 28px;}
        h4{font-size: 24px;}
        h5{font-size: 20px;}
        h6{font-size: 16px;}
        p{margin-bottom: 10px;font-size: 14px;}
    }

/* /ctext */

/* base styles*/
*,*:before, *:after{box-sizing:border-box;outline:none;}
*,body,html{-webkit-text-size-adjust: none;-webkit-appearance: none;max-height: 9001em;}
html{height:100%;}
body{min-height:100%;width:100%;min-width:320px;font-family:'ProximaNova'; background:#fff; color:#595959; position:relative; font-size: 16px; line-height: 1.26;

    /* styles for wp-admin panel */

    &.customize-support{
        .wp-panel-show{top:32px;} //fixed elements (if their has top:0) must has class .wp-panel-show
    }

    /* /styles for wp-admin panel */

}
img{vertical-align:bottom;border:0;max-width:100%;}

/* adapted styles for wp-admin panel */

@media screen and (max-width: 782px){

    body{
        &.customize-support{
            .wp-panel-show{top:46px;}
        }
    }

    #wpadminbar{position: fixed!important;}

}
/* /adapted styles for wp-admin panel */

/* /base styles */

/* wraps styling*/

.mbox{max-width:1730px;width:100%;margin:0 auto;position:relative;padding: 0 10px;}
.mbox:after{content:"";clear:both;font-size:1px;line-height:1px;height:0;overflow:hidden;display:block;}

.global-wrapper{ overflow: hidden;}

/* /wraps styling*/


.footer_placeholder{height: 200px;}
.footer{position:absolute;bottom:0;left:0;width:100%;z-index:2;overflow:hidden;}

input, textarea{
    &::-webkit-input-placeholder {color:#212121;}
    &:-moz-placeholder {color:#212121;opacity:1;}
    &::-moz-placeholder {color:#212121;opacity:1;}
    &:-ms-input-placeholder {color:#212121;}
}

/*End Layout*/
/*flex -style----------------------------------------------------------------------------------*/
.flex-line-container{ display: flex;justify-content: center; align-items: center;}
.flex-box-container{ display: flex; justify-content: space-around; flex-wrap: wrap;}
/*END flex -style----------------------------------------------------------------------------------*/
/*buttons----------------------------------------------------------------------------------------*/
.filled-button{ display: block; font-weight:400; font-size: 18px; color: #fff; width:200px; height: 41px; background-color: #cc0033; border-radius:20px; border:2px solid #cc0033; line-height: 37px; text-align: center; text-decoration: none; cursor: pointer;}
.filled-button:hover{ background-color: transparent; color: #c03;}

.submit-button{ width: 100%; height: 60px; line-height: 56px; text-align: center; background-color: #2579bf; border:2px solid #2579bf; color: #fff; font-size: 18px; font-weight: 700;
    .search{ background-image: url(../images/search-w.png); width: 17px; height: 17px; background-repeat: no-repeat; background-position: 50%; display: inline-block; vertical-align: top; margin-top: 17px; margin-right: 15px;}
}
.submit-button:hover{  background-color: #fff; color: #2579bf;
    .search{ background-image: url(../images/search-b.png);}
}
.showmore-button{ font-weight: 700; font-size: 18px; text-transform: uppercase; cursor: pointer; display: block; margin: 0 auto; width: 345px; height: 52px; border:1px solid #e8e8e8; text-align: center; line-height: 50px; background: transparent; position: relative;
    &:hover{background: #f04950; color: #fff;}
    &:before{ display: block; background-image: url(../images/showmore.png); width: 25px; height: 19px; background-position: cover; content: ''; position: absolute;top: 16px; left: 44px;}
}

.search-button {max-width: 425px; width: 100%;position: relative; margin-left: 54px;

    input { font-size: 14px; text-transform: uppercase; display: block; border: 2px solid #f04950; color: #f04950; text-align: center; height: 60px; border-radius:30px; line-height: 56px; width: 100%; padding-left: 18px;
        &::-webkit-input-placeholder {font-weight: 400; font-size: 14px; text-transform: uppercase; color: #f04950;line-height: 56px;}
        &:-moz-placeholder           {font-weight: 400; font-size: 14px; text-transform: uppercase; color: #f04950;line-height: 56px;}
        &::-moz-placeholder          {font-weight: 400; font-size: 14px; text-transform: uppercase; color: #f04950;line-height: 56px;}
        &:-ms-input-placeholder      {font-weight: 400; font-size: 14px; text-transform: uppercase; color: #f04950;line-height: 56px;}

    }
    &.focus{
        input{ padding-left: 130px;}
        button{ width: 125px;border: 2px solid #eb7073;background: #eb7073;
            &:before{background-image: url(../images/search-w.png);}
        }
    }
    button{ position: absolute; top: 5px; left: 5px;display: block;  color: #fff; text-align: center; border-radius:25px; line-height: 46px; width: 0; height: 50px; border: 0 solid #eb7073; background: transparent; z-index: 20; padding-left: 25px;
        &:before{ position: absolute; content: ''; background-image: url(../images/search.png); width: 20px; height: 20px; background-position: 50%; background-repeat: no-repeat; left: 14px; top: 15px; background-size: cover;}
        &:hover{ background: transparent; color:#eb7073;
            &:before{background-image: url(../images/search.png);}
        }
    }

}


.transparent-button{ display: flex; justify-content: center; align-items: center;border:4px solid #eb7073;color:#eb7073; text-decoration: none;transition:all 300ms ease;
    &:hover{color:#fff; background-color: #eb7073;}
}


/*END buttons----------------------------------------------------------------------------------------*/
/*titles------------------------------------------------------------------------------------------*/
.title{padding: 49px 0 42px;
    &.redline{ text-align:center; position:relative;
        &:after{ width:42px; height:2px; background-color:$r; position:absolute; left:50%; transform:translateX(-50%); bottom:31px; content:'';}
    }
    h2{ margin: 0; font-weight: 700; font-size: 24px; text-transform: uppercase; color:#595959;letter-spacing: -0.5px;}
}

/*END titles------------------------------------------------------------------------------------------*/
/*fonts*/
@mixin font-face($style-name, $file:$style-name, $weight:normal, $style:normal) {
    $filepath: "/fonts/" + $file;
    @font-face {
        font-family: quote($style-name);
        src: url($filepath + ".eot");
        src: url($filepath + ".eot?#iefix") format('embedded-opentype'),
        url($filepath + ".woff") format('woff'),
        url($filepath + ".ttf")  format('truetype'),
        url($filepath + ".svg#" + $style-name + "") format('svg');
        font-weight: $weight;
        font-style: $style;
    }
}

//  example -> @include font-face('PFDinTextPro', 'PFDinTextPro-Bold', 700, italic);
@include font-face('ProximaNova', 'ProximaNovaSemibold', 600);
@include font-face('ProximaNova', 'ProximaNovaRegular', 400);
@include font-face('ProximaNova', 'ProximaNovaLight', 300);
@include font-face('ProximaNova', 'ProximaNovaExtrabold', 800);
@include font-face('ProximaNova', 'ProximaNovaBold', 700);
@include font-face('ProximaNova', 'ProximaNovaBlack', 900);


/*/fonts*/