@media screen and (max-width: 1920px){ 

}
@media screen and (max-width: 1724px){
	body{ 
		// .speci-list{
		// 	.speci-items{ width: 50%;
		// 		.speci-item{margin-bottom: 30px;}
		// 		&:before{ }
		// 	}
		// }
	}

}
@media screen and (max-width: 1500px){
	body{}
}
@media screen and (max-width: 1300px){
	body{ }

}

	


@media screen and (max-width: 1280px){
	// .speci .main-wrapper .speci-list .speci-items{}
	// .speci .main-wrapper .speci-list .speci-items{width: 100%; justify-content: center;
	// 	&:before{width: 40%;}
	// 	.speci-item{
	// 		&:nth-child(2){margin-right: 30px;}
	// 	}
	// }
}
@media screen and (max-width: 1124px){
	body{ }
}
@media screen and (max-width: 1024px){
	.gallery-block .main-wrapper .heading .gradient-coner{display: none;
		
	}
	
	
}
@media screen and (max-width: 992px){
	body{ zoom: 1;}
	.speci-list{
		.speci-items{ width: 50%;
			.speci-item{margin-bottom: 30px;}
			&:before{ }
		}
	}
	.speci .main-wrapper .speci-list .speci-items{}
	.speci .main-wrapper .speci-list .speci-items{width: 100%; justify-content: center;
		&:before{width: 40%;}
		.speci-item{
			&:nth-child(2){margin-right: 30px;}
		}
	}
	.servicesPoupWrap{
		#services-popup{width: 100%;
			.services-wrap{width: 100%; padding: 30px;
				
			}
		}
	}
}
@media screen and (max-width: 767px){
	.speci .main-wrapper .speci-list .speci-items{
		&:before{width: 60%;}
	}
}
@media screen and (max-width: 666px){
	.speci .main-wrapper .heading h2{font-size: 32px;}
	.speci .main-wrapper .speci-list .speci-items{
		&:before{display: none;}
		.item-name h3{ font-size: 28px; }
		.speci-item{
			&:nth-child(2){margin-right: 30px;}
		}
	}
}
@media screen and (max-width: 560px){
	
	.speci .main-wrapper .speci-list .speci-items{		
		.speci-item{
			&:nth-child(2){margin-right: 0px;}
		}
	}
}
@media screen and (max-width: 479px){
	.speci .main-wrapper .heading{padding: 0;
		h2{font-size: 26px;}
	}
	.speci .main-wrapper .speci-list .speci-items .item-name h3{ font-size: 20px;}

	.speci .main-wrapper .getConsultation-wrap button{
		width: 260px;  font-size: 18px;
	}
	.gallery-block .main-wrapper .heading h2{ font-size: 32px; }
	.gallery-block .main-wrapper .gallery .photo-wrap{margin-right: 0;}
	.servicesPoupWrap{ width: 100%!important; margin: 0!important; left: 0!important;
		.fancybox-inner{width: 100%!important; margin: 0!important;}
		#services-popup{width: 100%;
			.services-wrap{width: 100%; padding: 10px;
				.heading{
					h3{font-size: 24px;}
				}
				.services-form{
					&:before{
					    top: -10px;
					}
					label{
						input{padding-left:15px; }
						select{padding-left: 15px;}
						textarea{padding-left: 15px;}
					}

					.button-wrap{
						
					}
				}
			}
		}
	}

}
@media screen and (max-width: 320px){

}