<section class="search-zapchasti">
    <div class="mbox">
        <div class="content">
            <div class="row cfix">
                <div class="left flex-line-container tabs">
                    <div class="item zap active"><p>запчасти</p></div>
                    <div class="item srv"><p>Сервис</p></div>
                </div>
                <div class="right flex-line-container titl">
                    <div class="name">
                        <p>Абсорбер (фильтр угольный) для Cadillac Escalade 2015</p>
                    </div>
                    <div class="sort">
                        <select name="sort" id="sort">
                            <option value="01">Сначала дешевые</option>
                            <option value="01">Сначала дорогие</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row cfix">
                <div class="left menu">
                    <div class="search">
                        <form action="">
                            <input type="text" placeholder="Быстрый поиск по каталогу">
                            <button><img src="images/search-w.png" alt=""></button>
                        </form>
                    </div>
                    <div class="acord">
                        <ul>
                            <li>
                                <div class="ttl"><a href="#">Двигатель</a><span class="arr"></span></div>
                                <ul class="seclvl">
                                    <li><a href="#">- Абсорбер</a></li>
                                    <li><a href="#">- Абсорбер</a></li>
                                    <li><a href="#">- Абсорбер</a></li>
                                    <li><a href="#">- Абсорбер</a></li>
                                    <li><a href="#">- Абсорбер</a></li>
                                </ul>
                            </li>
                            <li>
                                <div class="ttl"><a href="#">Двигатель</a><span class="arr"></span></div>
                                <ul class="seclvl">
                                    <li><a href="#">- Абсорбер</a></li>
                                    <li><a href="#">- Абсорбер</a></li>
                                    <li><a href="#">- Абсорбер</a></li>
                                    <li><a href="#">- Абсорбер</a></li>
                                    <li><a href="#">- Абсорбер</a></li>
                                </ul>
                            </li>
                            <li>
                                <div class="ttl"><a href="#">Двигатель</a><span class="arr"></span></div>
                                <ul class="seclvl">
                                    <li><a href="#">- Абсорбер</a></li>
                                    <li><a href="#">- Абсорбер</a></li>
                                    <li><a href="#">- Абсорбер</a></li>
                                    <li><a href="#">- Абсорбер</a></li>
                                    <li><a href="#">- Абсорбер</a></li>
                                </ul>
                            </li>
                            <li>
                                <div class="ttl"><a href="#">Двигатель</a><span class="arr"></span></div>
                                <ul class="seclvl">
                                    <li><a href="#">- Абсорбер</a></li>
                                    <li><a href="#">- Абсорбер</a></li>
                                    <li><a href="#">- Абсорбер</a></li>
                                    <li><a href="#">- Абсорбер</a></li>
                                    <li><a href="#">- Абсорбер</a></li>
                                </ul>
                            </li>
                            <li>
                                <div class="ttl"><a href="#">Двигатель</a><span class="arr"></span></div>
                                <ul class="seclvl">
                                    <li><a href="#">- Абсорбер</a></li>
                                    <li><a href="#">- Абсорбер</a></li>
                                    <li><a href="#">- Абсорбер</a></li>
                                    <li><a href="#">- Абсорбер</a></li>
                                    <li><a href="#">- Абсорбер</a></li>
                                </ul>
                            </li>
                            <li>
                                <div class="ttl"><a href="#">Двигатель</a><span class="arr"></span></div>
                                <ul class="seclvl">
                                    <li><a href="#">- Абсорбер</a></li>
                                    <li><a href="#">- Абсорбер</a></li>
                                    <li><a href="#">- Абсорбер</a></li>
                                    <li><a href="#">- Абсорбер</a></li>
                                    <li><a href="#">- Абсорбер</a></li>
                                </ul>
                            </li>
                            <li>
                                <div class="ttl"><a href="#">Двигатель Двигатель Двигатель Двигатель</a><span class="arr"></span></div>
                                <ul class="seclvl">
                                    <li><a href="#">- Абсорбер</a></li>
                                    <li><a href="#">- Абсорбер</a></li>
                                    <li><a href="#">- Абсорбер</a></li>
                                    <li><a href="#">- Абсорбер</a></li>
                                    <li><a href="#">- Абсорбер</a></li>
                                </ul>
                            </li>
                            <li>
                                <div class="ttl"><a href="#">Двигатель</a><span class="arr"></span></div>
                                <ul class="seclvl">
                                    <li><a href="#">- Абсорбер</a></li>
                                    <li><a href="#">- Абсорбер</a></li>
                                    <li><a href="#">- Абсорбер</a></li>
                                    <li><a href="#">- Абсорбер</a></li>
                                    <li><a href="#">- Абсорбер</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="right">
                    <div class="items flex-box-container">
                        <div class="item-catalogius">
                            <div class="img"><img src="images/catal-it.png" alt=""></div>
                            <div class="name">Двигатель GM 6.2 Liter V8 EcoTec3 L86 Engine (80MH0022A)</div>
                            <div class="properties">
                                <p><b>Производитель:</b><span>GM</span></p>
                                <p><b>Серийный номер:</b><span>96537249</span></p>
                                <p><b>Состояние:</b><span style="color:#2579bf;">Отличное</span></p>
                            </div>
                            <div class="tags">
                                <span>В наличии</span>
                                <span style="border-color:#f2575e;">Нет в наличии</span>

                            </div>
                            <div class="price flex-line-container">
                                <a href="#" class="button">уточнить цену</a>
                                <span class="prc"><b>55 000 </b>руб.</span>
                            </div>
                        </div>
                        <div class="item-catalogius">
                            <div class="img"><img src="images/catal-it.png" alt=""></div>
                            <div class="name">Двигатель GM 6.2 Liter V8 EcoTec3 L86 Engine (80MH0022A)</div>
                            <div class="properties">
                                <p><b>Производитель:</b><span>GM</span></p>
                                <p><b>Серийный номер:</b><span>96537249</span></p>
                                <p><b>Состояние:</b><span style="color:#2579bf;">Отличное</span></p>
                            </div>
                            <div class="tags">
                                <span>В наличии</span>
                                <span style="border-color:#f2575e;">Нет в наличии</span>

                            </div>
                            <div class="price flex-line-container">
                                <a href="#" class="button">уточнить цену</a>
                                <span class="prc"><b>55 000 </b>руб.</span>
                            </div>
                        </div>
                        <div class="item-catalogius">
                            <div class="img"><img src="images/catal-it.png" alt=""></div>
                            <div class="name">Двигатель GM 6.2 Liter V8 EcoTec3 L86 Engine (80MH0022A)</div>
                            <div class="properties">
                                <p><b>Производитель:</b><span>GM</span></p>
                                <p><b>Серийный номер:</b><span>96537249</span></p>
                                <p><b>Состояние:</b><span style="color:#2579bf;">Отличное</span></p>
                            </div>
                            <div class="tags">
                                <span>В наличии</span>
                                <span style="border-color:#f2575e;">Нет в наличии</span>

                            </div>
                            <div class="price flex-line-container">
                                <a href="#" class="button">уточнить цену</a>
                                <span class="prc"><b>55 000 </b>руб.</span>
                            </div>
                        </div>
                        <div class="item-catalogius">
                            <div class="img"><img src="images/catal-it.png" alt=""></div>
                            <div class="name">Двигатель GM 6.2 Liter V8 EcoTec3 L86 Engine (80MH0022A)</div>
                            <div class="properties">
                                <p><b>Производитель:</b><span>GM</span></p>
                                <p><b>Серийный номер:</b><span>96537249</span></p>
                                <p><b>Состояние:</b><span style="color:#2579bf;">Отличное</span></p>
                            </div>
                            <div class="tags">
                                <span>В наличии</span>
                                <span style="border-color:#f2575e;">Нет в наличии</span>

                            </div>
                            <div class="price flex-line-container">
                                <a href="#" class="button">уточнить цену</a>
                                <span class="prc"><b>55 000 </b>руб.</span>
                            </div>
                        </div>
                        <div class="item-catalogius">
                            <div class="img"><img src="images/catal-it.png" alt=""></div>
                            <div class="name">Двигатель GM 6.2 Liter V8 EcoTec3 L86 Engine (80MH0022A)</div>
                            <div class="properties">
                                <p><b>Производитель:</b><span>GM</span></p>
                                <p><b>Серийный номер:</b><span>96537249</span></p>
                                <p><b>Состояние:</b><span style="color:#2579bf;">Отличное</span></p>
                            </div>
                            <div class="tags">
                                <span>В наличии</span>
                                <span style="border-color:#f2575e;">Нет в наличии</span>

                            </div>
                            <div class="price flex-line-container">
                                <a href="#" class="button">уточнить цену</a>
                                <span class="prc"><b>55 000 </b>руб.</span>
                            </div>
                        </div>
                        <div class="item-catalogius">
                            <div class="img"><img src="images/catal-it.png" alt=""></div>
                            <div class="name">Двигатель GM 6.2 Liter V8 EcoTec3 L86 Engine (80MH0022A)</div>
                            <div class="properties">
                                <p><b>Производитель:</b><span>GM</span></p>
                                <p><b>Серийный номер:</b><span>96537249</span></p>
                                <p><b>Состояние:</b><span style="color:#2579bf;">Отличное</span></p>
                            </div>
                            <div class="tags">
                                <span>В наличии</span>
                                <span style="border-color:#f2575e;">Нет в наличии</span>

                            </div>
                            <div class="price flex-line-container">
                                <a href="#" class="button">уточнить цену</a>
                                <span class="prc"><b>55 000 </b>руб.</span>
                            </div>
                        </div>
                    </div>

                    <button class="showmore-button">Показать еще</button>

                </div>
            </div>
        </div>
    </div>
</section>