<section class="catalog3">
    <div class="mbox">
        <div class="row flex-box-container">
            <div class="item-catalogius">
                <div class="img"><img src="images/catal-it.png" alt=""></div>
                <div class="name">Двигатель GM 6.2 Liter V8 EcoTec3 L86 Engine (80MH0022A)</div>
                <div class="properties">
                    <p><b>Производитель:</b><span>GM</span></p>
                    <p><b>Серийный номер:</b><span>96537249</span></p>
                    <p><b>Состояние:</b><span style="color:#2579bf;">Отличное</span></p>
                </div>
                <div class="tags">
                    <span>В наличии</span>
                    <span style="border-color:#f2575e;">Нет в наличии</span>

                </div>
                <div class="price flex-line-container">
                    <a href="#" class="button">уточнить цену</a>
                    <span class="prc"><b>55 000 </b>руб.</span>
                </div>
            </div>
            <div class="item-catalogius">
                <div class="img"><img src="images/catal-it.png" alt=""></div>
                <div class="name">Двигатель GM 6.2 Liter V8 EcoTec3 L86 Engine (80MH0022A)</div>
                <div class="properties">
                    <p><b>Производитель:</b><span>GM</span></p>
                    <p><b>Серийный номер:</b><span>96537249</span></p>
                    <p><b>Состояние:</b><span style="color:#2579bf;">Отличное</span></p>
                </div>
                <div class="tags">
                    <span>В наличии</span>
                    <span style="border-color:#f2575e;">Нет в наличии</span>

                </div>
                <div class="price flex-line-container">
                    <a href="#" class="button">уточнить цену</a>
                    <span class="prc"><b>55 000 </b>руб.</span>
                </div>
            </div>
            <div class="item-catalogius">
                <div class="img"><img src="images/catal-it.png" alt=""></div>
                <div class="name">Двигатель GM 6.2 Liter V8 EcoTec3 L86 Engine (80MH0022A)</div>
                <div class="properties">
                    <p><b>Производитель:</b><span>GM</span></p>
                    <p><b>Серийный номер:</b><span>96537249</span></p>
                    <p><b>Состояние:</b><span style="color:#2579bf;">Отличное</span></p>
                </div>
                <div class="tags">
                    <span>В наличии</span>
                    <span style="border-color:#f2575e;">Нет в наличии</span>

                </div>
                <div class="price flex-line-container">
                    <a href="#" class="button">уточнить цену</a>
                    <span class="prc"><b>55 000 </b>руб.</span>
                </div>
            </div>
            <div class="item-catalogius">
                <div class="img"><img src="images/catal-it.png" alt=""></div>
                <div class="name">Двигатель GM 6.2 Liter V8 EcoTec3 L86 Engine (80MH0022A)</div>
                <div class="properties">
                    <p><b>Производитель:</b><span>GM</span></p>
                    <p><b>Серийный номер:</b><span>96537249</span></p>
                    <p><b>Состояние:</b><span style="color:#2579bf;">Отличное</span></p>
                </div>
                <div class="tags">
                    <span>В наличии</span>
                    <span style="border-color:#f2575e;">Нет в наличии</span>

                </div>
                <div class="price flex-line-container">
                    <a href="#" class="button">уточнить цену</a>
                    <span class="prc"><b>55 000 </b>руб.</span>
                </div>
            </div>
        </div>
        <button class="showmore-button">Показать еще</button>

    </div>

</section>