<section class="catalog3">
    <div class="mbox">
        <div class="row flex-box-container">
            <div class="item-catalogius">
                <div class="img"><img src="images/catal-it.png" alt=""></div>
                <div class="name">Двигатель GM 6.2 Liter V8 EcoTec3 L86 Engine (80MH0022A)</div>
                <div class="properties">
                    <p><b>Производитель:</b><span>GM</span></p>
                    <p><b>Серийный номер:</b><span>96537249</span></p>
                    <p><b>Состояние:</b><span style="color:#2579bf;">Отличное</span></p>
                </div>
                <div class="tags">
                    <span>В наличии</span>
                    <span style="border-color:#f2575e;">Нет в наличии</span>

                </div>
                <div class="price flex-line-container">
                    <a href="#" class="button">уточнить цену</a>
                    <span class="prc"><b>55 000 </b>руб.</span>
                </div>
                <!--popup-->
                <div class="popup-hidden">
                    <div class="fancy-product">
                        <div class="product-title">
                            <h2>Двигатель GM 6.2 Liter V8 EcoTec3 L86 для Cadillac Escalade 2015 (80MH0022A)</h2>
                        </div>
                        <div class="fancy-product-wrap">
                            <div class="product-slider">
                                <div class="slider-mini">
                                    <div class="slider-mini-wrap">
                                        <div class="item">
                                            <img src="images/producnt-slide-1.jpg" alt="">
                                        </div>
                                        <div class="item">
                                            <img src="images/producnt-slide-2.jpg" alt="">
                                        </div>
                                        <div class="item">
                                            <img src="images/producnt-slide-3.jpg" alt="">
                                        </div>
                                        <div class="item">
                                            <img src="images/producnt-slide-4.jpg" alt="">
                                        </div>
                                        <div class="item">
                                            <img src="images/producnt-slide-5.jpg" alt="">
                                        </div>
                                        <div class="item">
                                            <img src="images/producnt-slide-1.jpg" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="slider-big">
                                    <div class="slider-big-wrap">
                                        <div class="item">
                                            <a href="images/producnt-slide-1.jpg" class="fancybox-img">
                                                <img src="images/producnt-slide-1.jpg" alt="">
                                            </a>
                                        </div>
                                        <div class="item">
                                            <a href="images/producnt-slide-2.jpg" class="fancybox-img">
                                                <img src="images/producnt-slide-2.jpg" alt="">
                                            </a>
                                        </div>
                                        <div class="item">
                                            <a href="images/producnt-slide-3.jpg" class="fancybox-img">
                                                <img src="images/producnt-slide-3.jpg" alt="">
                                            </a>
                                        </div>
                                        <div class="item">
                                            <a href="images/producnt-slide-4.jpg" class="fancybox-img">
                                                <img src="images/producnt-slide-4.jpg" alt="">
                                            </a>
                                        </div>
                                        <div class="item">
                                            <a href="images/producnt-slide-5.jpg" class="fancybox-img">
                                                <img src="images/producnt-slide-5.jpg" alt="">
                                            </a>
                                        </div>
                                        <div class="item">
                                            <a href="images/producnt-slide-1.jpg" class="fancybox-img">
                                                <img src="images/producnt-slide-1.jpg" alt="">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="product-description">
                                <div class="row">
                                    <div class="row-title">
                                        Описание
                                    </div>
                                    <div class="row-text">
                                        <p>Двигатель L86 или EcoTec 3 — это LT1, как у купе Chevrolet Corvette и Camaro, только адаптированный для тяжёлых внедорожников и пикапов.
                                            Двигатель L86 или EcoTec 3 — для тяжёлых внедорожников и пикапов.</p>
                                        <p>Двигатель L86 или EcoTec 3 — это LT1, как у купе Chevrolet Corvette и Camaro, только адаптированный для тяжёлых внедорожников и пикапов.
                                        </p>                    </div>
                                </div>
                                <div class="row">
                                    <div class="row-title">
                                        Характеристики
                                    </div>
                                    <div class="row-table">
                                        <div class="table-row">
                                            <div class="item">
                                                <span>Производитель:</span>
                                            </div>
                                            <div class="item">
                                                <b>GM</b>
                                            </div>
                                        </div>
                                        <div class="table-row">
                                            <div class="item">
                                                <span>Серийный номер:</span>
                                            </div>
                                            <div class="item">
                                                <b>96537249</b>
                                            </div>
                                        </div>
                                        <div class="table-row">
                                            <div class="item">
                                                <span>Состояние: </span>
                                            </div>
                                            <div class="item">
                                                <b>Отличное (б/у)</b>
                                            </div>
                                        </div>
                                        <div class="table-row">
                                            <div class="item">
                                                <span>Наличие:  </span>
                                            </div>
                                            <div class="item">
                                                <b>В наличии</b>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="product-logo">
                                <a href="#" class="product-close-popup"><span>назад</span></a>
                                <img src="images/product-logo.png" alt="">
                                <div class="price-button">
                                    <div class="item-text">
                                        <p><strong>185 500</strong> <span>руб.</span></p>
                                    </div>

                                    <a href="#">
                                        <span>Уточнить цену</span>
                                    </a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <!--/popup-->
            </div>
            <div class="item-catalogius">
                <div class="img"><img src="images/catal-it.png" alt=""></div>
                <div class="name">Двигатель GM 6.2 Liter V8 EcoTec3 L86 Engine (80MH0022A)</div>
                <div class="properties">
                    <p><b>Производитель:</b><span>GM</span></p>
                    <p><b>Серийный номер:</b><span>96537249</span></p>
                    <p><b>Состояние:</b><span style="color:#2579bf;">Отличное</span></p>
                </div>
                <div class="tags">
                    <span>В наличии</span>
                    <span style="border-color:#f2575e;">Нет в наличии</span>

                </div>
                <div class="price flex-line-container">
                    <a href="#" class="button">уточнить цену</a>
                    <span class="prc"><b>55 000 </b>руб.</span>
                </div>
            </div>
            <div class="item-catalogius">
                <div class="img"><img src="images/catal-it.png" alt=""></div>
                <div class="name">Двигатель GM 6.2 Liter V8 EcoTec3 L86 Engine (80MH0022A)</div>
                <div class="properties">
                    <p><b>Производитель:</b><span>GM</span></p>
                    <p><b>Серийный номер:</b><span>96537249</span></p>
                    <p><b>Состояние:</b><span style="color:#2579bf;">Отличное</span></p>
                </div>
                <div class="tags">
                    <span>В наличии</span>
                    <span style="border-color:#f2575e;">Нет в наличии</span>

                </div>
                <div class="price flex-line-container">
                    <a href="#" class="button">уточнить цену</a>
                    <span class="prc"><b>55 000 </b>руб.</span>
                </div>
            </div>
            <div class="item-catalogius">
                <div class="img"><img src="images/catal-it.png" alt=""></div>
                <div class="name">Двигатель GM 6.2 Liter V8 EcoTec3 L86 Engine (80MH0022A)</div>
                <div class="properties">
                    <p><b>Производитель:</b><span>GM</span></p>
                    <p><b>Серийный номер:</b><span>96537249</span></p>
                    <p><b>Состояние:</b><span style="color:#2579bf;">Отличное</span></p>
                </div>
                <div class="tags">
                    <span>В наличии</span>
                    <span style="border-color:#f2575e;">Нет в наличии</span>

                </div>
                <div class="price flex-line-container">
                    <a href="#" class="button">уточнить цену</a>
                    <span class="prc"><b>55 000 </b>руб.</span>
                </div>
            </div>
        </div>
        <button class="showmore-button" data-id="1">Показать еще</button>

    </div>

</section>