<!-- FOOTER -->
<div class="footer_placeholder"></div>
    <footer class="footer">
        <div class="mbox">
            <div class="top flex-line-container">
                <div class="column">
                    <ul>
                        <li><h5>Покупателям</h5></li>
                        <li><a href="#">Акции</a></li>
                        <li><a href="#">Акции</a></li>
                        <li><a href="#">Акции</a></li>
                        <li><a href="#">Акции</a></li>
                        <li><a href="#">Акции</a></li>

                    </ul>
                </div>
                <div class="column">
                    <ul>
                        <li><h5>Покупателям</h5></li>
                        <li><a href="#">Акции</a></li>
                        <li><a href="#">Акции</a></li>
                        <li><a href="#">Акции</a></li>
                        <li><a href="#">Акции</a></li>
                        <li><a href="#">Акции</a></li>
                    </ul>
                </div>
                <div class="column">
                    <ul>
                        <li><h5>Покупателям</h5></li>
                        <li><a href="#">Акции</a></li>
                        <li><a href="#">Акции</a></li>

                    </ul>
                </div>
            </div>
            <div class="mid flex-line-container">
                <div class="left">
                    <div class="titl">Мы в социальных сетях:</div>
                    <div class="socials-wrap flex-line-container">
                        <a href="#" class="blog filled-button">Блог Директора</a>
                        <a href="#" class="fb soc"></a>
                        <a href="#" class="vk soc"></a>
                        <a href="#" class="ig soc"></a>
                        <a href="#" class="yt soc"></a>
                    </div>
                </div>
                <div class="right">
                    <div class="titl">Принимаем оплату:</div>
                    <div class="pay-wrap flex-line-container">
                        <a href="#"><img src="images/mc.png" alt=""></a>
                        <a href="#"><img src="images/visa.png" alt=""></a>
                        <a href="#"><img src="images/ya.png" alt=""></a>
                        <a href="#"><img src="images/wm.png" alt=""></a>
                    </div>
                </div>
            </div>
            <div class="mobile">
                <div class="tel-box">
                    <div class="tel">8 800 770 777 3</div>
                    <div class="txt">звонок бесплатный по России</div>
                </div>
            </div>
            <div class="bot">
                <div class="copyr">2016. Шеви Плюс. Сеть специализированных техцентров</div>
            </div>
        </div>

    </footer>
<!-- FOOTER -->

<!-- SCRIPTS -->
<script>
    var mapMarker = 'images/contact-marker.png';
    var mapObj = [
        {
            cordX:"55.754347",
            cordY:"37.629816"
        },
        {
            cordX:"55.756128",
            cordY:"37.636715"
        },
        {
            cordX:"55.760487",
            cordY:"37.628068"
        },
        {
            cordX:"55.734696",
            cordY:"37.648550"
        },
        {
            cordX:"55.756128",
            cordY:"37.636715"
        },
        {
            cordX:"55.760487",
            cordY:"37.628068"
        }

    ];
    var showMoreProduct = 'show-more-item.php'

    var listArray = [ "c++", "java", "php", "coldfusion", "javascript", "asp", "ruby", "CCC" ];
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?key=AIzaSyBIpaJv7kNIj_anBzwchK3x4z26c_TScl0"></script>
<script type="text/javascript" src="js/validate_script.js" ></script>

<!-- build:js -->
<script type="text/javascript" src="js/plagins/device.js" ></script>
<script type="text/javascript" src="js/plagins/jquery.fancybox.pack.js" ></script>
<script type="text/javascript" src="js/plagins/jquery.formstyler.min.js" ></script>
<script type="text/javascript" src="js/plagins/jquery.validate.min.js" ></script>
<script type="text/javascript" src="js/plagins/jquery-ui.min.js" ></script>
<script type="text/javascript" src="js/plagins/maskInput.js" ></script>
<script type="text/javascript" src="js/plagins/slick.js" ></script>

<script type="text/javascript" src="js/basic_scripts.js" ></script>
<script type="text/javascript" src="js/develop/develop_1.js" ></script>
<script type="text/javascript" src="js/develop/develop_2.js" ></script>
<script type="text/javascript" src="js/develop/develop_4.js" ></script>
<script type="text/javascript" src="js/develop/develop_5.js" ></script>
<script type="text/javascript" src="js/develop/develop_6.js" ></script>
<!-- endbuild -->

<!-- /SCRIPTS -->
