<!-- FOOTER -->
<div class="footer_placeholder"></div>
<footer class="footer">

</footer>
<!-- FOOTER -->

<!-- SCRIPTS -->
<script>
    var mapMarker = 'images/contact-marker.png';
    var mapObj = [
        {
            cordX:"55.754347",
            cordY:"37.629816"
        },
        {
            cordX:"55.756128",
            cordY:"37.636715"
        },
        {
            cordX:"55.760487",
            cordY:"37.628068"
        },
        {
            cordX:"55.734696",
            cordY:"37.648550"
        },
        {
            cordX:"55.756128",
            cordY:"37.636715"
        },
        {
            cordX:"55.760487",
            cordY:"37.628068"
        }
    ]
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?key=AIzaSyBIpaJv7kNIj_anBzwchK3x4z26c_TScl0"></script>
<script type="text/javascript" src="js/validate_script.js" ></script>

<!-- build:js -->
<script type="text/javascript" src="js/plagins/device.js" ></script>
<script type="text/javascript" src="js/plagins/jquery.fancybox.pack.js" ></script>
<script type="text/javascript" src="js/plagins/jquery.formstyler.min.js" ></script>
<script type="text/javascript" src="js/plagins/jquery.validate.min.js" ></script>
<script type="text/javascript" src="js/plagins/maskInput.js" ></script>
<script type="text/javascript" src="js/plagins/slick.js" ></script>

<script type="text/javascript" src="js/basic_scripts.js" ></script>
<script type="text/javascript" src="js/develop/develop_1.js" ></script>
<script type="text/javascript" src="js/develop/develop_2.js" ></script>
<script type="text/javascript" src="js/develop/develop_4.js" ></script>
<script type="text/javascript" src="js/develop/develop_5.js" ></script>
<script type="text/javascript" src="js/develop/develop_6.js" ></script>
<!-- endbuild -->

<!-- /SCRIPTS -->
