<!-- HEADER -->
<header>
    <div class="header-top">
        <div class="mbox">
            <div class="flex-line-container">
                <div class="logo">
                    <p>ШЕВИ плюс</p>
                </div>
                <div class="socials-wrap flex-line-container">
                    <a href="#" class="blog filled-button">Блог Директора</a>
                    <a href="#" class="fb soc"></a>
                    <a href="#" class="vk soc"></a>
                    <a href="#" class="ig soc"></a>
                    <a href="#" class="yt soc"></a>
                </div>
            </div>

        </div>
    </div>
    <div class="header-bot">
        <div class="mbox">
            <div class="flex-line-container">
                <ul class="nav">
                    <li><a href="#">подбор запчастей</a></li>
                    <li><a href="#">каталог</a></li>
                    <li><a href="#">доставка / оплата</a></li>
                    <li><a href="#">Наши тех-центры</a></li>
                    <li><a href="#">о компании</a></li>
                    <li><a href="#">контакты</a></li>
                </ul>
                <div class="search-button"><input type="text" placeholder="Поиск по названию/номеру запчасти"></div>
                <div class="tel-box">
                    <div class="tel">8 800 770 777 3</div>
                    <div class="txt">звонок бесплатный по России</div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- /HEADER -->

