<div class="hidden-block"> 

    <div id="call_success">
        <div class="call-success">
             <div class="call_success">
                 <div class="call-title">Спасибо за заявку!</div>
                 <div class="call-subtitle">Мы свяжемся с Вами в ближайшее время</div>
             </div>
        </div>
    </div>

    <div id="pop-clarify">
        <div class="mbox">
            <div class="pop-clarify-wrap">
                <div class="product-title">
                    <h2 class="clarify-product-title"></h2>
                </div>
                <div class="clarify-middle">
                    <div class="clarify-img">
                        <img src="images/producnt-slide-2.jpg" alt="">
                    </div>
                    <div class="clarify-form">
                        <form action="ajax.php">
                            <input type="hidden" name="clarify-product-title-name" value="" class="clarify-product-title-name">
                            <div class="form_row">
                                <p>Ваше Имя</p>
                                <div class="form_input">
                                    <input type="text" name="clarify-name" required="required" value="" placeholder="Введите Ваше Имя">
                                </div>
                            </div>
                            <div class="form_row">
                                <p>Телефон</p>
                                <div class="form_input">
                                    <input type="text" name="clarify-telephone" required="required" value="" placeholder="Введите Ваш телефон"  class="tel-mask">
                                </div>
                            </div>
                            <div class="form_row">
                                <p>E-mail</p>
                                <div class="form_input">
                                    <input type="text" name="clarify-mail"  value="" placeholder="Введите Ваш E-mail">
                                </div>
                            </div>
                            <div class="form_row">
                                <button type="submit" class="contact-submit">
                                    <span>Уточнить цену</span>
                                </button>
                            </div>
                        </form>
                    </div>
                    <div class="clarify-button">
                        <a href="#" class="transparent-button">
                            <span>НАЗАД</span>
                        </a>
                        <div class="product-logo">
                            <img src="" alt="" class="clarify-product-logo">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="where-uses" class="where-uses">

        <div class="mbox">

            <div class="where-uses-wrap">

                <div class="where-uses-title">
                    <span>ГДЕ ИСПОЛЬЗУЕТСЯ</span>
                </div>
                <div class="where-uses-subtitle">Двигатель <span>GM 6.2 Liter V8 EcoTec 3 L86</span> используется на автомобилях:</div>

                <div class="where-uses-content">

                    <div class="where-uses-col">

                        <div class="where-used-list">
                            <ul>
                                <li>
                                    <p>Chevrolet Silverado LTZ Crew Cab <span>6.2L</span></p>
                                </li>
                                <li>
                                    <p>GMC Sierra 1500 SLT Crew Cab <span>6.2L</span></p>
                                </li>
                                <li>
                                    <p>Chevrolet Tahoe <span>6.2L</span></p>
                                </li>
                                <li>
                                    <p>Cadillac CT6 <span>6.2L</span></p>
                                </li>
                                <li>
                                    <p>Cadillac Escalade <span>6.2L</span></p>
                                </li>
                                <li>
                                    <p>Chevrolet Silverado LTZ Crew Cab <span>6.2L</span></p>
                                </li>
                                <li>
                                    <p>GMC Sierra 1500 SLT Crew Cab <span>6.2L</span></p>
                                </li>
                                <li>
                                    <p>Chevrolet Tahoe <span>6.2L</span></p>
                                </li>
                                <li>
                                    <p>Cadillac CT6 <span>6.2L</span></p>
                                </li>
                                <li>
                                    <p>Cadillac Escalade <span>6.2L</span></p>
                                </li>
                            </ul>
                        </div>

                    </div>

                    <div class="where-uses-col">

                        <div class="where-used-list">
                            <ul>
                                <li>
                                    <p>Chevrolet Silverado LTZ Crew Cab <span>6.2L</span></p>
                                </li>
                                <li>
                                    <p>GMC Sierra 1500 SLT Crew Cab <span>6.2L</span></p>
                                </li>
                                <li>
                                    <p>Chevrolet Tahoe <span>6.2L</span></p>
                                </li>
                                <li>
                                    <p>Cadillac CT6 <span>6.2L</span></p>
                                </li>
                                <li>
                                    <p>Cadillac Escalade <span>6.2L</span></p>
                                </li>
                            </ul>
                        </div>

                        <div class="where-used-button">
                            <a href="#" class="transparent-button">
                                <span>НАЗАД</span>
                            </a>
                        </div>

                    </div>

                </div>

                <div class="where-used-button mobile">
                    <a href="#" class="transparent-button">
                        <span>ЗАКРЫТЬ</span>
                    </a>
                </div>

            </div>

        </div>

    </div>

    <div id="discount" class="discount-popup">
        <div class="discount-popup-form">
            <div class="discount-popup-title">
                <h5>Связаться с нами</h5>
            </div>
            <form action="ajax.php">
                <div class="form_row">
                    <p>Ваше Имя</p>
                    <div class="form_input">
                        <input type="text" name="discount-name" required="required" value="" placeholder="Введите Ваше Имя">
                    </div>
                </div>
                <div class="form_row">
                    <p>Телефон</p>
                    <div class="form_input">
                        <input type="text" name="discount-telephone" required="required" value="" placeholder="Введите Ваш телефон"  class="tel-mask">
                    </div>
                </div>
                <div class="form_row">
                    <p>E-mail</p>
                    <div class="form_input">
                        <input type="text" name="discount-mail"  value="" placeholder="Введите Ваш E-mail">
                    </div>
                </div>
                <div class="form_row">
                    <button type="submit" class="contact-submit">
                        <span>Связаться с нами</span>
                    </button>
                </div>
            </form>
        </div>
    </div>

    <div id="services-popup" >
        <div class="services-wrap">
            <div class="heading">
                <h3>Комплексная диагностика</h3>
            </div>
            <form action="lendos.php" class="services-form">
                <input type="hidden" name="title_name" value="" class="clarify-product-title-name">
                <label>
                    <p>Ваше Имя</p>
                    <input type="text" name="contact_name" placeholder="Введите Ваше Имя*" required="required">
                </label>
                <label>
                    <p>Телефон</p>
                   <input type="text"  name="contact_tel" placeholder="Введите Ваш телефон*" required="required" class="tel-mask">
                </label>               
                <label class="for-select">
                    <p>Выбрать дополнительные услуги</p>
                    <select required="required" name="add-service">
                        <option value="Регулярное ТО">Регулярное ТО</option>
                        <option value="Комплексная диагностика">Комплексная диагностика</option>
                        <option value="Компютерная диагностика">Компютерная диагностика</option>
                        <option value="Ремонт тормозной системы">Ремонт тормозной системы</option>
                        <option value="Ремонт ходовой части">Ремонт ходовой части</option>
                        <option value="Ремонт рулевого управления">Ремонт рулевого управления</option>
                        <option value="Ремонт двигателя">Ремонт двигателя</option>
                        <option value="Ремонт АКПП и МКПП">Ремонт АКПП и МКПП</option>
                        <option value="Замена сцепления">Замена сцепления</option>
                        <option value="Обслуживание и ремонт кондиционеров">Обслуживание и ремонт кондиционеров</option>
                        <option value="Ремонт системы охлаждения">Ремонт системы охлаждения</option>
                        <option value="Ремонт выхлопной системы">Ремонт выхлопной системы</option>
                        <option value="Ремонт топливной системы">Ремонт топливной системы</option>
                        <option value="Ремонт электрооборудования">Ремонт электрооборудования</option>
                        <option value="Работы по шумоизоляции автомобиля">Работы по шумоизоляции автомобиля</option>
                        <option value="Установка дополнительного оборудования">Установка дополнительного оборудования</option>
                        <option value="Компютерный сход-развал">Компютерный сход-развал</option>
                        <option value="Шиномонтаж и балансировка">Шиномонтаж и балансировка</option>
                    </select>
                </label>
                 <label>
                    <p>Указать свою услугу</p>
                    <input type="text" name="service" placeholder="Укажите свою услугу" required="required">
                </label>
                <label class="for-select">
                    <p>Марка автомобиля</p>
                    <select required="required" name="brand" id="brand2">
                        <option value="">Выберите марку автомобиля</option>
                        <option value="chevrolet">Chevrolet</option>
                        <option value="opel">Opel</option>
                    </select>
                </label>
                <label  class="for-select">
                    <p>Модель автомобиля</p>
                    <select required="required" name="model" id="model2">
                        <option value="">Выберите модель автомобиля</option>
                        <option value="custom-model" class="claim-for-hidden-input">Указать свою модель</option>
                        <option class="ch-m" value="CRUZE">CRUZE</option>
                        <option class="ch-m" value="AVEO (T250/255)">AVEO (T250/255)</option>
                        <option class="ch-m" value="AVEO (T300)">AVEO (T300)</option>
                        <option class="ch-m" value="COBALT">COBALT</option>
                        <option class="ch-m" value="LACETTI">LACETTI</option>
                        <option class="ch-m" value="ORLANDO">ORLANDO</option>
                        <option class="ch-m" value="CAPTIVA">CAPTIVA</option>
                        <option class="ch-m" value="SPARK">SPARK</option>
                        <option class="ch-m" value="REZZO">REZZO</option>
                        <option class="ch-m" value="MALIBU">MALIBU</option>
                        <option class="ch-m" value="EPICA">EPICA</option>
                        <option class="ch-m" value="TRACKER">TRACKER</option>
                        <option class="op-m" value="ASTRA-H">ASTRA-H</option>
                        <option class="op-m" value="ASTRA-J">ASTRA-J</option>
                        <option class="op-m" value="ASTRA GTC">ASTRA GTC</option>
                        <option class="op-m" value="CORSA-D">CORSA-D</option>
                        <option class="op-m" value="Insignia">Insignia</option>
                        <option class="op-m" value="MOKKA">MOKKA</option>
                        <option class="op-m" value="ANTARA">ANTARA</option>
                        <option class="op-m" value="MERIVA-B">MERIVA-B</option>
                        <option class="op-m" value="ZAFIRA-A">ZAFIRA-A</option>
                        <option class="op-m" value="ZAFIRA-b">ZAFIRA-b</option>
                        <option class="op-m" value="ZAFIRA-c">ZAFIRA-c</option>
                    </select>
                </label>
                
                <div class="wrap-for-hidden-input">
                    <input type="text" name="custom-model" placeholder="Выберите модель автомобиля" class="custom-model">
                 </div>

                <label class="forcur-textarea">
                    <p>Примечание</p>
                    <textarea placeholder="Напишите Ваше сообщение" value="" name="service-text"></textarea>
                </label>
                <div class="form-field" id="captcha1">
                    <div class="g-recaptcha" id="recaptcha1" data-sitekey="6Ld3QRMUAAAAAKLpbnFnVNca5Nv3bWzSNp_yODVb" data-callback="recaptchaCallback"></div>
                    <input type="text" class="hiddenRecaptcha required" name="hiddenRecaptcha" id="hiddenRecaptcha1" required="required">
                </div>
                <div class="button-wrap">
                    <button>Заказать</button>
                </div>
            </form>
        </div>
    </div>

    <div id="marka-auto-op" class="marka-auto-popup">
        <div class="title">Opel <span>Astra-H</span></div>
        <div class="marka-content">
            <form action="lendos.php">
                <input type="hidden" name="title_name" value="" class="clarify-product-title-name">
                <div class="form-field">
                    <p>Ваше Имя</p>
                    <input type="text" placeholder="Введите Ваше Имя*" name="contact_name" required="required">
                </div>
                <div class="form-field">
                    <p>Телефон</p>
                    <input type="text" class="tel-mask" name="contact_tel" placeholder="Введите Ваш телефон*" required="required">
                </div>
                <div class="form-field">
                    <p>Выбрать дополнительные услуги</p>
                    <select name="diagnostika" class="diagnostika">
                        <option value="Регулярное ТО">Регулярное ТО</option>
                        <option value="Комплексная диагностика">Комплексная диагностика</option>
                        <option value="Компютерная диагностика">Компютерная диагностика</option>
                        <option value="Ремонт тормозной системы">Ремонт тормозной системы</option>
                        <option value="Ремонт ходовой части">Ремонт ходовой части</option>
                        <option value="Ремонт рулевого управления">Ремонт рулевого управления</option>
                        <option value="Ремонт двигателя">Ремонт двигателя</option>
                        <option value="Ремонт АКПП и МКПП">Ремонт АКПП и МКПП</option>
                        <option value="Замена сцепления">Замена сцепления</option>
                        <option value="Обслуживание и ремонт кондиционеров">Обслуживание и ремонт кондиционеров</option>
                        <option value="Ремонт системы охлаждения">Ремонт системы охлаждения</option>
                        <option value="Ремонт выхлопной системы">Ремонт выхлопной системы</option>
                        <option value="Ремонт топливной системы">Ремонт топливной системы</option>
                        <option value="Ремонт электрооборудования">Ремонт электрооборудования</option>
                        <option value="Работы по шумоизоляции автомобиля">Работы по шумоизоляции автомобиля</option>
                        <option value="Установка дополнительного оборудования">Установка дополнительного оборудования</option>
                        <option value="Компютерный сход-развал">Компютерный сход-развал</option>
                        <option value="Шиномонтаж и балансировка">Шиномонтаж и балансировка</option>
                    </select>
                </div>
                <div class="form-field">
                    <p>Указать свою услугу</p>
                    <input type="text" name="service" placeholder="Укажите свою услугу" required="required">
                </div>
                <div class="form-field txt">
                    <p>Примечание</p>
                    <textarea cols="30" rows="4" name="service-text" placeholder="Напишите Ваше сообщение..."></textarea>
                </div>
                <div class="form-field" id="captcha2">
                    <div class="g-recaptcha" id="recaptcha2" data-sitekey="6Ld3QRMUAAAAAKLpbnFnVNca5Nv3bWzSNp_yODVb" data-callback="recaptchaCallback"></div>
                    <input type="text" class="hiddenRecaptcha required" name="hiddenRecaptcha" id="hiddenRecaptcha2" required="required">
                </div>
                <button type="submit" class="submit">Заказать</button>
            </form>
        </div>
    </div>
    <div id="marka-auto-ch" class="marka-auto-popup">
        <div class="title">Chevrolet <span>Astra-H</span></div>
        <div class="marka-content">
            <form action="ajax.php">
                <input type="hidden" name="title_name" value="" class="clarify-product-title-name">
                <div class="form-field">
                    <p>Ваше Имя</p>
                    <input type="text" placeholder="Введите Ваше Имя*" required \>
                </div>
                <div class="form-field">
                    <p>Телефон</p>
                    <input type="text" class="tel" placeholder="Введите Ваш телефон*" required \>
                </div>
                <div class="form-field">
                    <p>Выбрать дополнительные услуги</p>
                    <select name="diagnostika" class="diagnostika" data-placeholdeer="Комплексная диагностика">
                        <option value="Регулярное ТО">Регулярное ТО</option>
                        <option value="Комплексная диагностика">Комплексная диагностика</option>
                        <option value="Компютерная диагностика">Компютерная диагностика</option>
                        <option value="Ремонт тормозной системы">Ремонт тормозной системы</option>
                        <option value="Ремонт ходовой части">Ремонт ходовой части</option>
                        <option value="Ремонт рулевого управления">Ремонт рулевого управления</option>
                        <option value="Ремонт двигателя">Ремонт двигателя</option>
                        <option value="Ремонт АКПП и МКПП">Ремонт АКПП и МКПП</option>
                        <option value="Замена сцепления">Замена сцепления</option>
                        <option value="Обслуживание и ремонт кондиционеров">Обслуживание и ремонт кондиционеров</option>
                        <option value="Ремонт системы охлаждения">Ремонт системы охлаждения</option>
                        <option value="Ремонт выхлопной системы">Ремонт выхлопной системы</option>
                        <option value="Ремонт топливной системы">Ремонт топливной системы</option>
                        <option value="Ремонт электрооборудования">Ремонт электрооборудования</option>
                        <option value="Работы по шумоизоляции автомобиля">Работы по шумоизоляции автомобиля</option>
                        <option value="Установка дополнительного оборудования">Установка дополнительного оборудования</option>
                        <option value="Компютерный сход-развал">Компютерный сход-развал</option>
                        <option value="Шиномонтаж и балансировка">Шиномонтаж и балансировка</option>
                    </select>
                </div>
                <div class="form-field">
                    <p>Указать свою услугу</p>
                    <input type="text" placeholder="Укажите свою услугу" required \>
                </div>
                <div class="form-field txt">
                    <p>Примечание</p>
                    <textarea cols="30" rows="4" placeholder="Напишите Ваше сообщение..."></textarea>
                </div>
                <div class="form-field" id="captcha3">
                    <div class="g-recaptcha" id="recaptcha3" data-sitekey="6Ld3QRMUAAAAAKLpbnFnVNca5Nv3bWzSNp_yODVb" data-callback="recaptchaCallback"></div>
                    <input type="text" class="hiddenRecaptcha required" name="hiddenRecaptcha" id="hiddenRecaptcha3" required="required">
                </div>
                <button type="submit" class="submit">Заказать</button>
            </form>
        </div>
    </div>
    <div id="pop-zakaz">
        <div class="mbox">
            <div class="pop-clarify-wrap">

                    <div class="clarify-form">
                        <form action="lendos.php">
                            <input type="hidden" name="title_name" value="Общая форма связи" class="clarify-product-title-name">
                            <div class="form_row">
                                <p>Ваше Имя</p>
                                <div class="form_input">
                                    <input type="text" name="contact_name" required="required" value="" placeholder="Введите Ваше Имя">
                                </div>
                            </div>
                            <div class="form_row">
                                <p>Телефон</p>
                                <div class="form_input">
                                    <input type="text" name="contact_tel" required="required" value="" placeholder="Введите Ваш телефон"  class="tel-mask">
                                </div>
                            </div>
                            <div class="form_row">
                                <p>E-mail</p>
                                <div class="form_input">
                                    <input type="email" name="contact_email"  value="" placeholder="Введите Ваш E-mail">
                                </div>
                            </div>
                            <div class="form-field" id="captcha4">
                                <div class="g-recaptcha" id="recaptcha4" data-sitekey="6Ld3QRMUAAAAAKLpbnFnVNca5Nv3bWzSNp_yODVb" data-callback="recaptchaCallback"></div>
                                <input type="text" class="hiddenRecaptcha required" name="hiddenRecaptcha" id="hiddenRecaptcha4" required="required">
                            </div>
                            <div class="form_row">
                                <button type="submit" class="contact-submit">
                                    <span>Заказать</span>
                                </button>
                            </div>
                        </form>
                    </div>


            </div>
        </div>
    </div>

</div>