<div class="hidden-block">

    <div id="call_success">
        <div class="call-success">
             <div class="call_success">
                 <div class="call-title">Спасибо за заявку!</div>
                 <div class="call-subtitle">Мы свяжемся с Вами в ближайшее время</div>
             </div>
        </div>
    </div>


    <div id="pop-clarify">
        <div class="mbox">
            <div class="pop-clarify-wrap">
                <div class="product-title">
                    <h2 class="clarify-product-title"></h2>
                </div>
                <div class="clarify-middle">
                    <div class="clarify-img">
                        <img src="images/producnt-slide-2.jpg" alt="">
                    </div>
                    <div class="clarify-form">
                        <form action="ajax.php">
                            <input type="hidden" name="clarify-product-title-name" value="" class="clarify-product-title-name">
                            <div class="form_row">
                                <p>Ваше Имя</p>
                                <div class="form_input">
                                    <input type="text" name="clarify-name" required="required" value="" placeholder="Введите Ваше Имя">
                                </div>
                            </div>
                            <div class="form_row">
                                <p>Телефон</p>
                                <div class="form_input">
                                    <input type="text" name="clarify-telephone" required="required" value="" placeholder="Введите Ваш телефон"  class="tel-mask">
                                </div>
                            </div>
                            <div class="form_row">
                                <p>E-mail</p>
                                <div class="form_input">
                                    <input type="text" name="clarify-mail"  value="" placeholder="Введите Ваш E-mail">
                                </div>
                            </div>
                            <div class="form_row">
                                <button type="submit" class="contact-submit">
                                    <span>Уточнить цену</span>
                                </button>
                            </div>
                        </form>
                    </div>
                    <div class="clarify-button">
                        <a href="#" class="transparent-button">
                            <span>НАЗАД</span>
                        </a>
                        <div class="product-logo">
                            <img src="" alt="" class="clarify-product-logo">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="where-uses" class="where-uses">

        <div class="mbox">

            <div class="where-uses-wrap">

                <div class="where-uses-title">
                    <span>ГДЕ ИСПОЛЬЗУЕТСЯ</span>
                </div>
                <div class="where-uses-subtitle">Двигатель <span>GM 6.2 Liter V8 EcoTec 3 L86</span> используется на автомобилях:</div>

                <div class="where-uses-content">

                    <div class="where-uses-col">

                        <div class="where-used-list">
                            <ul>
                                <li>
                                    <p>Chevrolet Silverado LTZ Crew Cab <span>6.2L</span></p>
                                </li>
                                <li>
                                    <p>GMC Sierra 1500 SLT Crew Cab <span>6.2L</span></p>
                                </li>
                                <li>
                                    <p>Chevrolet Tahoe <span>6.2L</span></p>
                                </li>
                                <li>
                                    <p>Cadillac CT6 <span>6.2L</span></p>
                                </li>
                                <li>
                                    <p>Cadillac Escalade <span>6.2L</span></p>
                                </li>
                                <li>
                                    <p>Chevrolet Silverado LTZ Crew Cab <span>6.2L</span></p>
                                </li>
                                <li>
                                    <p>GMC Sierra 1500 SLT Crew Cab <span>6.2L</span></p>
                                </li>
                                <li>
                                    <p>Chevrolet Tahoe <span>6.2L</span></p>
                                </li>
                                <li>
                                    <p>Cadillac CT6 <span>6.2L</span></p>
                                </li>
                                <li>
                                    <p>Cadillac Escalade <span>6.2L</span></p>
                                </li>
                            </ul>
                        </div>

                    </div>

                    <div class="where-uses-col">

                        <div class="where-used-list">
                            <ul>
                                <li>
                                    <p>Chevrolet Silverado LTZ Crew Cab <span>6.2L</span></p>
                                </li>
                                <li>
                                    <p>GMC Sierra 1500 SLT Crew Cab <span>6.2L</span></p>
                                </li>
                                <li>
                                    <p>Chevrolet Tahoe <span>6.2L</span></p>
                                </li>
                                <li>
                                    <p>Cadillac CT6 <span>6.2L</span></p>
                                </li>
                                <li>
                                    <p>Cadillac Escalade <span>6.2L</span></p>
                                </li>
                            </ul>
                        </div>

                        <div class="where-used-button">
                            <a href="#" class="transparent-button">
                                <span>НАЗАД</span>
                            </a>
                        </div>

                    </div>

                </div>

                <div class="where-used-button mobile">
                    <a href="#" class="transparent-button">
                        <span>ЗАКРЫТЬ</span>
                    </a>
                </div>

            </div>

        </div>

    </div>

    <div id="discount" class="discount-popup">
        <div class="discount-popup-form">
            <div class="discount-popup-title">
                <h5>Связаться с нами</h5>
            </div>
            <form action="ajax.php">
                <div class="form_row">
                    <p>Ваше Имя</p>
                    <div class="form_input">
                        <input type="text" name="discount-name" required="required" value="" placeholder="Введите Ваше Имя">
                    </div>
                </div>
                <div class="form_row">
                    <p>Телефон</p>
                    <div class="form_input">
                        <input type="text" name="discount-telephone" required="required" value="" placeholder="Введите Ваш телефон"  class="tel-mask">
                    </div>
                </div>
                <div class="form_row">
                    <p>E-mail</p>
                    <div class="form_input">
                        <input type="text" name="discount-mail"  value="" placeholder="Введите Ваш E-mail">
                    </div>
                </div>
                <div class="form_row">
                    <button type="submit" class="contact-submit">
                        <span>Связаться с нами</span>
                    </button>
                </div>
            </form>
        </div>
    </div>

    <div id="services-popup" >
        <div class="services-wrap">
            <div class="heading">
                <h3>Комплексная диагностика</h3>
            </div>
            <form action="" class="services-form">
                <label>
                    <p>Ваше Имя</p>
                    <input type="text" name="name" placeholder="Введите Ваше Им\я*" required="required">
                </label>
                <label>
                    <p>Телефон</p>
                    <input type="tel" class="tel-mask" name="name" placeholder="Введите Ваш телефон*" required="required">
                </label>               
                <label class="for-select">
                    <p>Выбрать дополнительные услуги</p>
                    <select>                        
                        <option>Регулярное ТО</option>
                        <option>Комплексная диагностика</option>
                        <option>Компютерная диагностика</option>
                        <option>Ремонт тормозной системы</option>
                        <option>Ремонт ходовой части</option>
                        <option>Ремонт рулевого управления</option>
                        <option>Ремонт двигателя</option>
                        <option>Ремонт АКПП и МКПП</option>
                        <option>Замена сцепления</option>
                        <option>Обслуживание и ремонт кондиционеров</option>
                        <option>Ремонт системы охлаждения</option>
                        <option>Ремонт выхлопной системы</option>
                        <option>Ремонт топливной системы</option>
                        <option>Ремонт электрооборудования</option>
                        <option>Работы по шумоизоляции автомобиля</option>
                        <option>Установка дополнительного оборудования</option>
                        <option>Компютерный сход-развал</option>
                        <option>Шиномонтаж и балансировка</option>
                    </select>
                </label>
                 <label>
                    <p>Указать свою услугу</p>
                    <input type="text" name="privatService" placeholder="Укажите свою услугу" required="required">
                </label>
                <label class="for-select">
                    <p>Ваше Имя</p>
                    <select>
                         <option>Выберите марку автомобиля</option>
                        <option>Chevrolet</option>
                        <option>Opel</option>
                    </select>
                </label>
                <label  class="for-select">
                    <p>Ваше Имя</p>
                    <select>
                        <option >Выберите модель автомобиля</option>
                        <option>CRUZE</option>
                        <option>AVEO (T250/255)</option>
                        <option>AVEO (T300)</option>
                        <option>COBALT</option>
                        <option>LACETTI</option>
                        <option>RLANDO</option>
                        <option>CAPTIVA</option>
                        <option>SPARK</option>
                        <option>REZZO</option>
                        <option>EPICA</option>
                    </select>
                </label>
                <label>
                    <p>Примечание</p>
                    <textarea placeholder="Напишите Ваше сообщение"></textarea>
                </label>
                <div class="button-wrap">
                    <button>Заказать</button>
                </div>
            </form>
        </div>
    </div>

    <div id="marka-auto" class="marka-auto-popup">
        <div class="title">Opel <span>Astra-H</span></div>
        <div class="marka-content">
            <form action="/">
                <div class="form-field">
                    <p>Ваше Имя</p>
                    <input type="text" placeholder="Введите Ваше Имя*" required \>
                </div>
                <div class="form-field">
                    <p>Телефон</p>
                    <input type="text" class="tel" placeholder="Введите Ваш телефон*" required \>
                </div>
                <div class="form-field">
                    <p>Выбрать дополнительные услуги</p>
                    <select name="diagnostika" class="diagnostika" data-placeholdeer="Комплексная диагностика">
                        <option disabled selected>Комплексная диагностика</option>
                        <option>345</option>
                        <option>567</option>
                    </select>
                </div>
                <div class="form-field">
                    <p>Указать свою услугу</p>
                    <input type="text" placeholder="Укажите свою услугу" required \>
                </div>
                <div class="form-field txt">
                    <p>Примечание</p>
                    <textarea cols="30" rows="4" placeholder="Напишите Ваше сообщение..."></textarea>
                </div>
                <button type="submit" class="submit">Заказать</button>
            </form>
        </div>
    </div>
    <div id="pop-zakaz">
        <div class="mbox">
            <div class="pop-clarify-wrap">

                    <div class="clarify-form">
                        <form action="ajax.php">
                            <input type="hidden" name="clarify-product-title-name" value="" class="clarify-product-title-name">
                            <div class="form_row">
                                <p>Ваше Имя</p>
                                <div class="form_input">
                                    <input type="text" name="clarify-name" required="required" value="" placeholder="Введите Ваше Имя">
                                </div>
                            </div>
                            <div class="form_row">
                                <p>Телефон</p>
                                <div class="form_input">
                                    <input type="text" name="clarify-telephone" required="required" value="" placeholder="Введите Ваш телефон"  class="tel-mask">
                                </div>
                            </div>
                            <div class="form_row">
                                <p>E-mail</p>
                                <div class="form_input">
                                    <input type="text" name="clarify-mail"  value="" placeholder="Введите Ваш E-mail">
                                </div>
                            </div>
                            <div class="form_row">
                                <button type="submit" class="contact-submit">
                                    <span>Уточнить цену</span>
                                </button>
                            </div>
                        </form>
                    </div>


            </div>
        </div>
    </div>

</div>