<div class="item-map-top">


    //= breadcrumbs.html
    //= main/search-block.html

    <div class="item-map-top-wrap clarify-info-all">
        <div class="mbox">
            <div class="product-title clarify-info-title" >
                <h2>Двигатель GM 6.2 Liter V8 EcoTec3 L86 для Cadillac Escalade 2015 (80MH0022A)</h2>
            </div>
            <div class="product-item">
                <div class="product-slider">
                    <div class="slider-mini">
                        <div class="slider-mini-wrap">
                            <div class="item">
                                <img src="images/producnt-slide-1.jpg" alt="">
                            </div>
                            <div class="item">
                                <img src="images/producnt-slide-2.jpg" alt="">
                            </div>
                            <div class="item">
                                <img src="images/producnt-slide-3.jpg" alt="">
                            </div>
                            <div class="item">
                                <img src="images/producnt-slide-4.jpg" alt="">
                            </div>
                            <div class="item">
                                <img src="images/producnt-slide-5.jpg" alt="">
                            </div>
                            <div class="item">
                                <img src="images/producnt-slide-1.jpg" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="slider-big">
                        <div class="slider-big-wrap clarify-info-img">
                            <div class="item">
                                <a href="images/producnt-slide-1.jpg" class="fancybox-img">
                                    <img src="images/producnt-slide-1.jpg" alt="">
                                </a>
                            </div>
                            <div class="item">
                                <a href="images/producnt-slide-2.jpg" class="fancybox-img">
                                    <img src="images/producnt-slide-2.jpg" alt="">
                                </a>
                            </div>
                            <div class="item">
                                <a href="images/producnt-slide-3.jpg" class="fancybox-img">
                                    <img src="images/producnt-slide-3.jpg" alt="">
                                </a>
                            </div>
                            <div class="item">
                                <a href="images/producnt-slide-4.jpg" class="fancybox-img">
                                    <img src="images/producnt-slide-4.jpg" alt="">
                                </a>
                            </div>
                            <div class="item">
                                <a href="images/producnt-slide-5.jpg" class="fancybox-img">
                                    <img src="images/producnt-slide-5.jpg" alt="">
                                </a>
                            </div>
                            <div class="item">
                                <a href="images/producnt-slide-1.jpg" class="fancybox-img">
                                    <img src="images/producnt-slide-1.jpg" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="product-logo mobile-show">
                        <img src="images/product-logo.png" alt="">
                    </div>
                </div>
                <div class="product-description">
                    <div class="desc-title">GM 6.2 Liter V8 EcoTec3 L86</div>
                    <div class="desc-text">
                        <div class="desc-text-show">

                        </div>
                        <div class="desc-text-hidden">
                            <p>Двигатель L86 или EcoTec 3 — это LT1, как у купе Chevrolet Corvette и Camaro, только адаптированный для тяжёлых внедорожников и пикапов. Пятое поколение семейства Small Block V8 концерн GM развивает с 1992 года, хотя и нижневальная архитектура, и некоторые детали ведут свою историю с 1950-х.Отличительные особенности L86 — непосредственный впрыск, маслонасос переменной производительности и переработанная система отключения цилиндров, которая теперь меняет режимы чаще и незаметнее для водителя.Отличительные особенности L86 — непосредственный впрыск, маслонасос переменной производительности и переработанная система отключения цилиндров, которая теперь меняет режимы чаще и незаметнее для водителя.Отличительные особенности L86 — непосредственный впрыск, маслонасос переменной производительности и переработанная система отключения цилиндров, которая теперь меняет режимы чаще и незаметнее для водителя.
                                Отличительные особенности L86 — непосредственный впрыск, маслонасос переменной производительности и переработанная система отключения цилиндров, которая теперь меняет режимы чаще и незаметнее для водителя.
                                Отличительные особенности L86 — непосредственный впрыск, маслонасос переменной производительности и переработанная система отключения цилиндров, которая теперь меняет режимы чаще и незаметнее для водителя.
                            </p>
                        </div>
                    </div>
                    <div class="desc-text-button">
                        <span>Еще</span>
                    </div>

                    <div class="desc-price-block">
                        <div class="price-row">
                            <div class="price-title">
                                Цена
                            </div>
                            <div class="price-items">
                                <div class="item">
                                    <p>от <strong>55 000</strong> руб.</p>
                                </div>
                                <div class="item">
                                    <p>от <strong>1155 000</strong> руб.</p>
                                </div>
                            </div>
                        </div>
                        <div class="price-button">
                            <div class="item">
                                <div class="item-text">
                                    <p><strong>185 500</strong> <span>руб.</span></p>
                                </div>

                                <a href="#" class="clarify-pop-show">
                                    <span>Уточнить цену</span>
                                </a>
                            </div>
                            <div class="item">
                                <a href="#">
                                    <span>Скидка на ремонт <br>в Шеви Плюс</span>
                                </a>
                            </div>
                        </div>
                    </div>


                </div>
                <div class="product-logo clarify-info-mark-img">
                    <img src="images/product-logo.png" alt="">
                </div>
            </div>
        </div>
    </div>

    //= item-map-tubs.html

</div>