<div class="item-map-info-section item-map-perspective">
    <div class="mbox">
        <div class="titlius">
            <div class="txt">Крупным планом</div>
            <div class="img"><img src="images/cadlogo.png" alt=""></div>
        </div>
    </div>
        <div class="content">
            <div class="flex-line-container">
                <div class="img"><img src="images/p1-1.png" alt=""></div>
                <div class="img"><img src="images/p1-2.png" alt=""></div>
                <div class="img"><img src="images/p1-3.png" alt=""></div>
                <div class="img"><img src="images/p1-4.png" alt=""></div>
            </div>
            <div class="flex-line-container">
                <div class="img"><img src="images/p2-1.png" alt=""></div>
                <div class="img"><img src="images/p2-2.png" alt=""></div>
                <div class="img"><img src="images/p2-3.png" alt=""></div>
                <div class="img"><img src="images/p2-4.png" alt=""></div>
            </div>
            <div class="flex-line-container">
                <div class="img"><img src="images/p3-1.png" alt=""></div>
                <div class="img"><img src="images/p3-2.png" alt=""></div>
                <div class="img"><img src="images/p3-3.png" alt=""></div>
                <div class="img"><img src="images/p3-4.png" alt=""></div>
            </div>

            <a class="onmain" href="#">на главную</a>


        </div>


</div>