<div class="item-map-info-section item-map-garanty">

    <div class="item-map-garanty-top">
        <div class="mbox">
            <div class="item-map-section-title">
                <span>Гарантия</span>
            </div>
            <div class="garanty-car-text">GM 6.2 Liter V8 EcoTec3 L86 Engine</div>
        </div>
    </div>

    <div class="item-map-garanty-bottom">

        <div class="item-map-garanty-text-wrap">
            <div class="item-map-garanty-text-main">
                <div class="item-map-garanty-text">
                    <h3>Гарантия на ремонт двигателя до 24 месяцев или <span>70 000</span> км!</h3>
                    <h3>Срок гарантийного ремонта:</h3>
                    <ul>
                        <li>
                            <p>В случае частичного ремонта или при снятии двигателя – до 6 месяцев.</p>
                        </li>
                        <li>
                            <p>В случае рекомендуемого капитального ремонта и обязательном прохождении гарантийного обслуживания – 12 месяцев или 30 000 км пробега ( что наступит ранее ).</p>
                        </li>
                    </ul>
                    <p>Гарантия сохраняется только при условии соблюдения требований к эксплуатации после ремонта и
                        выполнения рекомендаций, указанных в заказ-наряде при диагностике и ремонте двигателя, а так же
                        соблюдения графика обязательных техосмотров коробки:</p>
                    <ul>
                        <li>
                            <p>Обязательный тех.осмотр I-й через 1 000 км - без оплаты</p>
                        </li>
                        <li>
                            <p>Обязательный тех.осмотр II-V каждые 10 000 км - без оплаты</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="item-map-garanty-img">
            <img src="images/item-map-garanty-img.jpg" alt="" />
        </div>

    </div>

</div>