<div class="item-map-info-section item-map-uses">

    <div class="mbox">

        <div class="item-map-uses-wrap">

            <div class="item-map-section-title">
                <span>ГДЕ ИСПОЛЬЗУЕТСЯ</span>
            </div>

            <div class="item-map-section-content">
                <div class="item-map-section-text">

                    <p>Двигатель <span style="color:#eb7073;text-transform: uppercase;font-size: 24px;">GM 6.2 Liter V8 EcoTec 3
                        L86</span> используется на автомобилях:</p>
                    <br />
                    <img src="images/uses-car.png" alt="" style="float:right;" />

                    <ul>
                        <li>
                            <p>Chevrolet Silverado LTZ Crew Cab <span
                                    style="color:#eb7073;text-transform: uppercase;">6.2L</span></p>
                        </li>
                        <li>
                            <p>GMC Sierra 1500 SLT Crew Cab <span style="color:#eb7073;text-transform: uppercase;">6.2L</span></p>
                        </li>
                        <li>
                            <p>Chevrolet Tahoe <span style="color:#eb7073;text-transform: uppercase;">6.2L</span></p>
                        </li>
                        <li>
                            <p>Cadillac CT6 <span style="color:#eb7073;text-transform: uppercase;">6.2L</span></p>
                        </li>
                        <li>
                            <p>Cadillac Escalade <span style="color:#eb7073;text-transform: uppercase;">6.2L</span></p>
                        </li>
                    </ul>

                    <a href="#">Полный список поддерживаемых авто</a>

                </div>
            </div>

        </div>

    </div>

</div>