<div class="item-map-info-main">

    <div class="item-map-info-section item-map-advantages">

        <div class="mbox">

            <div class="item-map-info-wrap">

                <div class="info-map-advantages-img">
                    <img src="images/item-map-advantages-img.jpg" alt="" />
                </div>

                <div class="item-map-advantages-main">

                    <div class="item-map-advantages-title">
                        <span>преимущества</span>
                    </div>

                    <div class="item-map-advantages-wrap">

                        <div class="item-map-advantages-motor">
                            <img src="images/advantages-motor.png" alt="" />
                        </div>

                        <div class="item-map-advantages-info">

                            <div class="item-map-advantages-info-item top-position">
                                <div class="item-map-advantages-item-img">
                                    <img src="images/advantages-img1.png" alt="" />
                                </div>
                                <div class="item-map-advantages-text">
                                    <p>
                                        <b>Двигатель L86 или EcoTec 3</b>
                                    </p>
                                    <p>Рекомендуемое топливо — АИ-95, хотя не возбраняется использовать и «девяносто
                                        второй» бензин.</p>
                                </div>
                            </div>

                            <div class="item-map-advantages-info-item center-position">
                                <div class="item-map-advantages-item-img">
                                    <img src="images/advantages-img2.png" alt="" />
                                </div>
                                <div class="item-map-advantages-text">
                                    <p>
                                        <b>Мощность: 420 л.с.</b>
                                    </p>
                                    <p>
                                        <b>Крутящий момент: 623/4100 н*м</b>
                                    </p>
                                </div>
                            </div>

                            <div class="item-map-advantages-info-item bottom-position">
                                <div class="item-map-advantages-item-img">
                                    <img src="images/advantages-img3.png" alt="" />
                                </div>
                                <div class="item-map-advantages-text">
                                    <p>
                                        <b>Электронные «мозги»,</b>
                                    </p>
                                    <p>внедренные разработчиками они же мехатроник, позволяют превосходить возможности всех остальных коробок передач во время езды в спортивном режиме.</p>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

</div>