<div class="item-map-info-section item-map-service">

    <div class="black-part">
        <div class="black-part-background">
            <img src="images/item-map-service-background.png" alt=""/>
        </div>

        <div class="black-part-content">

            <div class="parts-title">
                <h3>Запись на сервис</h3>
            </div>

            <div class="black-part-form">
                <form>
                    <div class="form_row">
                        <div class="form_input">
                            <input type="text" name="user_name" placeholder="Ваше Имя" required="required" />
                        </div>
                    </div>
                    <div class="form_row">
                        <div class="form_input">
                            <input type="text" name="user_telefone" placeholder="Телефон" class="tel-mask"
                                   required="required" />
                        </div>
                    </div>
                    <div class="form_row submit">
                        <button type="submit" class="submit-button">
                            <span>Отправить</span>
                        </button>
                    </div>
                </form>
            </div>

        </div>

    </div>

    <div class="white-part">

        <div class="white-part-content">

            <div class="parts-title">
                <h3>GM 6.2 Liter V8 EcoTec3 L86 Engine</h3>
            </div>
            <div class="white-part-img">
                <img src="images/white-part-img.png" alt="" />
            </div>

            <div class="white-part-button">
                <a href="#" class="transparent-button">
                    <span>Вернуться к товару</span>
                </a>
            </div>

        </div>

    </div>

</div>