<section class="catalog">
    <div class="mbox">
        <div class="title">
            <h2>Популярные товары</h2>
        </div>
        <div class="content">
            <div class="row flex-line-container">
                <div class="item">
                    <div class="group-wrap"><a href="item_map.html" class="group">Двигатель <span class="r-arrow"></span></a></div>
                    <div class="img"><img src="images/catal-it.png" alt=""></div>
                    <div class="name">Engine V6 xl turbo</div>
                    <div class="price">155 000 <b>руб.</b></div>
                    <a href="item_map.html" class="getprice">Уточнить цену</a>
                </div>
                <div class="item">
                    <div class="group-wrap"><a href="item_map.html" class="group">Двигатель шмигатель <span class="r-arrow"></span></a></div>
                    <div class="img"><img src="images/catal-it.png" alt=""></div>
                    <div class="name">Engine V6 xl turbo</div>
                    <div class="price">155 000 <b>руб.</b></div>
                    <a href="item_map.html" class="getprice">Уточнить цену</a>
                </div>
                <div class="item">
                    <div class="group-wrap"><a href="item_map.html" class="group">Двигатель шмигатель Двигатель <span class="r-arrow"></span></a></div>
                    <div class="img"><img src="images/catal-it.png" alt=""></div>
                    <div class="name">Engine V6 xl turbo</div>
                    <div class="price">155 000 <b>руб.</b></div>
                    <a href="item_map.html" class="getprice">Уточнить цену</a>
                </div>
                <div class="item">
                    <div class="group-wrap"><a href="item_map.html" class="group">Двигатель <span class="r-arrow"></span></a></div>
                    <div class="img"><img src="images/catal-it.png" alt=""></div>
                    <div class="name">Engine V6 xl turbo</div>
                    <div class="price">155 000 <b>руб.</b></div>
                    <a href="item_map.html" class="getprice">Уточнить цену</a>
                </div>
                <div class="item">
                    <div class="group-wrap"><a href="item_map.html" class="group">Двигатель <span class="r-arrow"></span></a></div>
                    <div class="img"><img src="images/catal-it.png" alt=""></div>
                    <div class="name">Engine V6 xl turbo</div>
                    <div class="price">155 000 <b>руб.</b></div>
                    <a href="item_map.html" class="getprice">Уточнить цену</a>
                </div>
                <div class="item">
                    <div class="group-wrap"><a href="item_map.html" class="group">Двигатель <span class="r-arrow"></span></a></div>
                    <div class="img"><img src="images/catal-it.png" alt=""></div>
                    <div class="name">Engine V6 xl turbo</div>
                    <div class="price">155 000 <b>руб.</b></div>
                    <a href="item_map.html" class="getprice">Уточнить цену</a>
                </div>
            </div>
        </div>
    </div>
</section>