<section class="top-block">
    <div class="mbox">
        <div class="content">
            <div class="top">
                <div class="logo"><img src="images/logopup.png" alt=""></div>
                <div class="txt">
                    <h1>
                        <p><b>сеть</b></p>
                        <p>специализированных</p>
                        <p><b>техцентров<img src="images/logoGM.png" alt=""></b></p>
                    </h1>
                </div>
            </div>
            <div class="bot flex-line-container">
                <div class="brand-wrap">
                    <div class="brand flex-line-container"><img src="images/cadi-m.png" alt=""></div>
                    <div class="dropdown">
                        <ul>
                            <li><a href="#"><span class="img"><img src="images/cadi-ats.png" alt=""></span><span class="txt">ATS</span></a></li>
                            <li><a href="#"><span class="img"><img src="images/cadi-bls.png" alt=""></span><span class="txt">BLS</span></a></li>
                            <li><a href="#"><span class="img"><img src="images/cadi-cts.png" alt=""></span><span class="txt">CTS</span></a></li>
                            <li><a href="#"><span class="img"><img src="images/cadi-escalade.png" alt=""></span><span class="txt">Escalade</span></a></li>
                            <li><a href="#"><span class="img"><img src="images/cadi-srx.png" alt=""></span><span class="txt">SRX</span></a></li>
                            <li><a href="#"><span class="img"><img src="images/cadi-sts.png" alt=""></span><span class="txt">STS</span></a></li>
                        </ul>
                    </div>
                </div>
                <div class="brand-wrap">
                    <div class="brand flex-line-container"><img src="images/gmc-m.png" alt=""></div>
                    <div class="dropdown">
                        <ul>
                            <li><a href="#"><span class="img"><img src="images/cadi-ats.png" alt=""></span><span class="txt">ATS</span></a></li>
                            <li><a href="#"><span class="img"><img src="images/cadi-bls.png" alt=""></span><span class="txt">BLS</span></a></li>
                            <li><a href="#"><span class="img"><img src="images/cadi-cts.png" alt=""></span><span class="txt">CTS</span></a></li>
                            <li><a href="#"><span class="img"><img src="images/cadi-escalade.png" alt=""></span><span class="txt">Escalade</span></a></li>
                            <li><a href="#"><span class="img"><img src="images/cadi-srx.png" alt=""></span><span class="txt">SRX</span></a></li>
                            <li><a href="#"><span class="img"><img src="images/cadi-sts.png" alt=""></span><span class="txt">STS</span></a></li>
                        </ul>
                    </div>
                </div>
                <div class="brand-wrap">
                    <div class="brand flex-line-container"><img src="images/chevi-m.png" alt=""></div>
                    <div class="dropdown">
                        <ul>
                            <li><a href="#"><span class="img"><img src="images/cadi-ats.png" alt=""></span><span class="txt">ATS</span></a></li>
                            <li><a href="#"><span class="img"><img src="images/cadi-bls.png" alt=""></span><span class="txt">BLS</span></a></li>
                            <li><a href="#"><span class="img"><img src="images/cadi-cts.png" alt=""></span><span class="txt">CTS</span></a></li>
                            <li><a href="#"><span class="img"><img src="images/cadi-escalade.png" alt=""></span><span class="txt">Escalade</span></a></li>
                            <li><a href="#"><span class="img"><img src="images/cadi-srx.png" alt=""></span><span class="txt">SRX</span></a></li>
                            <li><a href="#"><span class="img"><img src="images/cadi-sts.png" alt=""></span><span class="txt">STS</span></a></li>
                        </ul>
                    </div>
                </div>
                <div class="brand-wrap">
                    <div class="brand flex-line-container"><img src="images/hummer-m.png" alt=""></div>
                    <div class="dropdown">
                        <ul>
                            <li><a href="#"><span class="img"><img src="images/cadi-ats.png" alt=""></span><span class="txt">ATS</span></a></li>
                            <li><a href="#"><span class="img"><img src="images/cadi-bls.png" alt=""></span><span class="txt">BLS</span></a></li>
                            <li><a href="#"><span class="img"><img src="images/cadi-cts.png" alt=""></span><span class="txt">CTS</span></a></li>
                            <li><a href="#"><span class="img"><img src="images/cadi-escalade.png" alt=""></span><span class="txt">Escalade</span></a></li>
                            <li><a href="#"><span class="img"><img src="images/cadi-srx.png" alt=""></span><span class="txt">SRX</span></a></li>
                            <li><a href="#"><span class="img"><img src="images/cadi-sts.png" alt=""></span><span class="txt">STS</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>