<section class="about">
	<div class="mbox content">
		<h3>О нас</h3>
		<div class="ramka">
	        <div class="rrr"></div>
	    </div>
		<div class="about-content">
			<ul>
				<li>У нас сеть специализированных техцентров по обслуживанию и ремонту автомобилей Chevrolet и Opel</li>
				<li>У нас опыт работы с автомобилями концерна GM c 1996 года</li>
				<li>У нас квалифицированный персонал</li>
				<li>У нас есть запасные части и расходные материалы для ремонта и обслуживания Chevrolet и Opel</li>
				<li>Мы предоставляем гарантию на работы и запасные части</li>
				<li>У нас честный сервис, Вы можете присутствовать на всех этапах ремонта</li>
				<li>Работаем без выходных</li>
				<li>Эвакуатор круглосуточно по телефону: <span>8 (495) 782-83-25</span></li>
				<li>Запись на обслуживание и консультации специалистов по телефону: <span>8 (495) 989-87-81</span></li>
			</ul>
			<div class="car"><img src="images/insig.png" alt=""></div>
		</div>
	</div>
</section>