<section class="articles oil-article">
	<div class="ramka">
        <div class="rrr"></div>
    </div>
	<div class="article-part first">
		<div class="mbox custom-wrap">
			<h3>Замена масла в двигателе ECOTEC CHEVROLET и OPEL</h3>
			<div class="desc">
				<div class="text">
					<div class="case">На автомобилях:</div>
					<ul class="non-list">
						<li>CHEVROLET AVEO (T250/T255) объемом 1,4 литра (двигатель F14D4, LDT) 101 л.с.</li>
						<li>CHEVROLET AVEO (T300) объемом  1,6 литра (F16D4) 115 л.с.</li>
						<li>CHEVROLET CRUZE (J300/J305/J308) </li>
					</ul>
					<ul>
						<li>объемом  1,4 литра (LUJ) 140 л.с. </li>
						<li>объемом  1,6 литра (F16D3, LXV, LXT) 109 л.с.</li>
						<li>объемом  1,6 литра (F16D4, LDE) 113/124 л.с.</li>
						<li>объемом  1,8 литра (F18D4, 2H0) 141 л.с.</li>
					</ul>
					<ul class="non-list">
						<li>CHEVROLET ORLANDO (J309) объемом  1,8 литра (F18D4, 2H0) 141 л.с.</li>
						<li>OPEL ASTRA-H  объемом 1,6/1,8 литра (Z16XER, Z18XER) 116/140 л.с.</li>
						<li>OPEL ASTRA-J / GTC объемом 1,6/1,8 литра (A16XER, A18XER) 115/140 л.с.</li>
						<li>OPEL ASTRA-J / GTC объемом 1,4/1,6 литра ТУРБО (A14NET, A16XHT, A16LET) 140/170/180 л.с.</li>
						<li>OPEL MERIVA-B  объемом 1,4 литра (A14XER, A14NEL, A14NET) 100/120/140 л.с.</li>
						<li>OPEL MOKKA объемом 1,4/1,6/1,8 литра (A14NET, A16XER, A18XER) 140/115/140 л.с.</li>
						<li>OPEL ZAFIRA-B объемом 1,6/1,8 литра (Z16XER, Z18XER, A16XER, A18XER) 116/140 л.с.</li>
						<li>OPEL ZAFIRA-C TOURER объемом 1,4/1,8 литра (A14NEL, A14NET, A18XEL, A18XER) 120/140 л.с.</li>
					</ul>
				</div>
				<div class="pic">
					<img src="images/set7.png" alt="">
					<div class="name">Тормозные колодки передние CHEVROLET CRUZE J60 J67</div>
				</div>
			</div>
		</div>
	</div>
	<div class="article-part sec">
		<div class="mbox custom-wrap">
			<div class="desc">
				<div class="text">
					<p>Масло в двигателе меняется при прохождении очередного технического обслуживания,по рекомендациям GENERAL MOTORS, через каждые 15000 км или не реже 1 раза в год. Для автомобилей оснащенных функцией «монитора жизни моторного масла» замена должна производиться по загоранию сигнализатора или через каждые 15000 км, не реже 1 раза в год. </p>
					<p>Для сохранения ресурса двигателя, и продления срока службы автомобиля, при замене используется только сертифицированное, оригинальное масло GENERAL MOTORS, имеющее допуск DEXOS-2 , класса вязкости 5W30, а так-же оригинальный масляный фильтр GENERAL MOTORS или сертифицированный фильтр AC-DELCO  </p>
				</div>
				<div class="pic">
					<img src="images/set8.png" alt="">
					<div class="name">Диск тормозной передний CHEVROLET CRUZE и OPEL ASTRA-J POC J67</div>
				</div>
			</div>
		</div>
	</div>
	<div class="article-part">
		<div class="mbox custom-wrap">
			<div class="desc">
				<div class="text">
					<div class="case">Работы проводимые при замене масла в двигателе:</div>
					<ul>
						<li>замена масла, </li>
						<li>замена масляного фильтра, </li>
						<li>замена уплотнения сливной пробки поддона картера,</li>
						<li>сброс меж сервисного интервала.</li>
					</ul>
					<div class="diffrent">Снятие и установка металлической защиты двигателя, если имеется, не входит в регулярные работы по замене масла и оплачивается отдельно.</div>
					<div class="last">В нашем техцентре на Автозаводской, Вы можете заменить масло в двигателе по <a href="#">АКЦИИ.</a></div>
					<div class="last">В подарок по акции, Вы получаете, диагностику ходовой части и тормозной системы.</div>
				</div>
				<div class="pic">
					<img src="images/set6.png" alt="">
					<div class="name">Диск тормозной передний CHEVROLET CRUZE и OPEL ASTRA-J POC J67</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="articles">
	<div class="ramka">
        <div class="rrr"></div>
    </div>
	<div class="article-part first">
		<div class="mbox custom-wrap">
			<h3>Замена тормозных колодок и обслуживание тормозной системы</h3>
			<div class="desc">
				<div class="text">
					<div class="case">При значительном износе тормозных колодок : </div>
					<ul>
						<li>увеличивается ход педали тормоза, </li>
						<li>увеличивается скорость реакции автомобиля на действия водителя, снижается эффективность торможе</li>
						<li>увеличивается тормозной путь, что ведет к снижению уровня активной безопасности.</li>
					</ul>
					<p>При этом, водитель эксплуатирующий автомобиль ежедневно, этого не замечает, т.к. у водителя возникает эффект «привыкания» к тормозной системе. Необходимость замены тормозных колодок сможет определить автослесарь при диагностике тормозной системы автомобиля, рекомендацией к замене может послужить минимальная допустимая толщина фрикционного слоя тормозных колодок, которая составляет около 2 мм или шумы (скрип) колодок из-за их полного износа, когда фрикционный слой полностью отсутствует и металлическая основа колодки трет об тормозной диск.</p>
				</div>
				<div class="pic">
					<img src="images/set1.png" alt="">
					<div class="name">Тормозные колодки передние CHEVROLET CRUZE J60 J67</div>
				</div>
			</div>
		</div>
	</div>
	<div class="article-part sec">
		<div class="mbox custom-wrap">
			<div class="desc">
				<div class="text">
					<p>Так-же проверяются тормозные диски, степень их износа определяется путем замера толщины диска, минимальная толщина переднего тормозного диска на CHEVROLET CRUZE и OPEL ASTRA-J<br> с тормозной системой 15", код poc J67, диаметр 276 мм, должна составлять минимум 23 мм. </p>
				</div>
				<div class="pic">
					<img src="images/set2.png" alt="">
					<div class="name">Диск тормозной передний CHEVROLET CRUZE и OPEL ASTRA-J POC J67</div>
				</div>
			</div>
		</div>
	</div>
	<div class="article-part">
		<div class="mbox custom-wrap">
			<div class="desc">
				<div class="text">
					<div class="case">Работы по замене тормозных колодок включают в себя : </div>
					<ul>
						<li>демонтаж колес,</li>
						<li>демонтаж тормозных колодок,</li>
						<li>чистка тормозных механизмов, суппортов и их скоб, механическим способом,</li>
						<li>чистка специальным средством, смывкой, </li>
						<li>замена фиксирующих пружин колодок, во избежание «дребезжания» в тормозной системе,</li>
						<li>смазка направляющих скоб «плавающих» суппортов и мест посадки колодок в скобу специальной смазк</li>
						<li>сборка в обратной последовательности.</li>
					</ul>
					<p>В процессе замены, осматриваются на предмет механических повреждений, трещин и разрывов: резиновые пыльники тормозных поршней и пыльники направляющих скоб на «плавающих» суппортах, при обнаружении повреждений, рекомендуется их заменить, во избежание закисания суппортов от коррозии.</p>
				</div>
				<div class="photo">
					<div class="image"><img src="images/brush.png" alt=""></div>
					<div class="name">Железная щетка</div>
				</div>
				<div class="photo">
					<div class="image"><img src="images/ban.png" alt=""></div>
					<div class="name">Очиститель тормозов TRW</div>
				</div>
				<div class="photo">
					<div class="image"><img src="images/kolodky.png" alt=""></div>
					<div class="name">Колодки дискового тормоза TRW PFK650</div>
				</div>
				<div class="photo">
					<div class="image"><img src="images/pfg.png" alt=""></div>
					<div class="name">Cмазка PFG-110</div>
				</div>
				<div class="photo">
					<div class="image"><img src="images/support.png" alt=""></div>
					<div class="name">Плавающий суппорт</div>
				</div>
				<div class="photo">
					<div class="image"><img src="images/napsup.png" alt=""></div>
					<div class="name">Направляющие тормозных суппортов CHEVROLET CRUZE</div>
				</div>
				<div class="photo">
					<div class="image"><img src="images/calnik.png" alt=""></div>
					<div class="name">Пыльник и сальник поршня суппорта переднего 13319562</div>
				</div>
			</div>
		</div>
	</div>
	<div class="article-part sec">
		<div class="mbox custom-wrap">
			<div class="desc">
				<div class="text">
					<p>Так-же не маловажным моментом в обслуживании или диагностике тормозной системы, является проверка состояния тормозной жидкости. Тормозная жидкость является гигроскопичным веществом, т.е. со временем она «впитывает» влагу, насыщается влагой , что вызывает коррозию поршней суппортов, и сами корпуса суппортов покрываются ржавчиной изнутри, в последствии это приводит к закисанию поршней в суппортах и течи тормозной жидкости через уплотнительное кольцо поршня суппорта, особенно интенсивно это происходит в задних суппортах, т.к. они работают реже чем передние и очень часто конструктивно используются как механизм стояночного тормоза. </p>
					<p>По карте ТО и рекомендациям GENERAL MOTORS, интервал замены тормозной жидкости 30000 км или 1 раз в 2 года. Но при замене тормозных колодок рекомендуется замерить уровень влаги в бачке главного тормозного цилиндра (ГТЦ), специальным прибором и при необходимости её полностью заменить с прокачкой тормозной системы.</p>
				</div>
				<div class="pic">
					<img src="images/set3.png" alt="">
					<div class="name">Замер уровеня влаги в бачке главного тормозного цилиндра (ГТЦ)</div>
				</div>
				<div class="pic">
					<img src="images/set4.png" alt="">
					<div class="name">Жидкость тормозная trw</div>
				</div>
			</div>
		</div>
	</div>
	<div class="article-part">
		<div class="mbox custom-wrap">
			<div class="desc">
				<div class="text">
					<p>В дополнение к этому, проверяется состояние резиновых тормозных  шлангов на предмет наличия трещин на них. Все тормозные шланги двух-слойные с капроновым кордом внутри. Со временем резина теряет свое свойство эластичности, и под воздействием факторов внешней среды, реагенты и остатки нефтепродуктов на дороге, которые попадают на них, постоянное механическое воздействие, они постоянно изгибаются при работе подвески,  вызывают повреждение наружной оболочки шланга и разрыв внутреннего корда.</p>
					<p>При наличии трещин, тормозной шланг может лопнуть от увеличения давления в  тормозной системе при торможении, что может вызвать отказ тормозной системы и создании аварийной ситуации на дороге.  Шланги проще и дешевле  заменить если меняется тормозная жидкость, т.к. после её откачки из тормозной системы, её нельзя повторно использовать.</p>
				</div>
				<div class="pic">
					<img src="images/set5.png" alt="">
					<div class="name">Шланг тормозной</div>
				</div>
			</div>
		</div>
	</div>
</section>