<div class="autosalon-wrap">
    <div class="mbox">
        <div class="content">
            <div class="ramka">
                <div class="rrr"></div>
            </div>
            <div class="text-wrap">
                <div class="ttl">
                    <h3>Автосалон</h3>
                </div>
                <div class="sub">
                    <p>Мы сеть специализированных техцентров по ремонту и продаже запчастей для автомобилей</p>
                    <p>Шевролет и Опель.</p>
                </div>
            </div>
            <div class="base">
                <img src="/images/warning.png" alt=""><span>У нас большая клиентская база</span>
            </div>
            <ul>
                <li><a href="#">Мы оперативно поможем продать Ваш автомобиль</a></li>
                <li><a href="#">Грамотно подберем Вам подходящий автомобиль</a></li>
                <li><a href="#">Техническое и юридическое сопровождение сделок</a></li>
                <li><a href="#">Своя сеть автосалонов в Москве и Санк-Петербурге</a></li>
            </ul>

        </div>
    </div>
</div>