<div class="choise-wrap" id="anchor-mod">
    <div class="mbox">
        <div class="choise">
            <div class="titles">
                <h2>Выберите модель</h2>
            </div>
            <div class="content">
                <div class="list">
                    <div class="ttl">
                        <div class="bound">
                            <img src="images/chll.png" alt="">
                            <span>Chevrolet</span>
                        </div>
                    </div>
                    <ul>
                        <li><a href="#marka-auto-ch"><span class="img"><img src="images/chc01.png" alt=""></span><span>CRUZE</span></a></li>
                        <li><a href="#marka-auto-ch"><span class="img"><img src="images/chc02.png" alt=""></span><span>AVEO (T250/255)</span></a></li>
                        <li><a href="#marka-auto-ch"><span class="img"><img src="images/chc03.png" alt=""></span><span>AVEO (T300)</span></a></li>
                        <li><a href="#marka-auto-ch"><span class="img"><img src="images/chc04.png" alt=""></span><span>COBALT</span></a></li>
                        <li><a href="#marka-auto-ch"><span class="img"><img src="images/chc05.png" alt=""></span><span>LACETTI</span></a></li>
                        <li><a href="#marka-auto-ch"><span class="img"><img src="images/chc06.png" alt=""></span><span>ORLANDO</span></a></li>
                        <li><a href="#marka-auto-ch"><span class="img"><img src="images/chc07.png" alt=""></span><span>CAPTIVA</span></a></li>
                        <li><a href="#marka-auto-ch"><span class="img"><img src="images/chc08.png" alt=""></span><span>SPARK</span></a></li>
                        <li><a href="#marka-auto-ch"><span class="img"><img src="images/chc09.png" alt=""></span><span>REZZO</span></a></li>
                        <li><a href="#marka-auto-ch"><span class="img"><img src="images/chc11.png" alt=""></span><span>MALIBU</span></a></li>
                        <li><a href="#marka-auto-ch"><span class="img"><img src="images/chc10.png" alt=""></span><span>EPICA</span></a></li>
                        <li><a href="#marka-auto-ch"><span class="img"><img src="images/chc12.png" alt=""></span><span>TRACKER</span></a></li>
                    </ul>
                </div>
                <div class="list">
                    <div class="ttl">
                        <div class="bound">
                            <img src="images/oll.png" alt="">
                            <span>Opel</span>
                        </div>
                    </div>
                    <ul>
                        <li><a href="#marka-auto-op"><span class="img"><img src="images/oc01.png" alt=""></span><span>ASTRA-H</span></a></li>
                        <li><a href="#marka-auto-op"><span class="img"><img src="images/oc02.png" alt=""></span><span>ASTRA-J</span></a></li>
                        <li><a href="#marka-auto-op"><span class="img"><img src="images/oc11.png" alt=""></span><span>ASTRA GTC</span></a></li>
                        <li><a href="#marka-auto-op"><span class="img"><img src="images/oc03.png" alt=""></span><span>CORSA-D</span></a></li>
                        <li><a href="#marka-auto-op"><span class="img"><img src="images/oc04.png" alt=""></span><span>Insignia</span></a></li>
                        <li><a href="#marka-auto-op"><span class="img"><img src="images/oc05.png" alt=""></span><span>MOKKA</span></a></li>
                        <li><a href="#marka-auto-op"><span class="img"><img src="images/oc06.png" alt=""></span><span>ANTARA</span></a></li>
                        <li><a href="#marka-auto-op"><span class="img"><img src="images/oc07.png" alt=""></span><span>MERIVA-B</span></a></li>
                        <li><a href="#marka-auto-op"><span class="img"><img src="images/oc08.png" alt=""></span><span>ZAFIRA-A</span></a></li>
                        <li><a href="#marka-auto-op"><span class="img"><img src="images/oc09.png" alt=""></span><span>ZAFIRA-b</span></a></li>
                        <li><a href="#marka-auto-op"><span class="img"><img src="images/oc10.png" alt=""></span><span>ZAFIRA-c</span></a></li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</div>