<div class="contactses">
    <div class="mbox">
        <div class="contacts-wrap">
            <div class="ttl">
                <h3><span>Наши техцентры</span><div class="imgs"><img src="images/ttlop.png" alt=""><img src="images/ttlch.png" alt=""></div></h3>
            </div>
            <div class="content">
                <div class="column">
                    <div class="titlus">
                        <p>г. Москва</p>
                    </div>
                    <div class="maper mosc"></div>
                    <div class="items">
                        <div class="item">
                            <div class="item-wrap">
                                <div class="item-title">
                                    <b>Северо-восток</b>
                                </div>
                                <div class="item-row">
                                    <b>Адресс:</b>
                                </div>
                                <div class="item-row">
                                    <p>г. Москва, ул. Красная Сосна, дом 14/1</p>
                                </div>
                                <div class="item-row">
                                    <p>
                                        <img src="images/catalog-tech-metro.png" alt="">
                                        ВДНХ
                                    </p>
                                </div>
                                <div class="item-row">
                                    <b>Телефон:</b>
                                </div>
                                <div class="item-row">
                                    <p>8(495) 730-82-71 (многоканальный)</p>
                                </div>
                                <div class="item-row">
                                    <b>Мы работаем ежедневно </b>
                                </div>
                                <div class="item-row">
                                    <p>с 9:00 - 20:00</p>
                                </div>
                                <div class="item-row">
                                    <a href="#"><img src="images/icphoto.png" alt=""></a>
                                    <a href="#"><img src="images/icyt.png" alt=""></a>
                                </div>
                            </div>


                        </div>
                        <div class="item">
                            <div class="item-wrap">
                                <div class="item-title">
                                    <b>Запад</b>
                                </div>
                                <div class="item-row">
                                    <b>Адресс:</b>
                                </div>
                                <div class="item-row">
                                    <p>г. Москва, ул. Кульнева, дом 1</p>
                                </div>
                                <div class="item-row">
                                    <p>
                                        <img src="images/catalog-tech-metro.png" alt="">
                                        м. Кутузовкая
                                    </p>
                                </div>
                                <div class="item-row">
                                    <b>Телефон:</b>
                                </div>
                                <div class="item-row">
                                    <p>8(495) 989-87-86 (многоканальный)</p>
                                </div>
                                <div class="item-row">
                                    <b>Мы работаем ежедневно </b>
                                </div>
                                <div class="item-row">
                                    <p>Пн-Сб: 9:00 - 22:00 ;	Вс: 9:00 - 20:00</p>
                                </div>
                                <div class="item-row">
                                    <a href="#"><img src="images/icphoto.png" alt=""></a>
                                    <a href="#"><img src="images/icyt.png" alt=""></a>
                                </div>
                            </div>

                        </div>
                        <div class="item">
                            <div class="item-wrap">
                                <div class="item-title">
                                    <b>Даниловский р-н</b>
                                </div>
                                <div class="item-row">
                                    <b>Адресс:</b>
                                </div>
                                <div class="item-row">
                                    <p>г. Москва, ул. Автозаводская, дом 20</p>
                                </div>
                                <div class="item-row">
                                    <p>
                                        <img src="images/catalog-tech-metro.png" alt="">
                                        Автозаводская
                                    </p>
                                </div>
                                <div class="item-row">
                                    <b>Телефон:</b>
                                </div>
                                <div class="item-row">
                                    <p>8(495) 989-87-81 (многоканальный)</p>
                                </div>
                                <div class="item-row">
                                    <b>Мы работаем ежедневно </b>
                                </div>
                                <div class="item-row">
                                    <p>с 9:00 - 20:00</p>
                                </div>
                                <div class="item-row">
                                    <a href="#"><img src="images/icphoto.png" alt=""></a>
                                    <a href="#"><img src="images/icyt.png" alt=""></a>
                                </div>
                            </div>

                        </div>
                        <div class="item">
                            <div class="item-wrap">
                                <div class="item-title">
                                    <b>Юго-восток</b>
                                </div>
                                <div class="item-row">
                                    <b>Адресс:</b>
                                </div>
                                <div class="item-row">
                                    <p>Новорязанское шоссе 23/1 (6 км от МКАД)</p>
                                </div>
                                <div class="item-row">
                                    <p>
                                        <img src="images/catalog-tech-metro.png" alt="">
                                        Котельники
                                    </p>
                                </div>
                                <div class="item-row">
                                    <b>Телефон:</b>
                                </div>
                                <div class="item-row">
                                    <p>8(495) 730-82-72 (многоканальный)</p>
                                </div>
                                <div class="item-row">
                                    <b>Мы работаем ежедневно </b>
                                </div>
                                <div class="item-row">
                                    <p>с 9:00 - 20:00</p>
                                </div>
                                <div class="item-row">
                                    <a href="#"><img src="images/icphoto.png" alt=""></a>
                                    <a href="#"><img src="images/icyt.png" alt=""></a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="titlus">
                        <p>г. Санкт-Петербург</p>
                    </div>
                    <div class="maper pit"></div>
                    <div class="items">
                        <div class="item">
                            <div class="item-wrap">
                                <div class="item-title">
                                    <b>Красногвардейский р-н</b>
                                </div>
                                <div class="item-row">
                                    <b>Адресс:</b>
                                </div>
                                <div class="item-row">
                                    <p>г. Санкт-Петербург, шоссе Революции, дом 86</p>
                                </div>
                                <div class="item-row">
                                    <b>Телефон:</b>
                                </div>
                                <div class="item-row">
                                    <p>8(812) 643-43-44 (многоканальный)</p>
                                </div>
                                <div class="item-row">
                                    <b>Мы работаем ежедневно </b>
                                </div>
                                <div class="item-row">
                                    <p>с 9:00 - 20:00</p>
                                </div>
                                <div class="item-row">
                                    <a href="#"><img src="images/icphoto.png" alt=""></a>
                                    <a href="#"><img src="images/icyt.png" alt=""></a>
                                </div>
                            </div>

                        </div>
                        <div class="item">
                            <div class="item-wrap">
                                <div class="item-title">
                                    <b>Московский р-н</b>
                                </div>
                                <div class="item-row">
                                    <b>Адресс:</b>
                                </div>
                                <div class="item-row">
                                    <p>г. Санкт-Петербург, ул. Иркутская, дом 2</p>
                                </div>
                                <div class="item-row">
                                    <b>Телефон:</b>
                                </div>
                                <div class="item-row">
                                    <p>8(812) 643-42-22 (многоканальный)</p>
                                </div>
                                <div class="item-row">
                                    <b>Мы работаем ежедневно </b>
                                </div>
                                <div class="item-row">
                                    <p>с 9:00 - 20:00</p>
                                </div>
                                <div class="item-row">
                                    <a href="#"><img src="images/icphoto.png" alt=""></a>
                                    <a href="#"><img src="images/icyt.png" alt=""></a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>