<section class="gallery-block">
	<div class="main-wrapper">
		<div class="heading">
			<h2>Наши работы</h2>
			<div class="gradient-coner"></div>
		</div>
		<div class="gallery">
			<div class="photo-wrap">
				<a href="images/galery-image1.jpg" class="gallery-link" rel="same-Gallery"><img src="images/galery-image-min1.jpg"></a>
			</div>
			<div class="photo-wrap">
				<a href="images/galery-image2.jpg" class="gallery-link" rel="same-Gallery"><img src="images/galery-image-min2.jpg"></a>
			</div>
			<div class="photo-wrap">
				<a href="images/galery-image3.jpg" class="gallery-link" rel="same-Gallery"><img src="images/galery-image-min3.jpg"></a>
			</div>
			<div class="photo-wrap">
				<a href="images/galery-image4.jpg" class="gallery-link" rel="same-Gallery"><img src="images/galery-image-min4.jpg"></a>
			</div>
			<div class="photo-wrap">
				<a href="images/galery-image5.jpg" class="gallery-link" rel="same-Gallery"><img src="images/galery-image-min5.jpg"></a>
			</div>
			<div class="photo-wrap">
				<a href="images/galery-image6.jpg" class="gallery-link" rel="same-Gallery"><img src="images/galery-image-min6.jpg"></a>
			</div>
			<div class="photo-wrap">
				<a href="images/galery-image7.jpg" class="gallery-link" rel="same-Gallery"><img src="images/galery-image-min7.jpg"></a>
			</div>
			<div class="photo-wrap">
				<a href="images/galery-image8.jpg" class="gallery-link" rel="same-Gallery"><img src="images/galery-image-min8.jpg"></a>
			</div>
			<div class="photo-wrap">
				<a href="images/galery-image9.jpg" class="gallery-link" rel="same-Gallery"><img src="images/galery-image-min9.jpg"></a>
			</div>
			<div class="photo-wrap">
				<a href="images/galery-image10.jpg" class="gallery-link" rel="same-Gallery"><img src="images/galery-image-min10.jpg"></a>
			</div>
			<div class="photo-wrap">
				<a href="images/galery-image11.jpg" class="gallery-link" rel="same-Gallery"><img src="images/galery-image-min11.jpg"></a>
			</div>
			<div class="photo-wrap">
				<a href="images/galery-image12.jpg" class="gallery-link" rel="same-Gallery"><img src="images/galery-image-min12.jpg"></a>
			</div>
			<div class="photo-wrap">
				<a href="images/galery-image13.jpg" class="gallery-link" rel="same-Gallery"><img src="images/galery-image-min13.jpg"></a>
			</div>
			<div class="photo-wrap">
				<a href="images/galery-image14.jpg" class="gallery-link" rel="same-Gallery"><img src="images/galery-image-min14.jpg"></a>
			</div>
			<div class="photo-wrap">
				<a href="images/galery-image15.jpg" class="gallery-link" rel="same-Gallery"><img src="images/galery-image-min15.jpg"></a>
			</div>
			<div class="photo-wrap">
				<a href="images/galery-image16.jpg" class="gallery-link" rel="same-Gallery"><img src="images/galery-image-min16.jpg"></a>
			</div>
			<div class="photo-wrap">
				<a href="images/galery-image17.jpg" class="gallery-link" rel="same-Gallery"><img src="images/galery-image-min17.jpg"></a>
			</div>
			<div class="photo-wrap">
				<a href="images/galery-image18.jpg" class="gallery-link" rel="same-Gallery"><img src="images/galery-image-min18.jpg"></a>
			</div>
			<div class="photo-wrap">
				<a href="images/galery-image19.jpg" class="gallery-link" rel="same-Gallery"><img src="images/galery-image-min19.jpg"></a>
			</div>
			<div class="photo-wrap">
				<a href="images/galery-image20.jpg" class="gallery-link" rel="same-Gallery"><img src="images/galery-image-min20.jpg"></a>
			</div>
			<div class="photo-wrap">
				<a href="images/galery-image21.jpg" class="gallery-link" rel="same-Gallery"><img src="images/galery-image-min21.jpg"></a>
			</div>
			<div class="photo-wrap">
				<a href="images/galery-image22.jpg" class="gallery-link" rel="same-Gallery"><img src="images/galery-image-min22.jpg"></a>
			</div>
			<div class="photo-wrap">
				<a href="images/galery-image23.jpg" class="gallery-link" rel="same-Gallery"><img src="images/galery-image-min23.jpg"></a>
			</div>
			<div class="photo-wrap">
				<a href="images/galery-image24.jpg" class="gallery-link" rel="same-Gallery"><img src="images/galery-image-min24.jpg"></a>
			</div>
		</div>
	</div>
</section>