<!-- HEADER -->
<header>
    <div class="desctop">
        <div class="header-top">
            <div class="mbox">
                <div class="flex-line-container">
                    <div class="logo">
                        <a href="/index.html">ШЕВИ плюс</a>
                    </div>
                    <div class="socials-wrap flex-line-container">
                        <a target="_blank" href="https://www.drive2.ru/o/cheviplus-ru" class="blog filled-button">Блог Директора</a>
                        <a target="_blank" href="https://www.facebook.com/cheviplus" class="fb soc"></a>
                        <a target="_blank" href="https://vk.com/chevi_plus" class="vk soc"></a>
                        <a target="_blank" href="https://www.instagram.com/cheviplus/" class="ig soc"></a>
                        <a target="_blank" href="https://www.youtube.com/channel/UCyxhO9pYUA9tR-G7jgz2Vxw" class="yt soc"></a>
                    </div>
                </div>

            </div>
        </div>
        <div class="header-bot">
            <div class="mbox">
                <div class="row flex-line-container">
                    <ul class="nav">
                        <li><a class="active" href="#tabs" data-lock="srv">СЕРВИС</a></li>
                        <li><a href="#tabs" data-lock="zap">Запчасти</a></li>
                        <li><a href="#tabs" data-lock="raz">Разборка</a></li>
                        <li><a href="#anchor-aut">Автосалон</a></li>
                        <li><a href="#anchor-act">Акции</a></li>
                        <li><a href="#anchor-mod">Модельный ряд</a></li>
                        <li><a href="#anchor-tec">Наши тех-центры</a></li>
                        <li><a href="#anchor-abt">О нас</a></li>
                        <li><a href="#anchor-tec">Контакты</a></li>

                    </ul>

                    <a href="tel:84955404999" class="tel-box">
                        <div class="tel">8(495)540-49-99</div>

                    </a>
                </div>
            </div>
            <div class="search-hidden">
                <div class="mbox">
                    <div class="close-this"></div>
                    <div class="input-ui autocomplete">
                        <div class="search-button">
                            <form action="">
                                <input type="text" placeholder="Поиск по названию/номеру запчасти">
                                <button>Поиск</button>
                            </form>
                        </div>
                    </div>
                    <div class="result">
                        <ul>
                            <li>
                                <h5><a href="/search.html">Раздел такой то</a></h5>
                                <div class="flex-line-container"><img src="images/serch-it.png" alt=""><a href="/search.html">Двигатель для Cadillac Ats</a></div>
                                <div class="flex-line-container"><img src="images/serch-it.png" alt=""><a href="/search.html">Двигатель для Cadillac Ats</a></div>
                                <div class="flex-line-container"><img src="images/serch-it.png" alt=""><a href="/search.html">Двигатель для Cadillac Ats</a></div>
                                <div class="flex-line-container"><img src="images/serch-it.png" alt=""><a href="/search.html">Двигатель для Cadillac Ats</a></div>
                            </li>
                            <li>
                                <h5><a href="/search.html">Раздел такой то</a></h5>
                                <div class="flex-line-container"><img src="images/serch-it.png" alt=""><a href="/search.html">Двигатель для Cadillac Ats</a></div>
                                <div class="flex-line-container"><img src="images/serch-it.png" alt=""><a href="/search.html">Двигатель для Cadillac Ats</a></div>
                                <div class="flex-line-container"><img src="images/serch-it.png" alt=""><a href="/search.html">Двигатель для Cadillac Ats</a></div>
                                <div class="flex-line-container"><img src="images/serch-it.png" alt=""><a href="/search.html">Двигатель для Cadillac Ats</a></div>
                            </li>
                            <li>
                                <h5><a href="/search.html">Раздел такой то</a></h5>
                                <div class="flex-line-container"><img src="images/serch-it.png" alt=""><a href="/search.html">Двигатель для Cadillac Ats</a></div>
                                <div class="flex-line-container"><img src="images/serch-it.png" alt=""><a href="/search.html">Двигатель для Cadillac Ats</a></div>
                                <div class="flex-line-container"><img src="images/serch-it.png" alt=""><a href="/search.html">Двигатель для Cadillac Ats</a></div>
                                <div class="flex-line-container"><img src="images/serch-it.png" alt=""><a href="/search.html">Двигатель для Cadillac Ats</a></div>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="mobile">
        <div class="header">
            <div class="row flex-line-container">
                <div class="search"></div>
                <!-- <div class="catlog">каталог</div> -->
                <div class="menu"><span></span><span></span><span></span></div>
            </div>


            <div class="hidden">
                <div class="srch-block">
                    <div class="close-this"></div>
                    <div class="row-input">
                        <input type="text" placeholder="Поиск по названию/номеру запчасти">
                    </div>
                    <div class="result">
                        <p><a href="#">Двигатель GT 500 4.2L</a></p>
                        <p><a href="#">Двигатель GT 500 4.2L</a></p>
                        <p><a href="#">Двигатель GT 500 4.2L</a></p>
                        <p><a href="#">Двигатель GT 500 4.2L</a></p>
                        <p><a href="#">Двигатель GT 500 4.2L</a></p>
                    </div>
                </div>
                <div class="catlog-block">
                    <div class="acord">
                        <ul>
                            <li>
                                <div class="ttl"><a href="#">Двигатель</a><span class="arr"></span></div>
                                <ul class="seclvl">
                                    <li><a href="#">- Абсорбер</a></li>
                                    <li><a href="#">- Абсорбер</a></li>
                                    <li><a href="#">- Абсорбер</a></li>
                                    <li><a href="#">- Абсорбер</a></li>
                                    <li><a href="#">- Абсорбер</a></li>
                                </ul>
                            </li>
                            <li>
                                <div class="ttl"><a href="#">Двигатель</a><span class="arr"></span></div>
                                <ul class="seclvl">
                                    <li><a href="#">- Абсорбер</a></li>
                                    <li><a href="#">- Абсорбер</a></li>
                                    <li><a href="#">- Абсорбер</a></li>
                                    <li><a href="#">- Абсорбер</a></li>
                                    <li><a href="#">- Абсорбер</a></li>
                                </ul>
                            </li>
                            <li>
                                <div class="ttl"><a href="#">Двигатель</a><span class="arr"></span></div>
                                <ul class="seclvl">
                                    <li><a href="#">- Абсорбер</a></li>
                                    <li><a href="#">- Абсорбер</a></li>
                                    <li><a href="#">- Абсорбер</a></li>
                                    <li><a href="#">- Абсорбер</a></li>
                                    <li><a href="#">- Абсорбер</a></li>
                                </ul>
                            </li>
                            <li>
                                <div class="ttl"><a href="#">Двигатель</a><span class="arr"></span></div>
                                <ul class="seclvl">
                                    <li><a href="#">- Абсорбер</a></li>
                                    <li><a href="#">- Абсорбер</a></li>
                                    <li><a href="#">- Абсорбер</a></li>
                                    <li><a href="#">- Абсорбер</a></li>
                                    <li><a href="#">- Абсорбер</a></li>
                                </ul>
                            </li>
                            <li>
                                <div class="ttl"><a href="#">Двигатель</a><span class="arr"></span></div>
                                <ul class="seclvl">
                                    <li><a href="#">- Абсорбер</a></li>
                                    <li><a href="#">- Абсорбер</a></li>
                                    <li><a href="#">- Абсорбер</a></li>
                                    <li><a href="#">- Абсорбер</a></li>
                                    <li><a href="#">- Абсорбер</a></li>
                                </ul>
                            </li>
                            <li>
                                <div class="ttl"><a href="#">Двигатель</a><span class="arr"></span></div>
                                <ul class="seclvl">
                                    <li><a href="#">- Абсорбер</a></li>
                                    <li><a href="#">- Абсорбер</a></li>
                                    <li><a href="#">- Абсорбер</a></li>
                                    <li><a href="#">- Абсорбер</a></li>
                                    <li><a href="#">- Абсорбер</a></li>
                                </ul>
                            </li>
                            <li>
                                <div class="ttl"><a href="#">Двигатель Двигатель Двигатель Двигатель</a><span class="arr"></span></div>
                                <ul class="seclvl">
                                    <li><a href="#">- Абсорбер</a></li>
                                    <li><a href="#">- Абсорбер</a></li>
                                    <li><a href="#">- Абсорбер</a></li>
                                    <li><a href="#">- Абсорбер</a></li>
                                    <li><a href="#">- Абсорбер</a></li>
                                </ul>
                            </li>
                            <li>
                                <div class="ttl"><a href="#">Двигатель</a><span class="arr"></span></div>
                                <ul class="seclvl">
                                    <li><a href="#">- Абсорбер</a></li>
                                    <li><a href="#">- Абсорбер</a></li>
                                    <li><a href="#">- Абсорбер</a></li>
                                    <li><a href="#">- Абсорбер</a></li>
                                    <li><a href="#">- Абсорбер</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="menu-block">
                    <div class="close-this"></div>
                    <div class="title-logo">ШЕВИ ПЛЮС</div>
                    <ul class="nav">
                        <li><a class="active" href="#tabs" data-lock="srv">СЕРВИС</a></li>
                        <li><a href="#tabs" data-lock="zap">Запчасти</a></li>
                        <li><a href="#tabs" data-lock="raz">Разборка</a></li>
                        <li><a href="#anchor-aut">Автосалон</a></li>
                        <li><a href="#anchor-act">Акции</a></li>
                        <li><a href="#anchor-mod">Модельный ряд</a></li>
                        <li><a href="#anchor-tec">Наши тех-центры</a></li>
                        <li><a href="#anchor-abt">О нас</a></li>
                        <li><a href="#anchor-tec">Контакты</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- /HEADER -->

