<div class="oil-wrap" id="anchor-act">
    <div class="mbox">
        <div class="oil">
            <div class="ttl">Замена масла </div>
            <div class="price"><span>2500</span> <b>руб.</b></div>
            <div class="wrks">РАБОТА + МАСЛО 5 ЛИТРОВ GM DEXOS-2  + ФИЛЬТР МАСЛЯНЫЙ GM / AC-DELCO</div>
            <div class="bonus">Диагностика ходовой в подарок</div>
            <div class="zakaz"><a href="#pop-zakaz" class="fancybox-form1">Заказать</a></div>
            <div class="sub"><span>* комплексная диагностика всего за <b>990</b> руб.</span></div>
        </div>
    </div>
</div>