<section class="wrap-procl">
	<h3 class="procl-title">Замена передних тормозных колодок</h3>
	<div class="procl-content">
		<div class="left">
			<p>РАБОТА + КОЛОДКИ ТОРМОЗНЫЕ ПЕРЕДНИЕ</p>
			<ul>
				<li><a href="javascript:void(0)">CHEVROLET AVEO (T300)  (тормозная система код J93,J94)</a></li>
				<li><a href="javascript:void(0)">CHEVROLET CRUZE (тормозная система код J67)</a></li>
				<li><a href="javascript:void(0)">CHEVROLET CRUZE (тормозная система код J60)</a></li>
				<li><a href="javascript:void(0)">CHEVROLET ORLANDO (тормозная система код J60)</a></li>
			</ul>
			<ul>
				<li><a href="javascript:void(0)">OPEL ASTRA-J (тормозная система код J67)</a></li>
				<li><a href="javascript:void(0)">OPEL ASTRA-J (тормозная система код J60)</a></li>
				<li><a href="javascript:void(0)">OPEL MOKKA</a></li>
				<li><a href="javascript:void(0)">OPEL ZAFIRA-C TOURER (тормозная система код J60)</a></li>
			</ul>
			<div class="price">2 000 <span>руб.</span></div>
			<a href="#pop-zakaz" class="order fancybox-form">Заказать</a>
		</div>
		<div class="right">
			<img src="images/car.png" alt="">
			<div class="bonus">Диагностика ходовой в подарок</div>
			<p>*комплексная диагностика всего за <span>990</span> руб.</p>
		</div>
	</div>
</section>