<section class="socials">
	<h4>Мы в социальных сетях</h4>
	<div class="wrap-soc">
		<div class="link">	
			<a target="_blank" href="https://www.drive2.ru/o/cheviplus-ru"><img src="images/drive2.png" alt=""></a>
			<span class="shadow"><img src="images/drive2.png" alt=""></span>
		</div>
		<div class="link">	
			<a target="_blank" href="https://www.facebook.com/cheviplus"><img src="images/fb.png" alt=""></a>
			<span class="shadow"><img src="images/fb.png" alt=""></span>
		</div>
		<div class="link">	
			<a target="_blank" href="https://vk.com/chevi_plus"><img src="images/vk.png" alt=""></a>
			<span class="shadow"><img src="images/vk.png" alt=""></span>
		</div>
		<div class="link">	
			<a target="_blank" href="https://www.instagram.com/cheviplus/"><img src="images/insta.png" alt=""></a>
			<span class="shadow"><img src="images/insta.png" alt=""></span>
		</div>
		<div class="link">	
			<a target="_blank" href="https://www.youtube.com/channel/UCyxhO9pYUA9tR-G7jgz2Vxw"><img src="images/yt.png" alt=""></a>
			<span class="shadow"><img src="images/yt.png" alt=""></span>
		</div>
	</div>
</section>