<section class="speci">
	<div class="main-wrapper">
		<div class="heading">
			<h2>Вас проконсультируют наши специалисты</h2>
		</div>

		<div class="speci-list">
			<div class="speci-items oneHeight1">
				<div class="item-name">
					<h3>Сервис</h3>
				</div>
				<div class="speci-item ">
					<div class="image-wrap">
						<img src="images/speci1.jpg">
					</div>
					<div class="speci-name ">
						Санталов Сергей
					</div>
					<div class="speci-position">
						директор ШЕВИ ПЛЮС
					</div>
					<div class="city">
						Москва
					</div>
					<div class="tel-number">
						тел. 8 (916) 747-2929
					</div>
					<div class="button-wrap">
						<button>Связаться</button>
					</div>
				</div>

				<div class="speci-item ">
					<div class="image-wrap">
						<img src="images/speci2.jpg">
					</div>
					<div class="speci-name">
						Блинов Денис
					</div>
					<div class="speci-position">
						директор ШЕВИ ПЛЮС
					</div>
					<div class="city">
						Санкт-Петербург
					</div>
					<div class="tel-number">
						тел. 8 (981) 773-4344
					</div>
					<div class="button-wrap">
						<button>Связаться</button>
					</div>
				</div>
			</div>

			<div class="speci-items oneHeight1">
				<div class="item-name">
					<h3>Запчасти</h3>
				</div>
				<div class="speci-item ">
					<div class="image-wrap">
						<img src="images/speci3.jpg">
					</div>
					<div class="speci-name">
						Трофимов Михаил
					</div>
					<div class="speci-position">
						Старший менеджер 
						отдела запасных частей
					</div>
					<div class="city">
						Москва
					</div>
					<div class="tel-number">
						тел. 8 (916) 696-3131
					</div>
					<div class="button-wrap">
						<button>Связаться</button>
					</div>
				</div>

				<div class="speci-item ">
					<div class="image-wrap">
						<img src="images/speci4.jpg">
					</div>
					<div class="speci-name">
						Малинин Кирилл
					</div>
					<div class="speci-position">
						Старший менеджер 
						отдела запасных частей
					</div>
					<div class="city">
						Санкт-Петербург
					</div>
					<div class="tel-number">
						тел. 8 (921) 930-4344
					</div>
					<div class="button-wrap">
						<button>Связаться</button>
					</div>
				</div>
			</div>

			<div class="speci-items oneHeight1">
				<div class="item-name">
					<h3>Тюнинг</h3>
				</div>
				<div class="speci-item ">
					<div class="image-wrap">
						<img src="images/speci5.jpg">
					</div>
					<div class="speci-name">
						Толчиницын Михаил
					</div>
					<div class="speci-position">
						Специалист отдела 
						доп оборудования и тюнинга 
					</div>
					<div class="city">
						Москва
					</div>
					<div class="tel-number">
						тел. 8 (916) 282-3939
					</div>
					<div class="button-wrap">
						<button>Связаться</button>
					</div>
				</div>

				<div class="speci-item ">
					<div class="image-wrap">
						<img src="images/speci6.jpg">
					</div>
					<div class="speci-name">
						Кузнецов Станислав
					</div>
					<div class="speci-position">
						Специалист отдела 
						доп оборудования и тюнинга 
					</div>
					<div class="city">
						Санкт-Петербург
					</div>
					<div class="tel-number">
						тел. 8 (921) 794-4344
					</div>
					<div class="button-wrap">
						<button>Связаться</button>
					</div>
				</div>
			</div>

		</div>
	</div>
</section>