
<div class="services-tab">
    <div class="services-wrap">
        <div class="service-item">
            <div class="image-wrap">
                <a href="#services-popup" class="servicePopupLink">
                    <img src="images/service-image1.png">
                    <img src="images/service-image1h.png">
                    <p>Регулярное ТО</p>
                </a>
            </div>
        </div>
        <div class="service-item">
            <div class="image-wrap">
                <a href="#services-popup" class="servicePopupLink">
                    <img src="images/service-image2.png">
                    <img src="images/service-image2h.png">
                    <p>Комплексная диагностика</p>
                </a>
            </div>
        </div>
        <div class="service-item">
            <div class="image-wrap">
                <a href="#services-popup" class="servicePopupLink">
                    <img src="images/service-image3.png">
                    <img src="images/service-image3h.png">
                    <p>Компютерная диагностика</p>
                </a>
            </div>
        </div>
        <div class="service-item">
            <div class="image-wrap">
                <a href="#services-popup" class="servicePopupLink">
                    <img src="images/service-image4.png">
                    <img src="images/service-image4h.png">
                    <p>Ремонт тормозной системы</p>
                </a>
            </div>
        </div>
        <div class="service-item">
            <div class="image-wrap">
                <a href="#services-popup" class="servicePopupLink">
                    <img src="images/service-image5.png">
                    <img src="images/service-image5h.png">
                    <p>Ремонт ходовой части</p>
                </a>
            </div>
        </div>
        <div class="service-item">
            <div class="image-wrap">
                <a href="#services-popup" class="servicePopupLink">
                    <img src="images/service-image6.png">
                    <img src="images/service-image6h.png">
                    <p>Ремонт рулевого управления</p>
                </a>
            </div>
        </div>
        <div class="service-item">
            <div class="image-wrap">
                <a href="#services-popup" class="servicePopupLink">
                    <img src="images/service-image7.png">
                    <img src="images/service-image7h.png">
                    <p>Ремонт двигателя</p>
                </a>
            </div>
        </div>
        <div class="service-item">
            <div class="image-wrap">
                <a href="#services-popup" class="servicePopupLink">
                    <img src="images/service-image8.png">
                    <img src="images/service-image8h.png">
                    <p>Ремонт АКПП и МКПП</p>
                </a>
            </div>
        </div>
        <div class="service-item">
            <div class="image-wrap">
                <a href="#services-popup" class="servicePopupLink">
                    <img src="images/service-image9.png">
                    <img src="images/service-image9h.png">
                    <p>Замена сцепления</p>
                </a>
            </div>
        </div>
        <div class="service-item">
            <div class="image-wrap">
                <a href="#services-popup" class="servicePopupLink">
                    <img src="images/service-image10.png">
                    <img src="images/service-image10h.png">
                    <p>Обслуживание и ремонт кондиционеров</p>
                </a>
            </div>
        </div>

        <div class="service-item">
            <div class="image-wrap">
                <a href="#services-popup" class="servicePopupLink">
                    <img src="images/service-image11.png">
                    <img src="images/service-image11h.png">
                    <p>Ремонт системы охлаждения</p>
                </a>
            </div>
        </div>
        <div class="service-item">
            <div class="image-wrap">
                <a href="#services-popup" class="servicePopupLink">
                    <img src="images/service-image12.png">
                    <img src="images/service-image12h.png">
                    <p>Ремонт выхлопной системы</p>
                </a>
            </div>
        </div>
        <div class="service-item">
            <div class="image-wrap">
                <a href="#services-popup" class="servicePopupLink">
                    <img src="images/service-image13.png">
                    <img src="images/service-image13h.png">
                    <p>Ремонт топливной системы</p>
                </a>
            </div>
        </div>
        <div class="service-item">
            <div class="image-wrap">
                <a href="#services-popup" class="servicePopupLink">
                    <img src="images/service-image14.png">
                    <img src="images/service-image14h.png">
                    <p>Ремонт электрооборудования</p>
                </a>
            </div>
        </div>
        <div class="service-item">
            <div class="image-wrap">
                <a href="#services-popup" class="servicePopupLink">
                    <img src="images/service-image15.png">
                    <img src="images/service-image15h.png">
                    <p>Работы по шумоизоляции автомобиля</p>
                </a>
            </div>
        </div>
        <div class="service-item">
            <div class="image-wrap">
                <a href="#services-popup" class="servicePopupLink">
                    <img src="images/service-image16.png">
                    <img src="images/service-image16h.png">
                    <p>Установка дополнительного оборудования</p>
                </a>
            </div>
        </div>
        <div class="service-item">
            <div class="image-wrap">
                <a href="#services-popup" class="servicePopupLink">
                    <img src="images/service-image17.png">
                    <img src="images/service-image17h.png">
                    <p>Компютерный сход-развал</p>
                </a>
            </div>
        </div>
        <div class="service-item">
            <div class="image-wrap">
                <a href="#services-popup" class="servicePopupLink">
                    <img src="images/service-image18.png">
                    <img src="images/service-image18h.png">
                    <p>Шиномонтаж и балансировка</p>
                </a>

            </div>
        </div>
    </div>
</div>