<div class="tab-wrap one">
    <div class="mbox">
        <div class="content-taba">

            <div class="ramka">
                <div class="rrr"></div>
            </div>
            <div class="title">
                <h3><p>Купить запчасти</p><p><a href="tel:8 800 770 777 3">8 800 770 777 3</a></p> </h3>
            </div>
            <form action="lendos.php">
                <div class="wrapper-for-form">
                    <div class="column-f">
                        <div class="row">
                            <div class="row-title">Заполните поля для выбора запчасти</div>
                        </div>
                        <div class="row flex-line-container">
                            <div class="item">
                                <select name="brand" id="brand" required="required">
                                    <option value="">Выберите марку</option>
                                    <option value="01">kjdhsbv</option>
                                    <option value="01">kjdhsbv</option>
                                    <option value="01">kjdhsbv</option>
                                    <option value="01">kjdhsbv</option>
                                    <option value="01">kjdhsbv</option>
                                    <option value="01">kjdhsbv</option>
                                    <option value="01">kjdhsbv</option>
                                </select>
                            </div>
                            <div class="item">
                                <select name="model" id="model" required="required">
                                    <option value="">Модель</option>
                                    <option value="01">kjdhsbv</option>
                                    <option value="01">kjdhsbv</option>
                                    <option value="01">kjdhsbv</option>
                                    <option value="01">kjdhsbv</option>
                                    <option value="01">kjdhsbv</option>
                                    <option value="01">kjdhsbv</option>
                                    <option value="01">kjdhsbv</option>
                                </select>
                            </div>
                            <div class="item">
                                <select name="year" id="year" required="required">
                                    <option value="">Год</option>
                                    <option value="01">kjdhsbv</option>
                                    <option value="01">kjdhsbv</option>
                                    <option value="01">kjdhsbv</option>
                                    <option value="01">kjdhsbv</option>
                                    <option value="01">kjdhsbv</option>
                                    <option value="01">kjdhsbv</option>
                                    <option value="01">kjdhsbv</option>
                                </select>
                            </div>

                        </div>
                        <div class="row">
                            <div class="input"><input type="text" name="zap-name" required="required" placeholder="Название детали"></div>
                        </div>
                    </div>
                    <div class="column-r">
                        <div class="row">
                            <div class="row-title">Ваши контакты</div>
                        </div>
                        <div class="row">
                            <div class="input"><input type="text" name="contact_name" required="required" placeholder="Имя"></div>
                        </div>
                        <div class="row">
                            <div class="input"><input type="text" name="contact_tel" required="required" placeholder="Телефон"></div>
                        </div>
                        <div class="row">
                            <button class="button" type="submit"><b>Купить</b></button>
                        </div>
                    </div>
                </div>


            </form>
        </div>
    </div>
</div>