<div class="tab-wrap one">
    <div class="mbox">
        <div class="content-taba">

            <div class="ramka">
                <div class="rrr"></div>
            </div>
            <div class="title">
                <h3><p>Купить запчасти</p><p>8 800 770 777 3</p> </h3>
            </div>
            <form action="">
                <div class="wrapper-for-form">
                    <div class="column-f">
                        <div class="row">
                            <div class="row-title">Ваши контакты</div>
                        </div>
                        <div class="row flex-line-container">
                            <div class="item">
                                <select name="brand" id="brand">
                                    <option>Выберите марку</option>
                                    <option value="01">kjdhsbv</option>
                                    <option value="01">kjdhsbv</option>
                                    <option value="01">kjdhsbv</option>
                                    <option value="01">kjdhsbv</option>
                                    <option value="01">kjdhsbv</option>
                                    <option value="01">kjdhsbv</option>
                                    <option value="01">kjdhsbv</option>
                                </select>
                            </div>
                            <div class="item">
                                <select name="model" id="model">
                                    <option>Модель</option>
                                    <option value="01">kjdhsbv</option>
                                    <option value="01">kjdhsbv</option>
                                    <option value="01">kjdhsbv</option>
                                    <option value="01">kjdhsbv</option>
                                    <option value="01">kjdhsbv</option>
                                    <option value="01">kjdhsbv</option>
                                    <option value="01">kjdhsbv</option>
                                </select>
                            </div>
                            <div class="item">
                                <select name="year" id="year">
                                    <option>Год</option>
                                    <option value="01">kjdhsbv</option>
                                    <option value="01">kjdhsbv</option>
                                    <option value="01">kjdhsbv</option>
                                    <option value="01">kjdhsbv</option>
                                    <option value="01">kjdhsbv</option>
                                    <option value="01">kjdhsbv</option>
                                    <option value="01">kjdhsbv</option>
                                </select>
                            </div>

                        </div>
                        <div class="row">
                            <div class="input"><input type="text" placeholder="Название детали"></div>
                        </div>
                    </div>
                    <div class="column-r">
                        <div class="row">
                            <div class="row-title">Ваши контакты</div>
                        </div>
                        <div class="row">
                            <div class="input"><input type="text" placeholder="Имя"></div>
                        </div>
                        <div class="row">
                            <div class="input"><input type="text" placeholder="Телефон"></div>
                        </div>
                        <div class="row">
                            <button class="button"><b>Купить</b></button>
                        </div>
                    </div>
                </div>


            </form>
        </div>
    </div>
</div>