<div class="tab-wrap one">


	<div class="mbox">
		<div class="content-taba">
			<div class="imgs">
				<img src="images/tab11.png" alt="">
				<img src="images/tab12.png" alt="">
			</div>
			<div class="ramka">
				<div class="rrr"></div>
			</div>
			<div class="title">
				<h3>Выкупаем аварийные автомобили
					под восстановление или на запчасти</h3>
			</div>
			<div class="text">
				<h5>В наличии запчасти б/у, своя разборка</h5>
				<p>Начиная с 1996 года, наша кампания занимается разбором автомобилей концерна General Motors. Сегодня мы располагаем крупнейшими складами б/у запчастей для автомобилей Chevrolet, Opel, Hummer, Cadillac, GMC в Москве и Питере.</p>
				<ul>
					<li>Детали кузова</li>
					<li>Стекла</li>
					<li>Навесное оборудование</li>
					<li>Агрегаты (АКПП, двигатели, мосты и др.)</li>
					<li>Резина</li>
					<li>Бампера</li>
				</ul>
				<div class="phone">
					<h6>Все это и многое другое Вы найдете у нас.</h6>
					<a href="tel:+79060692299">+79060692299</a>
				</div>
			</div>
		</div>
	</div>
</div>