<section class="tabs" id="tabs">

        <div class="content">
            <div class="mbox">
                <div class="tabs-nav">
                    <div class="tab-but active srv_click">Сервис</div>
                    <div class="tab-but zap_click">Запчасти</div>
                    <div class="tab-but raz_click">Разборка</div>
                </div>
            </div>
            <div class="tab-content">
                <div class="one-tab active">
                    //= tab1.html
                </div>
                <div class="one-tab">
                    //= tab2.html
                </div>
                <div class="one-tab">
                    //= tab3.html
                </div>
            </div>
        </div>

</section>