<section class="top-block">
    <div class="mbox">
        <div class="content">
            <div class="top">
                <div class="logo"><img src="images/logopup.png" alt=""></div>
                <div class="txt">
                    <h1>
                        <p><b>сеть</b></p>
                        <p>специализированных</p>
                        <p><b>техцентров<img src="images/logoGM.png" alt=""></b></p>
                    </h1>
                </div>
            </div>
            <div class="bot flex-line-container">

                <div class="brand-wrap">
                    <div class="brand flex-line-container"><img src="images/opel-logo.png" alt=""></div>
                    <div class="dropdown">
                        <ul>
                            <li><a href="#marka-auto-op"><span class="txt">ANTARA</span></a></li>
                            <li><a href="#marka-auto-op"><span class="txt">ASTRA-H</span></a></li>
                            <li><a href="#marka-auto-op"><span class="txt">ASTRA-J</span></a></li>
                            <li><a href="#marka-auto-op"><span class="txt">CORSA-D</span></a></li>
                            <li><a href="#marka-auto-op"><span class="txt">INSIGNIA</span></a></li>
                            <li><a href="#marka-auto-op"><span class="txt">MERIVA</span></a></li>
                            <li><a href="#marka-auto-op"><span class="txt">MERIVA-B</span></a></li>
                            <li><a href="#marka-auto-op"><span class="txt">MOKKA</span></a></li>
                            <li><a href="#marka-auto-op"><span class="txt">ZAFIRA-A</span></a></li>
                            <li><a href="#marka-auto-op"><span class="txt">ZAFIRA-B</span></a></li>
                            <li><a href="#marka-auto-op"><span class="txt">ZAFIRA-C</span></a></li>
                        </ul>
                    </div>
                </div>
                <div class="brand-wrap">
                    <div class="brand flex-line-container"><img src="images/smurf.png" alt=""></div>
                    <div class="dropdown">
                        <ul>
                            <li><a href="#marka-auto-ch"><span class="txt">AVEO (T250/255)</span></a></li>
                            <li><a href="#marka-auto-ch"><span class="txt">AVEO (T300)</span></a></li>
                            <li><a href="#marka-auto-ch"><span class="txt">CAPTIVA</span></a></li>
                            <li><a href="#marka-auto-ch"><span class="txt">COBALT</span></a></li>
                            <li><a href="#marka-auto-ch"><span class="txt">CRUZE</span></a></li>
                            <li><a href="#marka-auto-ch"><span class="txt">EPICA</span></a></li>
                            <li><a href="#marka-auto-ch"><span class="txt">LACETTI</span></a></li>
                            <li><a href="#marka-auto-ch"><span class="txt">ORLANDO</span></a></li>
                            <li><a href="#marka-auto-ch"><span class="txt">SPARK</span></a></li>
                            <li><a href="#marka-auto-ch"><span class="txt">REZZO</span></a></li>
                            <li><a href="#marka-auto-ch"><span class="txt">MALIBU</span></a></li>
                            <li><a href="#marka-auto-ch"><span class="txt">TRACKER</span></a></li>

                        </ul>
                    </div>
                </div>

            </div>
        </div>
        <a href="#anchor-aut" class="mainhref">Автосалон</a>
    </div>
</section>