<section class="video">
	<div class="mbox video-content">
		<div class="title">
			<h4>Приглашаем Вас в наш новый техцентр</h4>
			<p>2017</p>
		</div>
		<div class="video-frame">
			<iframe id="player" type="text/html" src="https://www.youtube.com/embed/D4kioNFZDG8"></iframe>
			<div class="play"><img src="images/play.png" alt=""></div>
		</div>
		<div class="watch-all"><a href="https://www.youtube.com/channel/UCyxhO9pYUA9tR-G7jgz2Vxw" target="_blank">Посмотреть все видео<span><img src="images/youtube.png" alt=""></span></a></div>
	</div>
</section>
<section class="video">
	<div class="mbox video-content">
		<div class="title">
			<h4>Приглашаем Вас в наш новый техцентр</h4>
			<p>2017</p>
		</div>
		<div class="video-frame">
			<iframe id="player" type="text/html" src="https://www.youtube.com/embed/-J-wRFCs2lQ"></iframe>
			<div class="play"><img src="images/play.png" alt=""></div>
		</div>
		<div class="watch-all"><a href="https://www.youtube.com/channel/UCyxhO9pYUA9tR-G7jgz2Vxw" target="_blank">Посмотреть все видео<span><img src="images/youtube.png" alt=""></span></a></div>
	</div>
</section>
<section class="video">
	<div class="mbox video-content">
		<div class="title">
			<h4>Приглашаем Вас в наш новый техцентр</h4>
			<p>2017</p>
		</div>
		<div class="video-frame">
			<iframe id="player" type="text/html" src="https://www.youtube.com/embed/x9A4VqPLTgg"></iframe>
			<div class="play"><img src="images/play.png" alt=""></div>
		</div>
		<div class="watch-all"><a href="https://www.youtube.com/channel/UCyxhO9pYUA9tR-G7jgz2Vxw" target="_blank">Посмотреть все видео<span><img src="images/youtube.png" alt=""></span></a></div>
	</div>
</section>